{{#extend "page"}}page-restaurants{{/extend}}

{{#extend "body"}}
<h1>Archived Restaurants</h1>

<div id="restaurant-archive">
  <form id="archive-form" class="form">
   <div class="form-group ">
      <input type="text" class="form-control" name="id" placeholder="restaurant param id" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-archive">add to archive</button>
    </div>
  </form>

  <div id="restaurant-list">
    <div id="restaurant-list-header">
      <div class="table-list-header">
        <div class="table-list-header-title">Archive</div>
        <div class="table-list-header-actions">
        </div>
      </div>

    </div>
    <div id="restaurant-list-items">
      <ul class="table-list table-list-bordered">
        {{#each restaurants}}
        <li class="table-list-item">
          <span class="table-list-info"><a href="{{baseUrl}}/admin/restaurants/{{id}}">{{name}}</a></span>
           <span class="table-list-item-actions">
            <button class="btn btn-default btn-unarchive" data-restaurant="{{json this}}">unarchive</button>
          </span>
          <div>#{{id}} {{city}}, {{state}}</div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{/extend}}


{{#extend "scripts"}}

<script>
  require([
    'jquery-loaded'
  , 'app/views/admin/archive-view'
  ],
  function($, ArchiveView){
    var archiveView = new ArchiveView({
      el: '#restaurant-archive'
    , dataAttr: 'restaurant'
    });
  });
</script>
{{/extend}}
