{{#extend "page"}}page-restaurant{{/extend}}

{{#extend "html-title"}}{{truncate restaurant.name 10}}{{/extend}}

{{#extend "body"}}
  <h2>Basic Info</h2>

  <form class="ap-form form-vertical">
    <div class="form-group">
      <label class="control-label" for="input-name">Name
        <span class="help-block">Required</span>
      </label>
      <input type="text" class="form-control" name="name" id="input-name" value="{{restaurant.name}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-description">Description
        <span class="help-block">Displayed under the restaurant's name on the menu pages.</span>
      </label>
      <input type="text" class="form-control" name="description" id="input-description" value="{{restaurant.description}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-websites">Websites
        <span class="help-block">Separated by comma</span>
      </label>
      <input type="text" class="form-control" name="websites" id="input-websites" value="{{restaurant.websites}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-yelp">Yelp Page URL</label>
      <input type="text" class="form-control" name="yelp_business_id" id="input-yelp" value="{{config.yelp.businessBaseUrl}}/{{restaurant.yelp_business_id}}">
    </div>
    <div class="form-group">
      <label for="region_id_selector" class="control-label">Region</label>
      <select name="region_id" id="region_id_selector" type="number">
        {{#each regions}}
          <option value="{{this.id}}"{{#eq ../restaurant.region_id this.id}} selected="true"{{/eq}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="region_id_selector" class="control-label">Supported Order Types</label>
      <select name="supported_order_types"
      id="supported_order_types_selector"
      multiple="true">
        <option value="pickup"
          {{~#contains restaurant.supported_order_types 'pickup'}}
            selected="true"
          {{~/contains}}>Pickup</option>

        <option value="courier"
          {{~#contains restaurant.supported_order_types 'courier'}}
            selected="true"
          {{~/contains}}>Courier</option>

        <option value="delivery"
          {{~#contains restaurant.supported_order_types 'delivery'}}
            selected="true"
          {{~/contains}}>Delivery</option>
      </select>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-filepicker-photo">
          <label class="control-label">Logo</label>
          <img class="restaurant-img" data-name="logo_url"
            src="{{#if restaurant.logo_url}}{{restaurant.logo_url}}{{else}}{{config.defaultLogo}}{{/if}}">
          <input type="filepicker" class="form-control btn btn-default btn-block"
            name="logo_url" value="{{#if restaurant.logo_url}}{{restaurant.logo_url}}{{else}}{{config.defaultLogo}}{{/if}}"
            id="input-logo-url">
        </div>
        <div class="col-filepicker-photo">
          <label class="control-label">List Photo</label>
          <img class="restaurant-img" data-name="list_photo_url"
          src="{{#if restaurant.list_photo_url}}{{restaurant.list_photo_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}">
          <input type="filepicker" class="form-control btn btn-default btn-block"
          name="list_photo_url" value="{{#if restaurant.list_photo_url}}{{restaurant.list_photo_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}"
          id="input-list-photo-url">
        </div>
        <div class="col-filepicker-photo">
            <label class="control-label">Cover Photo</label>
            <img class="restaurant-img" data-name="cover_photo_url"
              src="{{#if restaurant.cover_photo_url}}{{restaurant.cover_photo_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}">
            <input type="filepicker" class="form-control btn btn-default btn-block"
            id="input-cover-photo-url" name="cover_photo_url"
            value="{{#if restaurant.cover_photo_url}}{{restaurant.cover_photo_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="input-hidden">
        <input type="checkbox" class="form-control" name="is_hidden" id="input-hidden" {{#if restaurant.is_hidden}}checked="checked"{{/if}}>
        Hidden from listing
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="input-archived">
        <input type="checkbox" class="form-control" name="is_archived" id="input-archived" {{#if restaurant.is_archived}}checked="checked"{{/if}}>
        Archive
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="input-featured">
        <input type="checkbox" class="form-control" name="is_featured" id="input-featured" {{#if restaurant.is_featured}}checked="checked"{{/if}}>
        Featured
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="input-accepts-tips">
        <input type="checkbox" class="form-control" name="accepts_tips" id="input-accepts-tips" {{#if restaurant.accepts_tips}}checked="checked"{{/if}}>
        Accepts Tips
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="input-accepts-item-labels">
        <input type="checkbox" class="form-control" name="accepts_item_labels" id="input-accepts-item-labels" {{#if restaurant.accepts_item_labels}}checked="checked"{{/if}}>
        Accepts Item Labels
      </label>
    </div>
    <div class="form-group actions">
      <button class="btn-update" type="submit">Update</button>
      <button class="btn btn-default" type="button" id="auto-magic">Auto Magicka!</button>
    </div>
  </form>
{{/extend}}

{{#extend "scripts"}}
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">filepicker.setKey('{{config.filepicker.key}}');</script>
<script>
  // Init views on this page
  require( ['app/pages/admin/restaurant/edit-basic-info', 'app/models/restaurant'], function( page, Restaurant ){
    page.init({
      models: { restaurant: new Restaurant({{{json restaurant}}}) }
    });
  });
</script>
{{/extend}}
