{{#extend "page"}}page-restaurants{{/extend}}

{{#extend "body"}}
<h1>Edit Restaurants</h1>
<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{#notEmpty reqQuery}}
<a href="/admin/restaurants/" class="table-list-clear">
  <span class="gb-icon-x-mark"></span>
  <span>Clear current sorting and filtering<span>
</a>
{{/notEmpty}}
<div id="restaurant-list">
  <div id="restaurant-list-header">
    <div class="table-list-header">
      <div class="table-list-header-title">Restaurants</div>
      <div class="table-list-header-actions">
        {{> admin_restaurant_filter_region }}
        {{> admin_restaurant_filter_visible }}
        {{> admin_restaurant_filter_sort }}
      </div>
    </div>

  </div>
  <div id="restaurant-list-items">
    <ul class="table-list table-list-bordered">
      {{#each restaurants}}
      <li class="table-list-item" data-id="{{id}}" data-restaurant="{{json this}}">
        <span class="table-list-info"><a href="{{baseUrl}}/admin/restaurants/{{id}}">{{name}}</a></span>
        <span class="table-list-item-actions">
          <a class="table-list-item-action is-hidden-toggle" href="#" data-toggle="tooltip" data-title="Toggle Visibility">
            <span class="gb-icon-eye-slash icon-large {{#unless is_hidden}}hide{{/unless}}"></span>
            <span class="gb-icon-eye icon-large {{#if is_hidden}}hide{{/if}}"></span>
          <a class="table-list-item-action" href="{{baseUrl}}/admin/restaurants/{{id}}/contacts" data-toggle="tooltip" data-title="View Contacts"><span class="gb-icon-user icon-large"></span></a>
          <button class="btn btn-default is-archived-toggle">{{#if is_archived}} unarchive {{else}} archive {{/if}}</button>
        </span>
        <div>#{{id}} {{city}}, {{state}}</div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{/extend}}

{{#extend "scripts"}}
<script>
  require([
    'jquery-loaded'
  , 'app/views/admin/item-manager-view'
  , 'app/models/restaurant'
  ],
  function($, ItemManagerView, Restaurant){
    var ItemManagerView = new ItemManagerView({
      el: '#restaurant-list'
    , model: Restaurant
    , dataAttr: 'restaurant'
    });
  });
</script>
{{/extend}}
