{{#extend "page"}}page-restaurants{{/extend}}

{{#extend "body"}}
<h1>Edit Restaurants</h1>
<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{#notEmpty reqQuery}}
<a href="/admin/restaurants/" class="table-list-clear">
  <span class="gb-icon-x-mark"></span>
  <span>Clear current sorting and filtering<span>
</a>
{{/notEmpty}}


<div class="table-list" id="restaurant-list">
  <div class="list-header" id="restaurant-list-header">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
  
    <div class="component list-info">
      <div class="num-results">{{restaurants.length}} Restaurants</div>
      <div class="sort-info">Sorted by Name Desc</div>
    </div>
  
    <ul class="component list-nav nav">
      {{> admin_restaurant_filter_region }}
      {{> admin_restaurant_filter_visible }}
      {{> admin_restaurant_filter_sort }}
    </ul>
  </div>
  <div class="list-items" id="restaurant-list-items">
    {{#each restaurants}}
    <div class="list-item" data-restaurant="{{json this}}">
      <label class="component item-selector">
        <input type="checkbox">
      </label>
      <div class="component main">
        <a class="item-title" href="{{config.baseUrl}}/admin/restaurants/{{id}}">{{name}}</a>
        <div class="item-details">#{{id}} {{city}}, {{state}}</div>
      </div>
      <div class="component actions">
        <a class="table-list-item-action" href="{{baseUrl}}/restaurants/{{id}}" data-toggle="tooltip" data-title="View Menu"><span class="gb-icon-menu icon-large"></span>
        </a>
        <a class="table-list-item-action is-hidden-toggle" href="#" data-toggle="tooltip" data-title="Toggle Visibility">
          <span class="is-hidden-icon gb-icon-eye-slash icon-large {{#unless is_hidden}}hide{{/unless}}"></span>
          <span class="is-hidden-icon gb-icon-eye icon-large {{#if is_hidden}}hide{{/if}}"></span>
        </a>
        <a class="table-list-item-action is-featured-toggle" href="#" data-toggle="tooltip" data-title="Toggle Featured Restaurant">
          <span class="is-featured-icon gb-icon-star icon-large {{#unless is_featured}}hide{{/unless}}"></span>
          <span class="is-featured-icon gb-icon-star-empty icon-large {{#if is_featured}}hide{{/if}}"></span>
        </a>
        <a class="table-list-item-action" href="{{baseUrl}}/admin/restaurants/{{id}}/contacts" data-toggle="tooltip" data-title="View Contacts"><span class="gb-icon-user icon-large"></span></a>
        <button class="table-list-item-action btn btn-default is-archived-toggle">{{#if is_archived}} unarchive {{else}} archive {{/if}}</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{/extend}}

{{#extend "scripts"}}
<script>
  require([
    'jquery-loaded'
  , 'app/views/admin/table-list-view'
  , 'app/views/admin/edit-restaurants-view'
  , 'app/models/restaurant'
  ],
  function($,TableListView, EditRestaurantsView, Restaurant){

    // Enable plugins
    $('[data-role="popover"]').gb_popover();
    $('[data-toggle="tooltip"]').tooltip();

    var TableListView = new TableListView({
      el: '#restaurant-list'
    , model: Restaurant
    , dataAttr: 'restaurant'
    , itemView: EditRestaurantsView
    });
  });
</script>
{{/extend}}
