{{#extend "page"}}page-delivery-settings{{/extend}}
{{#extend "html-title"}}{{truncate restaurant.name 10}}{{/extend}}
{{#extend "body"}}
  <section id="delivery-settings-form">
    <h2>Delivery Settings</h2>
    <form class="ap-form form-vertical">
      <div class="form-group">
        <label class="control-label" for="input-name">Minimum Order</label>
        <div class="input-group">
          <span class="input-addon">$</span>
          <input type="number" step="0.01" class="form-control minimum-order" name="minimum_order" value="{{dollars restaurant.minimum_order}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="input-name">Delivery Zip Codes
          <span class="help-block">List of zip codes restaurant will
          deliver to. Please enter as a comma separated list.</span>
        </label>
        {{#each restaurant.delivery_zip_groups}}
        <div class="delivery-zip-group">
          <div class="input-group input-group-top">
            <span class="input-addon">$</span>
            <input type="number" step="0.01" class="form-control" name="fee" id="input-minimum-order" value="{{dollars fee}}">
          </div>
          <div class="input-group input-group-bottom">
            <input type="text" class="form-control" name="zips" value="{{array zips}}" placeholder="Ex. 78735, 78745">
          </div>
          <button class="btn-remove-delivery-tier">X</button>
        </div>
        {{else}}
        <div class="delivery-zip-group">
          <div class="input-group input-group-top">
            <span class="input-addon">$</span>
            <input type="text" class="form-control" name="fee" id="input-minimum-order" value="{{dollars fee}}">
          </div>
          <div class="input-group input-group-bottom">
            <input type="text" class="form-control" name="zips" value="{{array zips}}" placeholder="Ex. 78735, 78745">
          </div>
        </div>
        {{/each}}
      </div>
      <div class="form-group">
        <button class="btn-add-delivery-tier">Add New Delivery Area</button>
      </div>
      <div class="form-group">
        <button class="btn-update" type="submit">Update</button>
      </div>
    </form>
  </section>

  <section id="delivery-times-form">
    <h2>Delivery Hours</h2>
    <form class="ap-form ap-lead-times form-vertical form-delivery-settings" action="/restaurants/{{restaurant.id}}/edit" method="POST">
      <input type="hidden" name="_method" value="PUT">

      {{#each restaurant.delivery_times}}
      <div class="delivery-time">
        <div class="col-day">{{weekday @key}}</div>
        <div id="delivery-hours-{{@key}}" class="hours-day col-times">
          {{> hours_day }}
        </div>
      </div>
      {{/each}}

      <h2>Lead Times</h2>
      <div class="lead-times-list">
        {{#each restaurant.lead_times}}
        {{> lead_time}}
        {{/each}}
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-tertiary add-lead-time">
          Add Restriction</button>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          Update</button>
      </div>
    </form>
  </section>
{{/extend}}

{{#extend "scripts"}}

<script>
  require( ['app/pages/admin/restaurant/edit-delivery-settings', 'app/models/restaurant'], function( page, Restaurant ){
    page.init({
      models: {
        restaurant: new Restaurant({{{json restaurant}}})
      }
    });
  });
</script>
{{/extend}}
