{{#extend "page"}}page-restaurants{{/extend}}

{{#extend "body"}}
<h1>Edit Restaurants</h1>
<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{#notEmpty reqQuery}}
<a href="/admin/restaurants/" class="table-list-clear">
  <span class="gb-icon-x-mark"></span>
  <span>Clear current sorting and filtering<span>
</a>
{{/notEmpty}}
<div id="restaurant-list">
  <div id="restaurant-list-header">
    <div class="table-list-header">
      <div class="table-list-header-title">Restaurants</div>
      <div class="table-list-header-actions">
        {{> admin_restaurant_filter_region }}
        {{> admin_restaurant_filter_visible }}
        {{> admin_restaurant_filter_sort }}
      </div>
    </div>

  </div>
  <div id="restaurant-list-items">
    <ul class="table-list table-list-bordered">
      {{#each restaurants}}
      <a class="table-list-item" href="{{baseUrl}}/admin/restaurants/{{id}}">
        <li>
          <div>
            <span class="table-list-info">{{name}}</span>
            <div class="pull-right">
              {{#if is_hidden}}
              <span class="gb-icon-eye-slash icon-large"></span>
              {{/if}}
            </div>
          </div>
          <div>#{{id}} {{city}}, {{state}}</div>
        </li>
      </a>
      {{/each}}
    </ul>
  </div>
</div>

<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{/extend}}

{{#extend "scripts"}}
<script>
  require([
    'jquery-loaded'
  , 'app/views/admin/table-list-view'
  ],
  function($, TableListView){
    var tableListView = new TableListView({
      el: '#restaurant-list'
    });
  });
</script>
{{/extend}}
