{{#extend "body"}}
  <h2>Basic Info</h2>

  <form class="ap-form form-vertical">
    <div class="form-group">
      <label class="control-label" for="input-name">Name
        <span class="help-block">Required</span>
      </label>
      <input type="text" class="form-control" name="name" id="input-name" value="{{restaurant.name}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-description">Description
        <span class="help-block">Displayed under the restaurant's name on the menu pages.</span>
      </label>
      <input type="text" class="form-control" name="description" id="input-description" value="{{restaurant.description}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-websites">Websites
        <span class="help-block">Separated by comma</span>
      </label>
      <input type="text" class="form-control" name="websites" id="input-websites" value="{{restaurant.websites}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-yelp">Yelp Page URL</label>
      <input type="text" class="form-control" name="yelp_business_id" id="input-yelp" value="{{config.yelp.businessBaseUrl}}/{{restaurant.yelp_business_id}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="input-head_count_delivery_service_threshold">Head Count Delivery Service Threshold
        <span class="help-block">When performing a search or creating an order, anything under this value will use ASAP order mechanics (pickup lead times and delivery service). Anything over will use normal restaurant delivery mechanics</span>
      </label>
      <input type="text" class="form-control" name="head_count_delivery_service_threshold" id="input-head_count_delivery_service_threshold" value="{{restaurant.head_count_delivery_service_threshold}}">
    </div>
    <div class="form-group">
      <label for="region_id_selector" class="control-label">Region</label>
      <select name="region_id" id="region_id_selector">
        {{#each regions}}
          <option value="{{this.id}}"{{#eq ../restaurant.region_id this.id}} selected="true"{{/eq}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-logo-color">
          <label class="control-label">Logo</label>
          <img class="restaurant-logo-img" data-name="logo_url"
            src="{{#if restaurant.logo_url}}{{restaurant.logo_url}}{{else}}{{config.defaultLogo}}{{/if}}">
          <input type="filepicker" class="form-control btn btn-default btn-block"
            name="logo_url" value="{{#if restaurant.logo_url}}{{restaurant.logo_url}}{{else}}{{config.defaultLogo}}{{/if}}"
            id="input-logo-url">
        </div>
        <div class="col-logo-mono">
          <label class="control-label">Monochromatic Logo</label>
          <img class="restaurant-logo-img" data-name="logo_mono_url"
            src="{{#if restaurant.logo_mono_url}}{{restaurant.logo_mono_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}">
          <input type="filepicker" class="form-control btn btn-default btn-block"
            name="logo_mono_url" value="{{#if restaurant.logo_mono_url}}{{restaurant.logo_mono_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}"
            id="input-mono-logo-url">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="input-hidden">
        <input type="checkbox" class="form-control" name="is_hidden" id="input-hidden" {{#if restaurant.is_hidden}}checked="checked"{{/if}}>
         Hidden from listing
      </label>
    </div>
    <div class="actions">
      <button class="btn-update" type="submit">Update</button>
    </div>
  </form>
{{/extend}}

{{#extend "scripts"}}
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">filepicker.setKey('{{config.filepicker.key}}');</script>
<script>
  // Init views on this page
  require( ['app/pages/admin/restaurant/edit-basic-info', 'app/models/restaurant'], function( page, Restaurant ){
    page.init({
      models: { restaurant: new Restaurant({{{json restaurant}}}) }
    });
  });
</script>
{{/extend}}