{{#extend "page"}}page-restaurants{{/extend}}

{{#extend "body"}}
<h1>Edit Restaurants</h1>
<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{#notEmpty reqQuery}}
<a href="/admin/restaurants/" class="table-list-clear">
  <span class="gb-icon-x-mark"></span>
  <span>Clear current sorting and filtering<span>
</a>
{{/notEmpty}}
<div class="table-list" id="restaurant-list">
  <div class="list-header" id="restaurant-list-header">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
  
    <div class="component list-info">
      <div class="num-results">{{restaurants.length}} Restaurants</div>
      <div class="sort-info">Sorted by Name Desc</div>
    </div>
  
    <ul class="component list-nav nav">
      {{> admin_restaurant_filter_region }}
      {{> admin_restaurant_filter_visible }}
      {{> admin_restaurant_filter_sort }}
    </ul>
  </div>
  <div class="list-items">
    {{#each restaurants}}
    <div class="list-item" data-restaurant="{{json this}}">
      <label class="component item-selector">
        <input type="checkbox">
      </label>
      <div class="component main">
        <a class="item-title" href="{{config.baseUrl}}/admin/restaurants/{{id}}">{{name}}</a>
        <div class="item-details">#{{id}} {{city}}, {{state}}</div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<p class="actions">
  <a href="/admin/restaurants/create" class="btn btn-primary">New Restaurant</a>
</p>

{{/extend}}

{{#extend "scripts"}}
<script>
  require([
    'jquery-loaded'
  , 'app/views/admin/table-list-view'
  , 'app/views/admin/toggle-hidden-view'
  , 'app/models/restaurant'
  ],
  function($, TableListView, ToggleHiddenView, Restaurant){
    var tableListView = new TableListView({
      el: '#restaurant-list'
    , model: Restaurant
    , dataAttr: 'restaurant'
    , itemView: ToggleHiddenView
    });
  });
</script>
{{/extend}}
