{{#extend "page"}}page-restaurant{{/extend}}

{{#extend "body"}}
  <marquee><h2>{{restaurant.name }} Dashboard</h2></marquee>
  <p>It's happening!!!!!</p>

  <h3>Notes</h3>
  <form>
    <input type="text" placeholder="leave a note here"></input>
    <p class="actions">
      <button class="btn btn-default">Submit</button>
    </p>
  </form>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Added</th>
      <th>Comment</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurant.notes}}
    <tr>
      <td>{{datepart created_at}} {{timepart created_at}}</td>
      <td>{{note}}</td>
      <td><a href="/admin/users/{{user.id}}">{{user.name}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/extend}}

{{#extend "scripts"}}
<script>
</script>
{{/extend}}
