{{#extend "page"}}page-restaurant-locations{{/extend}}

{{#extend "html-title"}}{{truncate restaurant.name 10}}{{/extend}}
{{#extend "banner"}}
  <div class="container">
    <ul class="breadcrumbs main-breadcrumbs">
      <li>
        <a href="/admin">Admin Panel</a>
      </li>
      <li>
        <a href="/admin/restaurants">Restaurants</a>
      </li>
      <li>
        <a href="/admin/restaurants/{{restaurant.id}}">
          {{restaurant.name}}
        </a>
      </li>
      <li>
        <a href="/admin/restaurants/{{restaurant.id}}/locations">
          Locations
        </a>
      </li>
      <li>New</li>
    </ul>

    <h1>Edit Location - {{restaurant_location.name}}</h1>
  </div>
{{/extend}}

{{#extend "nav-col"}}
<nav>{{> restaurant_edit_nav}}</nav>
{{/extend}}

{{#extend "body"}}
<h2>Basic Info</h2>

<form id="edit-item-form"
  action="{{sidebarNav.baseUrl}}"
  method="POST"
  class="form ap-form form-vertical">
  {{> admin_restaurant_location_basic_info_form}}
</form>
{{/extend}}

{{#extend "scripts"}}
{{> admin_item_form}}
<script>
  require( ['item-form'], function( form ){
    form.on('item:saved', function( model ){
      console.log('saved!');
    });
  });
</script>
{{/extend}}
