{{#extend "page"}}page-payment-summaries{{/extend}}

{{#extend "html-title"}}{{truncate restaurant.name 10}}{{/extend}}
{{#extend "banner"}}
  <div class="container">
    <ul class="breadcrumbs main-breadcrumbs">
      <li>
        <a href="/admin">Admin Panel</a>
      </li>
      <li>
        <a href="/admin/restaurants">Restaurants</a>
      </li>
      <li>
        <a href="/admin/restaurants/{{restaurant.id}}">
          {{restaurant.name}}
        </a>
      </li>
      <li>Payment Summaries</li>
    </ul>
  </div>
{{/extend}}

{{#extend "nav-col"}}
<nav>{{> restaurant_edit_nav}}</nav>
{{/extend}}

{{#extend "body"}}
<h1 class="page-title">Payment Summaries</h1>
<div class="table-list payment-summaries-table-list striped">
  <div class="list-header">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component list-info">
      {{restaurant.payment_summaries.length}} Payment Summar
      {{~#unless (eq restaurant.payment_summaries.length 1)}}ies{{else}}y{{/unless}}
    </div>
    <ul class="component list-nav nav">
      <li class="selected-only popover-wrapper gb-dropdown right">
        <a data-role="popover" data-target="dropdown-popover" href="#">
          Set Status
          <i class="gb-icon-caret-down"></i>
        </a>
        <div class="popover-modal dropdown-popover">
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="pending">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Pending</span>
          </a>
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="emailed">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Emailed</span>
          </a>
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="paid">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Paid</span>
          </a>
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="error">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Error</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="list-items">
  {{#each restaurant.payment_summaries}}
    <div class="list-item" data-payment-summary-id="{{this.id}}">
      <label class="component item-selector">
        <input type="checkbox">
      </label>
      <div class="component main">
        <a href="/payment-summaries/ps-{{this.id}}.pdf" class="item-title" target="_blank">#{{this.id}}</a>
        <span class="label-tag label-status small {{this.status}}">{{capitalize this.status}}</span>
        <dl class="item-details dl-horizontal-auto">
          <div>
            <dt>Billing Period:</dt>
            <dd>{{datepart this.period_begin}} -
                {{datepart this.period_end~}}</dd>
          </div>
        </dl>
        <div class="more-actions-and-info bottom">
          <button
            class="action btn-default"
            data-payment-summary-id="{{this.id}}"
            data-action="delete">Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'jquery'
, 'api'
, 'utils'
, 'app/views/admin/invoice-table'
, 'table-list'
], function( $, api, utils, invoiceTable ) {
  api.invoices = api('invoices');

  $(function(){
    var $tableList = $('.table-list');
    $tableList.gb_tablelist();
    $('[data-role="popover"]').gb_popover();

    invoiceTable( $tableList );
  });
});
</script>
{{/extend}}
