{{#extend "page"}}page-payment-summaries{{/extend}}

{{#extend "html-title"}}{{truncate restaurant.name 10}}{{/extend}}
{{#extend "banner"}}
  <div class="container">
    <ul class="breadcrumbs main-breadcrumbs">
      <li>
        <a href="/admin">Admin Panel</a>
      </li>
      <li>
        <a href="/admin/restaurants">Restaurants</a>
      </li>
      <li>
        <a href="/admin/restaurants/{{restaurant.id}}">
          {{restaurant.name}}
        </a>
      </li>
      <li>Payment Summaries</li>
    </ul>
  </div>
{{/extend}}

{{#extend "nav-col"}}
<nav>{{> restaurant_edit_nav}}</nav>
{{/extend}}

{{#partial "list-item"}}
<div class="list-item" data-payment-summary-id="{{this.id}}">
  <label class="component item-selector">
    <input type="checkbox">
  </label>
  <div class="component main">
    <a href="/payment-summaries/ps-{{this.id}}.pdf" class="item-title" target="_blank">#{{this.id}}</a>
    <span class="label-tag label-status small {{this.status}}">{{capitalize this.status}}</span>
    <dl class="item-details dl-horizontal-auto">
      <div>
        <dt>Billing Period:</dt>
        <dd>{{datepart this.period_begin}} -
            {{datepart this.period_end~}}</dd>
      </div>
    </dl>
    <div class="more-actions-and-info bottom">
      <button
        class="action btn-default"
        data-id="{{this.id}}"
        data-action="delete">Delete</button>
    </div>
  </div>
</div>
{{/partial}}

{{#extend "body"}}
<h1 class="page-title">Payment Summaries</h1>
<div class="panel-component panel-island panel-create">
  <form class="form-horizontal og-range-processor" id="range-processor">
    <div class="errors hide"></div>

    <div class="form-group">
      <label>From</label>
      <input type="date" name="from">
    </div>
    <div class="form-group">
      <label>To</label>
      <input type="date" name="to">
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Create</button>
      <button class="btn btn-default btn-cancel hide">Cancel</button>
    </div>
  </form>

  <div class="progress-indicator hide">
    <div class="indicator"></div>
  </div>
</div>
<div class="table-list payment-summaries-table-list striped">
  <div class="list-header">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component list-info">
      {{restaurant.payment_summaries.length}} Payment Summar
      {{~#if (eq restaurant.payment_summaries.length 1)}}y{{else}}ies{{/if}}
    </div>
  </div>
  <div class="list-items">
  {{#each restaurant.payment_summaries}}
    {{{partial "list-item"}}}
  {{/each}}
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script type="text/x-handlebars-template" id="list-item-template">
  {{{partial "list-item"}}}
</script>

<script>
require([
  'jquery'
, 'handlebars'
, 'api'
, 'utils'
, 'flash'
, 'app/views/admin/payment-summaries-table'
, 'app/views/admin/og-range-selector'
, 'table-list'
], function( $, handlebars, api, utils, flash, pmsTable, RangeSelector ) {
  var range = new RangeSelector();

  var listItemTemplate = handlebars.compile(
    document.getElementById('list-item-template').innerHTML
  );

  range.on( 'submit', function( range ){
    api('restaurants')( {{restaurant.id}} )('payment-summaries').post({
      period_begin: range.from
    , period_end:   range.to
    }, function( error, result ){
      if ( error ){
        console.error( error );
        return flash.info([
          'Error :(<br>'
        , '<small class="really-small">Press CMD+Alt+J</small>'
        ].join(''), 1000 );
      }
    });

  $(function(){
    var $tableList = $('.table-list');
    $tableList.gb_tablelist();
    $('[data-role="popover"]').gb_popover();

    range.setElement('#range-processor');

    pmsTable( $tableList, { restaurant_id: {{restaurant.id}} });
    });
  });
});
</script>
{{/extend}}
