<!DOCTYPE html>
<html>
  <head>
    {{> admin_title}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Goodybag Catering CSS Stuff -->
    <link rel="stylesheet" href="{{cdn (format '/dist/<%= version %>/css/admin.css' pkg)}}">

    {{{block "css"}}}

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{cdn "/css/ie-lte-9.css"}}">
    <![endif]-->
  </head>
  <body class="page {{{block "page"}}}">
    {{> admin_navbar}}

    {{{block "banner"}}}

    <div id="main">
      <div class="restaurant-edit">
        <div class="container">
          {{{block "body"}}}
        </div>
      <footer class="footer">
        <ul class="nav footer-nav">
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="/contact-us">Request to be a caterer</a></li>
          <li><a href="/legal">Terms of service</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
        </ul>
      </footer>
    </div>

    {{#unless config.isDev}}
    <script src="{{cdn (format 'dist/<%= version %>/admin.js' pkg)}}"></script>
    {{else}}
    <script src="/components/requirejs/require.js"></script>
    <script src="/js/require-config.js"></script>
    {{/unless}}

    {{> config}}

    {{{block "views"}}}
    {{{block "bootstrap"}}}
    {{{block "scripts"}}}
  </body>
</html>
