<!DOCTYPE html>
<html>
  <head>
    {{> admin_title}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Goodybag Catering CSS Stuff -->
    <link rel="stylesheet" href="{{cdn (format '/dist/<%= version %>/css/admin.css' pkg)}}">

    {{{block "css"}}}

    <!--[if lt IE 9]>
    <script src="{{cdn "/components/html5shiv/dist/html5shiv.js"}}"></script>
    <script src="{{cdn "/components/es5-shim/es5-shim.js"}}"></script>
    <script src="{{cdn "/components/es5-shim/es5-sham.js"}}"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{cdn "/css/ie-lte-9.css"}}">
    <![endif]-->
  </head>
  <body class="page {{{block "page"}}}">
    {{> admin_navbar}}

    {{{block "banner"}}}

    <div id="main">
      {{{block "body"}}}
    </div>

    {{#unless config.isDev}}
    <script src="{{cdn (format 'dist/<%= version %>/admin.js' pkg)}}"></script>
    {{else}}
    <script src="/components/requirejs/require.js"></script>
    <script src="/js/require-config.js"></script>
    {{/unless}}

    {{> rollbar}}
    {{> config}}

    {{{block "views"}}}
    {{{block "bootstrap"}}}
    {{{block "scripts"}}}
  </body>
</html>
