<!DOCTYPE html>
<html>
  <head>
    <title>[Admin] Goodybag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Select2 -->
    <link href="/components/select2/select2.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Fonts -->
    <link href="/css/gb-icon.css" rel="stylesheet">
    <link href="/css/aleo.css" rel="stylesheet">
    <link href="/css/proxima-nova.css" rel="stylesheet">

    <!-- pickadate -->
    <link href="/components/lalitkapoor-pickadate/lib/themes/classic.css" rel="stylesheet">
    <link href="/components/lalitkapoor-pickadate/lib/themes/classic.date.css" rel="stylesheet">
    <link href="/components/lalitkapoor-pickadate/lib/themes/classic.time.css" rel="stylesheet">

    <!-- Moar Convenient CSS Stuff -->
    <link href="/css/kit.css" rel="stylesheet">

    <!-- Goodybag Catering CSS Stuff -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/components.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    {{{block "css"}}}

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ie-lte-9.css">
    <![endif]-->
  </head>
  <body>
    <header id="header" class="navbar {{#if session.oldUser}}navbar-impersonate{{/if}}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <a class="navbar-brand" href="/">
              <img src="/img/logo.png" alt="Goodybag">
            </a>
            {{#if user.id}}
            <ul class="nav navbar-nav pull-right">
              {{#contains user.groups 'restaurant'}}
                <li><a href="/restaurants/manage">Home</a></li>
              {{else}}
                <li><a href="/restaurants">Home</a></li>
              {{/contains}}
              {{#if session.oldUser}}
              <li>
                <a href="/users/return" class="users-return navbar-btn">
                  Return to {{session.oldUser.name}}
                </a>
              </li>
              {{/if}}
              <li class="nav-account dropdown">
                <button class="btn btn-default navbar-btn dropdown-toggle pull-right" data-toggle="dropdown">
                  {{#if user.name }} {{ user.name }} {{else}} My Account {{/if}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/users/me">My Settings</a></li>
                  <li><a href="/users/me/orders">My Orders</a></li>
                  <li><a href="/auth/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
            {{/if}}
          </div>
        </div>
      </div>
    </header>

    {{{block "banner"}}}

    <div id="main">
      {{{block "body"}}}
    </div>

    <script src="/js/require-config.js"></script>
    <script src="/components/requirejs/require.js"></script>

    {{{block "views"}}}
    {{{block "scripts"}}}
  </body>
</html>
