{{#extend "page"}}page-order{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <div class="page-header">
    <ul class="breadcrumbs main-breadcrumbs">
      <li>
        <a href="/admin">Admin Panel</a>
      </li>
      <li>
        <a href="/orders">Orders</a>
      </li>
      <li>Order <a href="/orders/{{order.id}}">#{{order.id}}</a> Command Center</li>
    </ul>

    <div class="dropdown-actions">
      <div class="form-group form-group-inline form-group-location">
        <select name="restaurant_location_id" id="order-restaurant_location_id" class="form-control">
          <option value="null"
            {{~#unless this.id}} selected="true"{{/unless}}>None</option>
          {{#each order.restaurant.locations}}
            <option value="{{this.id}}"
            {{~#eq ../order.restaurant_location_id this.id}} selected="true"{{/eq}}>Location: {{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group form-group-inline form-group-type">
        <select name="order_type" id="order-type" class="form-control">
          <option value="pickup"{{#eq order.type 'pickup'}} selected="true"{{/eq}}>Type: Pickup</option>
          <option value="delivery"{{#eq order.type 'delivery'}} selected="true"{{/eq}}>Type: Delivery</option>
          <option value="courier"{{#eq order.type 'courier'}} selected="true"{{/eq}}>Type: Courier Service</option>
          <option value="pickup silent">Type: Pickup (No Notifications)</option>
          <option value="delivery silent">Type: Delivery (No Notifications)</option>
          <option value="courier silent">Type: Courier Service (No Notifications)</option>
        </select>
      </div>
    </div>
  </div>


  <div>
    <section class="panel-component" id="order-user">
      <h1 class="component-title">User</h1>
      <dl class="user-profile dl-horizontal">
        <dt>Name</dt>
        <dd>
          <a href="/admin/users/{{order.user.id}}">{{#if order.user.name}} {{order.user.name}} {{else}} No name provided {{/if}}</a>
        </dd>
        <dt>Email</dt>
        <dd>{{order.user.email}}</dd>
        <dt>Organization</dt>
        <dd>{{order.user.organization}}</dd>
        <dt>Contact</dt>
        <dd>{{phoneNumber order.phone}}</dd>
        {{#if order.secondary_contact_phone }}
        <dt>Secondary Contact</dt>
        <dd>{{phoneNumber order.secondary_contact_phone}}</dd>
        {{/if}}
      </dl>
    </section>

    <section class="panel-component" id="order-restaurant">
      <h1 class="component-title">Details</h1>
      <dl class="user-profile dl-horizontal">
        <dt>Total</dt>
        <dd>${{dollars order.total}}</dd>
        <dt>Restaurant</dt>
        <dd>
          <a href="/restaurants/{{order.restaurant.id}}">{{order.restaurant.name}}</a>
        </dd>
        <dt>Review Link</dt>
        <dd><a href="{{config.baseUrl}}/orders/{{order.id}}?review_token={{order.review_token}}">/orders/{{order.id}}?review_token={{order.review_token}}</a></dd>
        <dt>Delivery Time</dt>
        <dd>{{formatDateTime order.datetime "MM/DD/YYYY h:mm A"}} {{formatDateTimeWithTz order.datetime order.timezone "z"}}</dd>

        {{#is order.type 'pickup' 'courier'}}
          <dt>Pickup Time</dt>
          <dd>{{formatDateTime order.pickup_datetime "MM/DD/YYYY h:mm A"}} {{formatDateTimeWithTz order.pickup_datetime order.timezone "z"}}</dd>
        {{/is}}
        <dt>Payment Status</dt>
        <dd>
          <span class="status-circle {{order.payment_status}}"></span>
          <span>{{or (capitalize order.payment_status) 'Pending'}}</span>
        </dd>
      </dl>

      {{#eq order.type 'courier'}}
        <h2 class="sub-component-title">Why is this a courier order?</h2>
        <ul>
          {{#if order.courierReasons}}
          {{#each order.courierReasons}}
            <li>{{> courier_reasoning}}</li>
          {{/each}}
          {{else}}
            <li>I honestly do not know</li>
          {{/if}}
        </ul>
      {{/eq}}
    </section>
  </div>

  <section class="panel-component" id="order-pdfs">
    <h1 class="component-title">Available Pdfs</h1>
    <div class="pdf-previews">
      <div class="pdf-preview" data-order-id="{{order.id}}" data-type="receipt">
        <div class="pdf-preview-header">
          <h3 class="pdf-preview-title">Receipt</h3>
          <ul class="nav nav-tabs nav-tabs-sm">
            <li>
              <a href="#" class="rebuild-pdf">Re-Build PDF</a>
            </li>
            <li>
              <a href="#" class="refresh">Refresh</a>
            </li>
            <li>
              <a href="{{config.baseUrl}}/receipts/order-{{order.id}}.pdf" target="_blank">View</a>
            </li>
          </ul>
        </div>
        <div class="pdf-preview-alert"></div>
        <iframe src="{{config.baseUrl}}/receipts/order-{{order.id}}.pdf" frameborder="0"></iframe>
      </div>
      <div class="pdf-preview" data-order-id="{{order.id}}" data-type="manifest">
        <div class="pdf-preview-header">
          <h3 class="pdf-preview-title">Manifest</h3>
          <ul class="nav nav-tabs nav-tabs-sm">
            <li>
              <a href="#" class="rebuild-pdf">Re-Build PDF</a>
            </li>
            <li>
              <a href="#" class="refresh">Refresh</a>
            </li>
            <li>
              <a href="{{config.baseUrl}}/manifests/manifest-{{order.id}}.pdf" target="_blank">View</a>
            </li>
          </ul>
        </div>
        <div class="pdf-preview-alert"></div>
        <iframe src="{{config.baseUrl}}/manifests/manifest-{{order.id}}.pdf" frameborder="0"></iframe>
      </div>
    </div>
  </section>

  <section class="panel-component" id="order-notifications">
    <h1 class="component-title">Notifications</h1>
    <ul class="component-nav nav nav-tabs">
      <li class="active">
        <a href="#notifications-history" data-toggle="tab">History</a>
      </li>
      <li>
        <a href="#notifications-available" data-toggle="tab">Available</a>
      </li>
    </ul>
    <div class="component-content tab-content">
      <div class="tab-pane active" id="notifications-history">
        <p>This is a history of notifications for order #{{order.id}}.</p>
        <table class="table notifications-table" id="notifications-history-table"></table>
      </div>

      <div class="tab-pane" id="notifications-available">
        <p>This is a list of available notifications for order #{{order.id}}.</p>
        <table class="table notifications-table" id="notifications-table"></table>
      </div>
    </div>
  </section>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/admin/order', 'app/models/order'], function( page, Order ){
    page.init({
      order: new Order( {{{json order}}} )
    });
  });
</script>
{{/extend}}
