{{#extend "page"}}page-order{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin">Admin Panel</a>
    </li>
    <li>
      <a href="/orders">Orders</a>
    </li>
    <li><a href="/orders/{{order.id}}">Order #{{order.id}}</a> Command Center</li>
  </ul>

  <section class="panel-component" id="order-user">
    <h1 class="component-title">User</h1>
    <dl class="user-profile dl-horizontal">
      <dt>Name</dt>
      <dd>
        <a href="/users/{{order.user.id}}">{{order.user.name}}</a>
      </dd>
    </dl>
  </section>

  <section class="panel-component" id="order-pdfs">
    <h1 class="component-title">Available Pdfs</h1>
    <div class="pdf-previews">
      <div class="pdf-preview" data-order-id="{{order.id}}" data-type="receipt">
        <div class="pdf-preview-header">
          <h3 class="pdf-preview-title">Receipt</h3>
          <ul class="nav nav-tabs nav-tabs-sm">
            <li>
              <a href="#" class="rebuild-pdf">Re-Build PDF</a>
            </li>
            <li>
              <a href="#" class="refresh">Refresh</a>
            </li>
            <li>
              <a href="{{config.baseUrl}}/receipts/order-{{order.id}}.pdf" target="_blank">View</a>
            </li>
          </ul>
        </div>
        <div class="pdf-preview-alert"></div>
        <iframe src="{{config.baseUrl}}/receipts/order-{{order.id}}.pdf" frameborder="0"></iframe>
      </div>
      <div class="pdf-preview" data-order-id="{{order.id}}" data-type="manifest">
        <div class="pdf-preview-header">
          <h3 class="pdf-preview-title">Manifest</h3>
          <ul class="nav nav-tabs nav-tabs-sm">
            <li>
              <a href="#" class="rebuild-pdf">Re-Build PDF</a>
            </li>
            <li>
              <a href="#" class="refresh">Refresh</a>
            </li>
            <li>
              <a href="{{config.baseUrl}}/manifests/manifest-{{order.id}}.pdf" target="_blank">View</a>
            </li>
          </ul>
        </div>
        <div class="pdf-preview-alert"></div>
        <iframe src="{{config.baseUrl}}/manifests/manifest-{{order.id}}.pdf" frameborder="0"></iframe>
      </div>
    </div>
  </section>

  <section class="panel-component" id="order-notifications">
    <h1 class="component-title">Notifications</h1>
    <ul class="component-nav nav nav-tabs">
      <li class="active">
        <a href="#notifications-history" data-toggle="tab">History</a>
      </li>
      <li>
        <a href="#notifications-available" data-toggle="tab">Available</a>
      </li>
    </ul>
    <div class="component-content tab-content">
      <div class="tab-pane active" id="notifications-history">
        <p>This is a history of notifications for order #{{order.id}}.</p>
        <table class="table notifications-table" id="notifications-history-table"></table>
      </div>

      <div class="tab-pane" id="notifications-available">
        <p>This is a list of available notifications for order #{{order.id}}.</p>
        <table class="table notifications-table" id="notifications-table"></table>
      </div>
    </div>
  </section>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/admin/order', 'app/models/order'], function( page, Order ){
    page.init({
      order: new Order( {{{json order}}} )
    });
  });
</script>
{{/extend}}
