<section style="text-align: left; margin: 0 20px; font-family: Helvetica, Arial, sans-serif; line-height: 24px">
  <h2>Goodybag Order #{{order.id}} is scheduled for delivery.</h2>
  <table cellpadding="4" cellspacing="0">
    <tbody>
      <tr>
        <td style="width: 180px; font-weight: 700">Pickup Order By</td>
        <td>{{datepart order.pickup_datetime}} {{timepart order.pickup_datetime}}</td>
      </tr>
      <tr>
        <td>Pickup Order From</td>
        <td>{{order.restaurant.name}} - {{order.location.name}}<br>{{> plain_address order.location}}</td>
      </tr>

      <tr><td colspan="2" style="height: 20px"></td></tr>

      <tr>
        <td style="font-weight: 700">Deliver Order By</td>
        <td>{{datepart order.datetime}} {{timepart order.datetime}}</td>
      </tr>
      <tr>
        <td>Deliver Order To</td>
        <td>{{#if order.user.organization}}{{order.user.organization}}{{else}}Contact Goodybag{{/if}}</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td>{{order.user.name}} {{phoneNumber order.phone}}</td>
      </tr>
      {{#if order.secondary_contact_phone }}
      <tr>
        <td>Secondary Contact Phone</td>
        <td>{{phoneNumber order.secondary_contact_phone}}</td>
      </tr>
      {{/if}}
      {{#if order.address_name}}
      <tr>
        <td>Office Name</td>
        <td>{{order.address_name}}</td>
      </tr>
      {{/if}}
      <tr>
        <td>Office Address</td>
        <td>{{> plain_address order}}</td>
      </tr>
      <tr>
        <td>Head Count</td>
        <td>{{order.guests}}</td>
      </tr>
      {{#if order.delivery_instructions}}
      <tr>
        <td style="font-weight: 700">Delivery instructions</td>
        <td>"{{order.delivery_instructions}}"</td>
      </tr>
      {{/if}}

      <tr><td colspan="2" style="height: 20px"></td></tr>

      <tr>
        <td>Order subtotal</td>
        <td>${{dollars order.sub_total}}</td>
      </tr>
    </tbody>
  </table>

  <p>Contact Goodybag for any issues or questions at: {{phoneNumber config.phone.support}} or {{{mailto config.emails.orders}}}</p>

  {{!-- <p><a href="{{config.baseUrl}}/orders/{{order.id}}/delivery-service-accept?ds_token={{order.ds_token}}">Click here to accept</a> --}}
  </p>
</section>
