<h2>Goodybag Order #{{order.id}} has been canceled.</h2>

{{#if order.location}}
<div>Pick up: {{{address order.location}}}</div>
{{/if}}
<div>Drop off: {{{address order}}}</div>
<div>Pickup by: {{datepart order.pickup_datetime}} {{timepart order.pickup_datetime}}</div>
<div>Deliver by: {{datepart order.datetime}} {{timepart order.datetime}}</div>
{{#if order.courier_tracking_id}}
<div>Tracking ID: {{order.courier_tracking_id}}</div>
{{/if}}

<p>Please respond to confirm.</p>
<p>Contact Goodybag for any issues or questions at: {{phoneNumber config.phone.support}} or {{{mailto config.emails.orders}}}</p>
