Goodybag {{capitalize order.type}}
<a href="{{config.baseUrl}}/orders/{{order.id}}">Order #{{order.id}}</a>
was placed over the weekend or after hours.
Please ensure the {{#eq order.type "courier"}}courier service{{else}}restaurant{{/eq}}
can fulfill this order.
