<h2>Goodybag Order #{{order.id}} pickup date has changed!</h2>

<div>
  The pickup date has changed to <strong>{{formatDateTime order.pickup_datetime "MM/DD/YYYY h:mm A"}}</strong>.<br>
</div>

<p>
  <strong>Location:</strong>
</p>
{{#if order.location}}
<div>Pick up: {{{address order.location}}}</div>
{{/if}}
<div>Drop off: {{{address order}}}</div>
{{#if order.courier_tracking_id}}
<div>Tracking ID: {{order.courier_tracking_id}}</div>
{{/if}}

<p>Please respond to confirm.</p>
<p>Contact Goodybag for any issues or questions at: {{phoneNumber config.phone.support}} or {{{mailto config.emails.orders}}}</p>
