{{#extend "body"}}
<p>
  <a href="{{config.baseUrl}}/orders/{{order.id}}">Order #{{order.id}}</a> has been submitted for over an hour without restaurant action!
</p>

<h3>Order Info</h3>

<table cellpadding="0" cellspacing="0" style="width: 100%">
  <tr>
    <td class="main-width-constraint">
      <table class="main-width-constraint" cellpadding="0" cellspacing="0" style="width: 100%; background: #ffffff; border: solid #ccccc0 1px; border-radius: 4px">
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: right; font-weight: 700">Total:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{dollars order.total}}</td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: right; font-weight: 700">Restaurant:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;"><a href="{{config.baseUrl}}/restaurants/{{order.restaurant.id}}">{{order.restaurant.name}}</a></td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: right; font-weight: 700">User:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{order.user.organization}} - {{order.user.name}}</td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: right; font-weight: 700">Delivery Date:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{datepart order.datetime}} {{timepart order.datetime}}</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
{{/extend}}