{{#extend "body"}}
  <!--<LeadText>-->
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
      <td style="width: 100%; padding-top: 2px; padding-bottom: 22px">
        <h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">Your order placed for <strong>{{datepart order.datetime}} {{timepart order.datetime}}</strong> at <strong>{{order.restaurant.name}}</strong> has been</h1>
      </td>
    </tr>
  </table>
  <!--</LeadText>-->

  <!--<StatusLabel>-->
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
      <td width="50%"></td>
      <td style="padding-top: 4px; padding-bottom: 4px; padding-left: 16px; padding-right: 16px; background: #D9534F; color: #ffffff; font-size: 14px; font-family: Helvetica, arial, sans-serif; text-align: center;">denied</td>
      <td width="50%"></td>
    </tr>
    <tr>
      <td colspan="3" style="width: 100%; padding-top: 16px"></td>
    </tr>
  </table>
  <!--</StatusLabel>-->

  <!--<LeadText>-->
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
      <td style="width: 100%; padding-top: 2px; padding-bottom: 22px">
        <h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 20px; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #D9534F">"{{order.reason_denied}}"</h1>
        <h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">Need a new order ASAP?<br />Give us a call and we'll help you out!</h1>
        <h1 style="line-height: 22px; margin-top: 12px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 22px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">{{phoneNumber (or user.region.support_phone config.phone.support)}}</h1>
      </td>
    </tr>
  </table>
  <!--</LeadText>-->


  <a href="{{config.baseUrl}}/orders/{{order.id}}" style="font-size: 16px; font-weight: 300; color: #1155cc">Click here to view order</a>
{{/extend}}
