<p>Hello!</p>

<p>{{order.restaurant.name}} wants to make the following change to their order for {{datepart order.datetime}}</p>

<blockquote>{{previous}}</blockquote>

<p>Here is your updated order reflecting that change: <a href="https://www.goodybag.com/manifests/manifest-{{order.id}}.pdf">https://www.goodybag.com/manifests/manifest-{{order.id}}.pdf</a></p>

<p>PLEASE CONFIRM that you have received this email by replying!</p>

<p>Thanks</p>
Gillian Lambert 8)