<p>Hello!</p>

<p>{{order.restaurant.name}} wants to make the following change to their order for {{datepart order.datetime}}</p>

<blockquote>{{previous}}</blockquote>

<p>Here is your updated order reflecting that change: <a href="https://www.goodybag.com/manifests/manifest-{{order.id}}.pdf">https://www.goodybag.com/manifests/manifest-{{order.id}}.pdf</a></p>

<p>PLEASE CONFIRM that you have received this email by replying!</p>

<p>Thanks,</p>

<strong>Sarah Southwell </strong>
<div>Business Development Manager | Goodybag</div>
<div>tel: 512.270.6555 | mobile: 978.846.1970 </div>
<div>sarahsouthwell@goodybag.com | goodybag.com</div>