{{#extend "body"}}
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
      <td style="width: 10px"></td>
      <td>
        <table cellpadding="0" cellspacing="0" style="width: 100%;">
          <tr>
            <td class="main-width-constraint" style="width: 54%; padding-top: 2px; padding-bottom: 22px; padding-right: 12px;">
              <h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: left; color: #695a42">Your order placed for <strong>{{datepart order.datetime}}</strong> at <strong>{{order.restaurant.name}}</strong> has been</h1>
              <!--<StatusLabel>-->
              <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                  <td colspan="3" style="width: 100%; padding-top: 16px"></td>
                </tr>
                <tr>
                  <td width="50%"></td>
                  <td style="padding-top: 8px; padding-bottom: 8px; padding-left: 24px; padding-right: 24px; background: #5CB85C; color: #ffffff; font-size: 16px; font-family: Helvetica, arial, sans-serif; text-align: center;">accepted</td>
                  <td width="50%"></td>
                </tr>
              </table>
              <!--</StatusLabel>-->
            </td>
            <td class="main-width-constraint" style="width: 46%; padding-bottom: 22px;">
              {{#if order.is_pickup}}
              {{> order_email_details_pickup order }}
              {{else}}
              {{> order_email_details_delivery order }}
              {{/if}}
            </td>
          </tr>
        </table>

        {{> email_order_items order}}

        <!--<BigOlButton>-->
        <table cellpadding="0" cellspacing="0" style="width: 100%;">
          <tr>
            <td width="50%"></td>
            <td style="padding-top: 2px; padding-top: 12px; font-size: 24px; font-weight: 300;">
              <a href="{{config.baseUrl}}/orders/{{order.id}}" style="text-decoration: none; color: #ffffff; font-family: Helvetica, arial, sans-serif;">
                <table cellpadding="0" cellspacing="0" style="">
                  <tr>
                    <td style="padding-top: 10px; padding-right: 28px; padding-bottom: 10px; padding-left: 28px; white-space: nowrap; background: #DC0500; border-radius: 4px; border: solid #B80300 1px; font-family: Helvetica, arial, sans-serif; color: #ffffff">
                      <a href="{{config.baseUrl}}/orders/{{order.id}}" style="color: #ffffff; font-size: 20px; text-decoration: none; font-family: Helvetica, arial, sans-serif;">View full order</a>
                    </td>
                  </tr>
                </table>
              </a>
            </td>
            <td width="50%"></td>
          </tr>
        </table>
        <!--</BigOlButton>-->
      </td>
      <td style="width: 10px"></td>
    </tr>
  </table>
{{/extend}}
