<!DOCTYPE html>
<html class="page {{{block "page"}}}">
  <head>
    <title>[Admin] Goodybag{{{block "html-title"}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Goodybag Catering CSS Stuff -->
    <link rel="stylesheet" href="{{cdn (format '/dist/<%= version %>/cater-tool-2.css' pkg)}}">

    {{{block "css"}}}
  </head>
  <body>
    {{> landing_navbar}}

    {{{block "body"}}}

    {{#unless config.isDev}}
    <script src="{{cdn (format 'dist/<%= version %>/cater-tool-2.js' pkg)}}"></script>
    {{else}}
    <script src="/components/requirejs/require.js"></script>
    <script src="/js/require-config.js"></script>
    {{/unless}}

    <script>
      // Make sure chit like navbar is loaded
      require(['jquery-loaded'], function(){});
    </script>

    {{{block "scripts"}}}
  </body>
</html>