{{#extend "page"}}page-users{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin">Admin Panel</a>
    </li>
    <li>
      <a href="/admin/users">Users</a>
    </li>
    <li>{{#if user.name}}{{user.name}}{{else}}#{{user.id}}{{/if}}</li>
  </ul>

  <h1 class="page-title">#{{user.id}}{{#if user.name}} - {{user.name}}{{/if}}</h1>
  <div class="page-actions">
    <a
      class="btn btn-default"
      href="/users/{{user.id}}/session">
      Login
    </a>
  </div>
  <ul class="dl-horizontal">
    <dt>Last seen using</dt>
    <dd>{{user.user_agent_display}}</dd>
  </ul>

  {{> admin_user_edit_form }}
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'app/models/user'
, 'app/views/admin/edit-user-view'
], function( User, View ) {
  var user = new User( {{{json user}}} );
  var view = new View( {
    model: user
  , el: '#users-edit'
  , patch: true
  });
});
</script>
{{/extend}}
