{{#extend "page"}}page-users{{/extend}}

{{#extend "page-head"}}
{{> admin_user_page_head}}
{{/extend}}

{{#extend "nav-col"}}
{{> admin_user_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<div class="table-list invoices-table-list striped">
  <div class="list-header">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component list-info">
      {{invoices.length}} Invoice
      {{~#unless (eq invoices.length 1)}}s{{/unless}}
    </div>
    <ul class="component list-nav nav">
      <li class="selected-only popover-wrapper gb-dropdown right">
        <a data-role="popover" data-target="dropdown-popover" href="#">
          Set Status
          <i class="gb-icon-caret-down"></i>
        </a>
        <div class="popover-modal dropdown-popover">
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="pending">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Pending</span>
          </a>
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="emailed">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Emailed</span>
          </a>
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="paid">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Paid</span>
          </a>
          <a href="#"
            class="popover-item"
            data-action="set-status"
            data-status="error">
            <span class="popover-item-icon"></span>
            <span class="popover-item-label">Error</span>
          </a>
        </div>
      </li>
      <li id="no-hover" class="popover-wrapper gb-dropdown right no-hover">
        <a data-role="popover" data-target="dropdown-popover" href="#">
          <span class="send-to">Emails</span>
          <i class="gb-icon-caret-down"></i>
        </a>
        <div class="popover-modal dropdown-popover">
          <div class="popover-item popover-email">
            <span class="popover-item-icon"><i class="gb-icon-email"></i></span>
            <span class="popover-item-label email-text">{{user.email}}</span>
          </div>
          {{#each user.invoice_recipients}}
          <div class="popover-item popover-email">
            <span class="popover-item-icon"><i class="gb-icon-email"></i></span>
            <span class="popover-item-label email-text">{{email}}</span>
          </div>
          {{/each}}
          <div class="selected-only">
            <form class="popover-item popover-form">
              <input
                type="button"
                class="action-button"
                value="Send">
            </form>
          </div>
          <div class="not-selected-only">
            <form class="popover-item popover-form">
              <input type="email" class="email-address-in">
              <button
                class="action-button"
                data-user-id="{{user.id}}"
                data-user-name="{{user.name}}"
                data-action="save-emails">
                Add
              </button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="list-items">
  {{#each invoices}}
    <div class="list-item" data-invoice-id="{{this.id}}">
      <label class="component item-selector">
        <input type="checkbox">
      </label>
      <div class="component main">
        <a href="{{replace ../config.invoice.pdfRoute ':id' this.id}}" class="item-title">#{{this.id}}
          {{datepart this.billing_period_start}} -
          {{datepart this.billing_period_end~}}
        </a>
        <span class="label-tag label-status small {{this.status}}">{{capitalize this.status}}</span>
        <dl class="item-details dl-horizontal-auto">
          <div>
            <dt>Number of Orders:</dt>
            <dd>{{this.orders.length}}</dd>
          </div>
          <div>
            <dt>Total:</dt>
            <dd>${{dollars (invoice this 'total')}}</dd>
          </div>
          {{#if this.email_sent_date}}
          <div>
            <dt>Email Send Date:</dt>
            <dd>{{formatDateTime ../this.email_sent_date}}</dd>
          </div>
          {{/if}}
        </dl>
        <div class="more-actions-and-info bottom">
          <button
            class="action btn-default"
            data-invoice-id="{{this.id}}"
            data-action="send-email">
              {{~#is this.status 'pending' 'error'}}Send Email{{else}}Re-Send Email{{/is~}}
          </button>
          <button
            class="action btn-default"
            data-invoice-id="{{this.id}}"
            data-action="delete">Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'app/models/user'
, 'app/views/admin/edit-user-view'
, 'app/views/admin/invoice-table'
, 'jquery-loaded'
, 'api'
, 'utils'
, 'table-list'
], function( User, View, invoiceTable, $, api, utils ) {
  api.invoices = api('invoices');

  var user = new User( {{{json user}}} );
  var view = new View( {
    model: user
  , el: '#users-edit'
  , patch: true
  });

  $(function(){
    var $tableList = $('.table-list');
    $tableList.gb_tablelist();
    $('[data-role="popover"]').gb_popover();

    invoiceTable( $tableList );

    //Checkbox logic
    var $sendto = $('.send-to');
    var $nohover = $('#no-hover');
    var $selectableEmails = $('#no-hover .popover-email');
    $(':checkbox').change(function() {
      if($('.selected').length > 0) {
        $sendto.text("Send To");
        $nohover.removeClass('no-hover');
        $selectableEmails.on('click', function() {
          console.log("Email selected: " + $(this).html());
          $(this).toggleClass('selected-email');
        });
      } else {
        $sendto.text("Emails");
        $nohover.addClass('no-hover');
        $selectableEmails.removeClass('selected-email');
        $selectableEmails.off('click');
      }
    });
  });
});
</script>

{{/extend}}
