{{#extend "page"}}page-users{{/extend}}

{{#extend "page-head"}}
{{> admin_user_page_head}}
{{/extend}}

{{#extend "nav-col"}}
{{> admin_user_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <ul class="invoices">
    {{#each user.invoices}}
      <li>
        <a href="{{replace ../config.invoice.pdfRoute ':id' this.id}}">#{{this.id}} 
          {{datepart this.billing_period_begin}} -
          {{datepart this.billing_period_end~}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'app/models/user'
, 'app/views/admin/edit-user-view'
], function( User, View ) {
  var user = new User( {{{json user}}} );
  var view = new View( {
    model: user
  , el: '#users-edit'
  , patch: true
  });
});
</script>
{{/extend}}
