{{#extend "css"}}
<link rel="stylesheet" href="/css/user-settings.css">
<link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">
{{/extend}}

<div class="container">
  <h1 class="text-center page-title">Manage Payment Methods</h1>
  <div class="row">
    <div class="col-lg-6  col-lg-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="user-payments-list">
            <strong>Credit Cards</strong>
            <ul>
            {{#each cards }}
              <li>
                <code>{{name}}
                <strong>(..{{data.last_four}})</strong>
                </code>
                <form class="form-remove-card" method="POST" action="/users/me/cards/{{id}}">
                  <input type="hidden" value="delete" name="_method">
                  <button type="submit" class="btn btn-link ">
                    <i class="icon-remove-circle" data-title="Remove lead time restriction" ></i>
                  </button>
                </form>
              </li>
            {{/each}}
            </ul>
          </div>
          <hr>
          <div class="add-payment-method">
            <strong>Add Credit Card</strong>
            <div id="new-card">
              {{> edit_card }}
            </div>
            <div>
              <a class="btn btn-primary btn-add-card" href="/users/me/cards/">Add Credit Card</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{{{dump this}}}

{{#extend "scripts"}}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script>
  define( 'data/user', ['app/models/user'], function( User ){
    return new User( {{{json user}}} )
  });

  define( 'data/marketplaceUri', function() {
      return "{{{config.balanced.marketplaceUri}}}";
  });

  require([
      'jquery'
    , 'app/pages/cards'
    ]
  , function($, cards) {
      cards.init();
    }
  );
</script>
{{/extend}}