{{#extend "css"}}
<link rel="stylesheet" href="/css/user-settings.css">
<link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">
{{/extend}}

<div id="payment-methods" class="container">
  <h1 class="text-center page-title">Manage Payment Methods</h1>
  <div class="row">
    <div class="col-lg-6  col-lg-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="user-payments-list">
            <strong>Credit Cards</strong>
            <ul>
            {{#each cards }}
              <li class="payment-method" data-card-id="{{id}}">
                <code class="payment-method-info">{{data.brand}} ending in {{data.last_four}}
                {{#if name}}<strong>({{name}})</strong>{{/if}}
                </code>
                <button class="btn btn-link btn-remove-card">
                  <i class="icon-remove-circle remove-tooltip" data-title="Remove this card"></i>
                </button>
              </li>
            {{/each}}
            </ul>
          </div>
          <hr>
          <div id="add-payment-method">
            <strong>Add Credit Card</strong>
            <div id="new-card">
              {{> edit_card }}
            </div>
            <div class="btn-toolbar">
              <a class="btn btn-default" href="/users/me/">Back to settings</a>
              <a class="btn btn-primary btn-add-card" href="/users/me/cards/">Add Credit Card</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div id="remove-card-modal" class="modal fade">
    {{> remove_card_modal}}
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script>
  define( 'data/user', ['app/models/user'], function( User ){
    return new User( {{{json user}}} )
  });

  define( 'data/marketplaceUri', function() {
    return "{{{config.balanced.marketplaceUri}}}";
  });

  require([
      'jquery'
    , 'app/pages/cards'
    ]
  , function($, cards) {
      cards.init();
    }
  );
</script>
{{/extend}}