{{#extend "css"}}
<link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/css/checkout.css' pkg)}}">
{{/extend}}

{{#extend "title"}} - Checkout{{/extend}}

{{#extend "head"}}
  {{> facebook_pixel config.facebook.pixel.checkout }}
{{/extend}}

{{> stripe }}
{{> checkout_sticky_header }}
{{> order_params_modal }}

<div class="page page-checkout container">
  <div class="row">
    <div class="col-lg-12">
      {{> wizard }}
    </div>
  </div>

  {{#if order.editable}}
  <div class="row">
    <div class="alerts col-lg-12">
      <div class="alert alert-danger alert-bad-zip row{{#unless order.restaurant.is_bad_zip}} hide{{/unless}}" data-error="is_bad_zip">
        {{> alert_is_bad_zip }}
      </div>
      <div class="alert alert-danger alert-bad-delivery-time row{{#unless order.restaurant.is_bad_delivery_time}} hide{{/unless}}" data-error="is_bad_delivery_time">
        {{> alert_is_bad_delivery_time }}
      </div>
      <div class="alert alert-danger alert-bad-guests{{#unless order.restaurant.is_bad_guests}} hide{{/unless}}" data-error="is_bad_guests">
        {{> alert_is_bad_guests }}
      </div>
      <div class="alert alert-danger alert-bad-lead-time row{{#unless order.restaurant.is_bad_lead_time}} hide{{/unless}}" data-error="is_bad_lead_time">
        {{> alert_is_bad_lead_time }}
      </div>
    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="col-md-8">
      <form id="order-form" class="panel checkout-form">
        <div class="list-group">
          {{! added clearfixes in 557 to address `list-group-item` with missing heights }}
          <div class="list-group-item clearfix">
            <div class="col-md-12"><legend>Order Details</legend></div>
            <div class="form-group col-sm-12">
              <h5 class="restaurant-name">{{order.restaurant.name}}</h5>
            </div>
            <div class="form-inline delivery-datetime clearfix">
              <div class="form-group col-sm-3 form-group-delivery-date" data-icon="gb-icon-calendar">
                <label class="control-label" for="order-date">Delivery Date</label>
                <input type="text" class="form-control order-datetime" id="order-date" name="date" value="{{#if order.datetime}}{{formatDateTime order.datetime}}{{else}}{{formatDateTime orderParams.date}}{{/if}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
              <div class="form-group col-sm-3 form-group-delivery-time" data-icon="gb-icon-time">
                <label class="control-label" for="order-time">Delivery Time</label>
                <input type="text" class="form-control order-datetime" id="order-time" name="time" value="{{#if order.datetime}}{{formatDateTime order.datetime 'hh:mm A'}}{{else}}{{formatTime orderParams.time}}{{/if}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
              <div class="form-group col-sm-3 form-group-guests" data-icon="gb-icon-user">
                <label class="control-label" for="order-guests">Guests</label>
                <input type="text" class="form-control" id="order-guests" value="{{#if order.guests}}{{order.guests}}{{else}}{{orderParams.guests}}{{/if}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
            </div>

            <div class="form-inline clearfix">
              <div class="form-group col-sm-6">
                <label class="control-label" for="order-name">Order Name</label>
                <input id="order-name" type="text" class="form-control order-name" value="{{order.name}}" placeholder="e.g. Tuesday Meeting">
              </div>
            </div>

            <div class="form-inline clearfix">
              <div class="form-group col-sm-8">
                <label class="control-label" for="order-notes">Special instructions for this order?</label>
                <textarea id="order-notes" class="form-control order-notes" rows="3"{{#unless order.editable}} disabled="disabled"{{/unless}}>{{order.notes}}</textarea>
              </div>
            </div>
            {{#unless order.restaurant.accepts_tips}}
            <div class="tip-area form-inline clearfix">
              <div class="form-group col-xs-3">
                <label class="control-label" for="order-tip">Tip Percent</label>
                <select id="order-tip" class="form-control tip-percent">
                  {{! eq is ugly as hell but it works }}
                  <option value="0"{{#eq order.tip_percent "0"}} selected="selected"{{/eq}}>No Tip</option>
                  <option value="custom"{{#eq order.tip_percent "custom"}} selected="selected"{{/eq}}>Custom Tip</option>
                  <option value="5"{{#eq order.tip_percent "5"}} selected="selected"{{/eq}}>5%</option>
                  <option value="10"{{#eq order.tip_percent "10"}} selected="selected"{{/eq}}>10%</option>
                  <option value="15"{{#eq order.tip_percent "15"}} selected="selected"{{/eq}}>15%</option>
                  <option value="18"{{#eq order.tip_percent "18"}} selected="selected"{{/eq}}>18%</option>
                  <option value="20"{{#eq order.tip_percent "20"}} selected="selected"{{/eq}}>20%</option>
                  <option value="25"{{#eq order.tip_percent "25"}} selected="selected"{{/eq}}>25%</option>
                </select>
              </div>
              <div class="form-group col-xs-3">
                <label class="control-label" for="order-tip">Tip Amount</label>
                <input type="number" step="0.01" class="form-control order-tip" value="{{dollars order.tip}}">
              </div>
            </div>
            {{/unless}}
          </div>

          {{#if order.restaurant.amenities}}
          <div class="list-group-item amenities clearfix">
            {{> order_extras }}
          </div>
          {{/if}}

          {{> order_delivery_info}}

          <div class="list-group-item clearfix">
            <div class="col-md-12">
              <legend>Secondary Contact</legend>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="secondary_phone">Phone <small>(in case we can't reach you)</small></label>
                  <input type="text" id="secondary_phone" name="secondary_contact_phone" class="form-control order-secondary-contact-phone" value="{{phoneNumber order.secondary_contact_phone}}" placeholder="512 555 1234">
                </div>
              </div>
            </div>
          </div>

          {{#unless (and (eq order.user.organization_type 'business') order.user.organization)}}
          <div id="user-info" class="list-group-item clearfix">
            <div class="col-md-12">
              <legend>User Information</legend>
              {{#if (not order.user.name)}}
                <p>We never got your name! We need to know your first and last name for the receipt</p>
              {{else}}
                {{#if (and (eq order.user.organization_type 'business') (not order.user.organization)) }}
                <p>We never got your organization!</p>
                {{/if}}
              {{/if}}
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="control-label">Your First and Last Name (required)</label>
                  <input value="{{order.user.name}}" type="text" name="user_name" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <div class="radio">
                    <label>
                      <input class="organization-type" name="organization_type" type="radio" value="individual" {{#if (eq user.organization_type 'individual') }} checked="checked" {{/if}}>
                      Individual
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input class="organization-type" name="organization_type" type="radio" value="business" {{#if (eq user.organization_type 'business') }} checked="checked" {{/if}}>
                      Business
                    </label>
                  </div>
                </div>
              </div>
              <div id="order-organization" class="row {{#if (eq user.organization_type 'individual') }} hide {{/if}}">
                <div class="form-group col-sm-6">
                  <label class="control-label">Organization</label>
                  <input value="{{order.user.organization}}" type="text" name="user_organization" class="form-control">
                </div>
              </div>
            </div>
          </div>
          {{/unless}}

          {{> order_payment_info}}

          <div class="panel-actions">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancel-confirm-modal">Cancel Order</button>
            <button type="submit" class="btn btn-primary">Submit Order</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
     <div class="order-summary" data-spy="affix" data-offset-top="159" data-offset-bottom="225">
       {{> checkout_order_summary }}
     </div>
    </div>
  </div>
</div>

<!-- Begin Modals -->

<div id="select-address-modal" class="modal fade">
  <div class="modal-dialog">
    <form id="select-address-form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Select a different address</h4>
      </div>
      <div class="modal-body">
        {{! modal alerts }}
        <div class="alert alert-danger alert-bad-zip-modal row hide" data-error="is_bad_zip">
          <div class="col-sm-8 alert-left">
            <h3 class="alert-header">Invalid Delivery Zip :(</h3>
            <p>This order can only be delivered to the zip codes listed</p>
          </div>
          <div class="col-sm-4 alert-right">
            <ul class="list-delivery-zips">
            {{#each order.restaurant.delivery_zip_groups}}
              {{#each this.zips}}
                <li class="delivery-zip">{{this}}</li>
              {{/each}}
            {{/each}}
            </ul>
          </div>
        </div>

        {{#each order.user.addresses}}
        <div class="radio">
          <label>
            <input type="radio" name="address-radio" data-id="{{id}}"{{#if this.is_default}} checked="checked"{{/if}}>
            {{> address}}
          </label>
        </div>
        {{else}}
        You have no saved addresses within this restaurant's delivery zone.
        {{/each}}
      </div>
      <div class="modal-footer btn-toolbar">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {{#if order.user.addresses}}
        <button type="submit" class="btn btn-primary">Deliver to selected address</button>
        {{/if}}
      </div>
    </form>
  </div>
</div>

<div id="cancel-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Cancel</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't cancel</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-cancel">Yes, cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Modals -->

{{#extend "bootstrap"}}
<script>
  define('data/order', ['app/models/index'], function(Models) {
    return new Models.Order({{{json order}}});
  });

  define( 'data/defaultAddress', ['app/models/index'], function( Models ){
    return new Models.Address( {{{json defaultAddress}}} )
  });
</script>

{{/extend}}

{{#extend "scripts"}}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script>
require([
  'app/pages/checkout'
, 'app/models/index'
, 'data/order'
, 'view/order-modal'
],
function(page, Models, order, orderModal) {
  page.init({
    marketplaceUri: "{{{config.balanced.marketplaceUri}}}"
  , user: new Models.User({{{json order.user}}})
  , order: order
  });
});
</script>
{{/extend}}
