{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/contact.css"}}">
<link rel="stylesheet" href="{{cdn "/components/font-awesome/css/font-awesome.css"}}">
{{/extend}}

{{#extend "banner"}}
<div class="banner contact-us-banner"></div>
{{/extend}}

<div class="page page-contact-us container contact-us-container">

  {{! Server side errors }}
  <div class="row contact-us-alert hide">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="alert alert-danger fade in">
        <strong>Uh oh!</strong> Something went wrong. Please contact us directly!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="row">
        <div class="col-md-11">{{!-- Nested row for more size granularity --}}
          <h1 class="contact-us-header">We're here for you!</h1>
          <p>
            Please get in touch with anything at all -- questions, help,
            ideas, or just to say hello.
          </p>
          <p>
            <strong>Orders:</strong> If you need an order placed ASAP, we'll
            take care of it for you! Just let us know when and where (plus any preferences) and we'll make it happen.
          </p>
          <p><strong>Are you a restaurant or caterer?</strong> <a href="/request-to-be-a-caterer">Learn more here!</a></p>
          <hr>
          <ul class="icons-ul contact-ul">
            <li>
              <i class="icon-li icon-dashboard"></i>
              <strong>Hours of Operation</strong>
              <p>{{config.operation.days}}
                 &nbsp;&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;
                 {{config.operation.hours}} {{config.operation.timezone}}
              </p>
            </li>
            <li>
              <i class="icon-li icon-envelope"></i>
              <strong>Email</strong>
              <p>{{{mailto config.emails.support}}}</p>
            </li>
            <li>
              <i class="icon-li icon-phone"></i>
              <strong>Phone</strong>
              <p>{{phoneNumber (or user.region.support_phone config.phone.support)}}</p>
            </li>
          </ul>
          <hr>
          <span><strong>Connect:</strong></span>
          <ul class="social-connect">
            <li>
              <a href="{{config.contact.facebook}}">
                <i class="icon-facebook"></i>
              </a>
            </li>
            <li>
              <a href="{{config.contact.twitter}}">
                <i class="icon-twitter"></i>
              </a>
              </li>
            <li>
              <a href="{{config.contact.linkedin}}">
                <i class="icon-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="contact-form">
        <form class="contact-us-form" role="form">
          <div class="form-group">
            <label for="contactName">Name</label>
            <input type="text" class="form-control contact-us-name" id="contactName" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="contactEmail">Email</label>
            <input type="text" class="form-control contact-us-email" id="contactEmail" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="contactMessage">Message</label>
            <textarea class="form-control contact-us-message" rows="5" id="contactMessage" placeholder="Enter Message"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right contact-us-send">Send</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

{{#extend "scripts"}}
<script>
  require([
      'app/views/contact-us-view'
    , 'jquery-loaded'
    ]
  , function(ContactUsView) {
      var contactUs = new ContactUsView({ el: '#main' });
    }
  );
</script>
{{/extend}}