{{#extend "css"}}
<link rel="stylesheet" href="/css/edit-restaurant.css">
{{/extend}}

<form id="restaurant-{{restaurant.id}}" class="restaurant-form">
  <fieldset>
    <legend>Edit Restaurant</legend>
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" class="form-control restaurant-name" placeholder="Name of Restaurant" value="{{restaurant.name}}">
    </div>
    <div class="form-group">
      <label class="control-label">Phone</label>
      <input type="text" maxlength="10" class="form-control restaurant-phone" value="{{restaurant.phone}}" placeholder="5125551234">
      <span class="help-block">Please enter phone number as 10 digit string with no spaces or dashes.</span>
    </div>
    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="email" class="form-control restaurant-email" value="{{restaurant.email}}" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label class="control-label">Price</label>
      <select class="form-control restaurant-price">
        <option value="1"{{#if selectedPrice.$}} selected="selected"{{/if}}>$</option>
        <option value="2"{{#if selectedPrice.$$}} selected="selected"{{/if}}>$$</option>
        <option value="3"{{#if selectedPrice.$$$}} selected="selected"{{/if}}>$$$</option>
        <option value="4"{{#if selectedPrice.$$$$}} selected="selected"{{/if}}>$$$$</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label">Cusisne</label>
      <input type="text" class="form-control restaurant-cuisine" value="{{array restaurant.cuisine}}" placeholder="Mexican, Korean, Amish">
      <span class="help-block">Please enter cuisine as a comma separated list of cuisine tags.</span>
    </div>
    <div class="form-group">
      <label class="control-label">Delivery Fee</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control restaurant-delivery-fee" value="{{dollars restaurant.delivery_fee}}" placeholder="5.00">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Minimum Order</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control restaurant-minimum-order" value="{{dollars restaurant.minimum_order}}" placeholder="200.00">
      </div>
    </div>
    <fieldset>
      <legend>Address</legend>
      <div class="form-group">
        <label class="control-label">Street</label>
        <input type="text" class="form-control restaurant-address restaurant-street" value="{{restaurant.street}}" placeholder="123 Fake St.">
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input type="text" class="form-control restaurant-address restaurant-city" value="{{restaurant.city}}" placeholder="Austin">
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <select class="form-control restaurant-address restaurant-state">
          {{#each states}}
          <option value="{{this.abbr}}" label="{{this.abbr}}"{{#if this.default}} selected="selected"{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Zip</label>
        <input type="text" maxlength="5" class="form-control restaurant-address restaurant-zip" value="{{restaurant.zip}}" placeholder="78701">
      </div>
    </fieldset>
    <div class="col-lg-1 col-lg-offset-10">
      <button type="button" class="btn btn-danger restaurant-remove pull-right">Remove</button>
    </div>
    <div class="col-lg-1">
      <button type="submit" class="btn btn-success restaurant-save pull-right hide">Save</button>
    </div>
  </fieldset>
</form>

{{#each restaurant.categories}}
<div id="category-{{this.id}}" class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Category</h3>
    <form class="form-inline category-form row">
      <div class="form-group col-lg-3">
        <label class="control-label">Name</label>
        <input type="text" value="{{this.name}}" class="form-control category-name">
      </div>
      <div class="form-group col-lg-4">
        <label class="control-label">Description</label>
        <textarea class="form-control category-description">{{this.description}}</textarea>
      </div>
      <div class="form-group col-lg-2">
        <label class="control-label">Order</label>
        <input type="number" value="{{this.order}}" class="form-control category-order">
      </div>
      <div class="btn-toolbar col-lg-3 category-buttons">
        <button type="button" class="btn btn-danger category-remove">Remove</button>
        <button type="submit" class="btn btn-success category-save hide">Save</button>
      </div>
    </form>
  </div>
  <table class="table table-striped">
    <caption>Items</caption>
    <thead>
      <th class="order-column">Order</th>
      <th class="name-column">Name</th>
      <th class="price-column">Price</th>
      <th class="feeds-min-column">Feeds Min</th>
      <th class="feeds-max-column">Feeds Max</th>
      <th class="description-column">Description</th>
    </thead>
    <tbody>
    {{#each items}}
    <tr id="edit-item-{{this.id}}">
      {{> edit_item_row}}
    </tr>
    {{/each}}
    </tbody>
  </table>
  <div class="panel-footer">
    <div class="row">
      <div class="bnt-toolbar col-lg-1 col-lg-offset-11">
        <button type="button" class="btn btn-primary new-item pull-right">New Item</button>
      </div>
    </div>
  </div>
</div>
{{/each}}


{{#extend "scripts"}}
<script>
  var partials = {'edit_item_row': 'edit-item-row.hbs'};
  for (var name in partials) {
    $.ajax({
      type: 'GET',
      url: '/partials/' + partials[name],
      success: function(data, textStatus, jqXHR) {
        Handlebars.registerPartial(name, Handlebars.compile(data));
      },
      dataType: 'html',
      async: false
    });
  }
</script>

<script src="/js/amanda.js"></script>

<script src="/js/models/restaurant.js"></script>
<script src="/js/models/category.js"></script>
<script src="/js/models/item.js"></script>

<script src="/js/collections/categories.js"></script>
<script src="/js/collections/items.js"></script>

<script src="/js/views/form-view.js"></script>
<script src="/js/views/edit-restaurant-view.js"></script>
<script src="/js/views/edit-category-view.js"></script>
<script src="/js/views/edit-item-view.js"></script>
<script>
  var restaurant = new EditRestaurantView({ el: '#main', model: new Restaurant({{{json restaurant}}}) });

  restaurant.categories = [];
  {{#each restaurant.categories}}
  var category{{this.id}} = new EditCategoryView({el: '#category-{{id}}', model: restaurant.model.categories.get({{id}}) });
  category{{id}}.items = [{{#each items}}
    new EditItemView({el: '#edit-item-{{id}}', model: category{{../id}}.model.items.get({{id}}),  category: category{{../id}} }),
  {{/each}}];
  restaurant.categories.push(category{{id}});
  {{/each}}
</script>
{{/extend}}
