<!DOCTYPE html>
<html>
  <head>
    <title>Goodybag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if intercom}}
    <script id="IntercomSettingsScriptTag">
      window.intercomSettings = {
        email: '{{user.email}}',
        user_hash: '{{intercom.user_hash}}',
        created_at: {{unixTimestamp user.created_at}},

        widget: {
          activator: "#intercom"
        },

        app_id: "{{config.intercomAppId}}",
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
    {{/if}}

    <!-- Bootstrap -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Fonts -->
    <link href="/css/gb-icon.css" rel="stylesheet">
    <link href="/css/aleo.css" rel="stylesheet">
    <link href="/css/proxima-nova.css" rel="stylesheet">

    <!-- pickadate -->
    <link href="/components/lalitkapoor-pickadate/lib/themes/classic.css" rel="stylesheet">
    <link href="/components/lalitkapoor-pickadate/lib/themes/classic.date.css" rel="stylesheet">
    <link href="/components/lalitkapoor-pickadate/lib/themes/classic.time.css" rel="stylesheet">


    <!-- Moar Convenient CSS Stuff -->
    <link href="/css/kit.css" rel="stylesheet">

    <!-- Goodybag Catering CSS Stuff -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/components.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ie-lte-9.css">
    <![endif]-->

    {{{block "css"}}}
  </head>
  <body>
    <header id="header" class="navbar {{#if session.oldUser}}navbar-impersonate{{/if}}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <a class="navbar-brand" href="/">
              <img src="/img/logo.png" alt="Goodybag">
            </a>
            {{#if user.id}}
            <ul class="nav navbar-nav pull-right">
              <li><a href="/restaurants">Home</a></li>
              {{#if session.oldUser}}
              <li>
                <a href="/users/return" class="users-return navbar-btn">
                  Return to {{session.oldUser.name}}
                </a>
              </li>
              {{/if}}
              <li class="nav-account dropdown">
                <button class="btn btn-default navbar-btn dropdown-toggle pull-right" data-toggle="dropdown">
                  {{#if user.name }} {{ user.name }} {{else}} My Account {{/if}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/users/me">My Settings</a></li>
                  <li><a href="/users/me/orders">My Orders</a></li>
                  <li><a href="/auth/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
            {{/if}}
            <span class="header-info">
              <span class="contact-us">Contact Us:</span>
              <strong class="phone-number">{{phoneNumber config.phone.support }}</strong>
            </span>
          </div>
        </div>
      </div>
    </header>

    {{{block "banner"}}}

    <div id="main">
      {{{body}}}
    </div>

    <footer id="footer">
      <ul class="footer-nav">
        <li>
          <a href="/contact-us">Contact Us</a>
        </li>
        <li>
          <a href="/contact-us">Request to be a Caterer</a>
        </li>
        <li>
          <a href="/legal">Terms of Service</a>
        </li>
        <li>
          <a href="/privacy">Privacy Policy</a>
        </li>
      </ul>
    </footer>

    {{#if intercom}}
    <a id="intercom">
      <span class="intercom-text" href="mailto:qsetwlny@incoming.intercom.io">Leave feedback!</span>
      <span class="up-arrow">&nbsp;</span>
    </a>
    {{/if}}

    <script data-main="/js/main.js" src="/components/requirejs/require.js"></script>

    <!-- pickadate -->
    <script src="/components/lalitkapoor-pickadate/lib/picker.js"></script>
    <script src="/components/lalitkapoor-pickadate/lib/picker.date.js"></script>
    <script src="/components/lalitkapoor-pickadate/lib/picker.time.js"></script>
    <script src="/components/lalitkapoor-pickadate/lib/legacy.js"></script>

    <script>
    define(function(require, exports, module) {
      console.log('hello world');
      var $ = require('jquery');
      $.ajax({
        type: "GET",
        url: "/components/moment-timezone/moment-timezone.json",
        dataType: "json",
        async: false,
        success: function(data) {
          moment.tz.add(data);
        }
      });
    });
    </script>

<!--
    <script src="/js/lib/hb-helpers.js"></script>

    <script src="/js/lib/notify.js"></script>
    <script src="/js/lib/utils.js"></script>
    <script src="/js/lib/spinner.js"></script>
    <script>
      for (var key in helpers) {
        Handlebars.registerHelper(key, helpers[key]);
      }
    </script>
-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23372459-3', 'goodybag.com');
      ga('send', 'pageview');
    </script>

    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('3206-351-10-2822');/*]]>*/</script><noscript><a href="https://www.olark.com/site/3206-351-10-2822/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->

    {{#if user.email}}
    <script type="text/javascript">
    olark('api.chat.updateVisitorNickname', {
        snippet: "{{user.email}}"
    });
    </script>
    {{/if}}

    {{{block "views"}}}
    {{{block "scripts"}}}
  </body>
</html>
