<!DOCTYPE html>
<html>
  <head>
    <title>Goodybag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Fonts -->
    {{! <link href="/css/font-awesome.min.css" rel="stylesheet"> }}
    <link href="/css/gb-icon.css" rel="stylesheet">
    <link href="/css/aleo.css" rel="stylesheet">
    <link href="/css/proxima-nova.css" rel="stylesheet">

    <!-- pickadate -->
    <link href="/components/pickadate/lib/themes/classic.css" rel="stylesheet">
    <link href="/components/pickadate/lib/themes/classic.date.css" rel="stylesheet">
    <link href="/components/pickadate/lib/themes/classic.time.css" rel="stylesheet">


    <!-- Moar Convenient CSS Stuff -->
    <link href="/css/kit.css" rel="stylesheet">

    <!-- Goodybag Catering CSS Stuff -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/components.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">

    {{{block "css"}}}
  </head>
  <body>
    <header id="header" class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <a class="navbar-brand" href="/">
              <img src="/img/logo.png" alt="Goodybag">
            </a>
          </div>
          <div class="col-lg-2 col-lg-offset-8">
            {{#if user.id}}
            <div class="btn-group pull-right">
              <button class="btn btn-default navbar-btn dropdown-toggle pull-right" data-toggle="dropdown">
                My Account <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/users/me">My Settings</a></li>
                <li><a href="/users/me/orders">My Orders</a></li>
                <li><a href="/auth/logout">Logout</a></li>
              </ul>
            </div>
            {{else}}
            <a href="/auth" class="btn btn-default navbar-btn login-btn pull-right">Get Started</a>
            {{/if}}
          </div>
        </div>
      </div>
    </header>

    <div id="main" class="container">
      {{{body}}}
    </div>

    <footer id="footer">
      <hr>
      <div class="container">
        <div class="row">
          <a href="/contact-us" class="col-lg-2 col-lg-offset-3 text-center">Contact Us</a>
          <a href="/legal" class="col-lg-2 text-center">Terms of Service</a>
          <a href="/privacy" class="col-lg-2 text-center">Privacy Policy</a>
        </div>
      </div>
    </footer>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>

    <!-- pickadate -->
    <script src="/components/pickadate/lib/picker.js"></script>
    <script src="/components/pickadate/lib/picker.date.js"></script>
    <script src="/components/pickadate/lib/picker.time.js"></script>
    <script src="/components/pickadate/lib/legacy.js"></script>

    <script src="/js/hb-helpers.js"></script>
    <script>
      for (var key in helpers) {
        Handlebars.registerHelper(key, helpers[key]);
      }
    </script>
    {{{block "views"}}}
    {{{block "scripts"}}}
  </body>
</html>
