<!DOCTYPE html>
<html>
  <head>
    <title>{{block "prefix-title"}}Goodybag{{{block "title"}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{cdn "favicon.ico"}}">

    <!-- Keep this up here! -->
    <!--[if lt IE 9]>
    <script src="{{cdn "/components/html5shiv/dist/html5shiv.js"}}"></script>
    <script src="{{cdn "/components/es5-shim/es5-shim.js"}}"></script>
    <script src="{{cdn "/components/es5-shim/es5-sham.js"}}"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <script src="{{cdn "/components/console-polyfill/index.js"}}"></script>
    <![endif]-->

    {{#if intercom}}
    <script id="IntercomSettingsScriptTag">
      window.intercomSettings = {
        email: '{{user.email}}',
        user_hash: '{{intercom.user_hash}}',
        created_at: {{unixTimestamp user.created_at}},

        widget: {
          activator: "#intercom"
        },

        app_id: "{{config.intercomAppId}}",
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
    {{/if}}

    {{> analytics }}

    {{#unless config.isDev}}
    <link href="{{cdn (format 'dist/<%= version %>/css/gb-style.css' pkg)}}" rel="stylesheet">
    {{else}}
    <!-- Select2 -->
    <link href="{{cdn "components/select2/select2.css"}}" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="{{cdn "components/bootstrap/dist/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">

    <!-- Fonts -->
    <link href="{{cdn (format 'dist/<%= version %>/css/gb-icon.css' pkg)}}" rel="stylesheet">
    <link href="{{cdn "css/aleo.css"}}" rel="stylesheet">
    <link href="{{cdn "css/proxima-nova.css"}}" rel="stylesheet">

    <!-- pickadate -->
    <link href="{{cdn "components/pickadate/lib/themes/classic.css"}}" rel="stylesheet">
    <link href="{{cdn "components/pickadate/lib/themes/classic.date.css"}}" rel="stylesheet">
    <link href="{{cdn "components/pickadate/lib/themes/classic.time.css"}}" rel="stylesheet">

    <!-- Moar Convenient CSS Stuff -->
    <link href="{{cdn "css/kit.css"}}" rel="stylesheet">

    <!-- Goodybag Catering CSS Stuff -->
    <link href="{{cdn "css/main.css"}}" rel="stylesheet">
    <link href="{{cdn (format 'dist/<%= version %>/css/components.css' pkg)}}" rel="stylesheet">
    <link href="{{cdn (format 'dist/<%= version %>/cater-tool.css' pkg)}}" rel="stylesheet">
    <link href="{{cdn (format 'dist/<%= version %>/css/theme.css' pkg)}}" rel="stylesheet">
    {{/unless}}

    <!--[if lt IE 11]>
    <link rel="stylesheet" href="{{cdn "css/ie-lt-11.css"}}">
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{cdn "css/ie-lte-9.css"}}">
    <link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/cater-tool-ielt9.css' pkg)}}">
    <![endif]-->

    {{{block "css"}}}

    {{{block "head"}}}
    <!--[if lt IE 9]>
    <script src="{{cdn "components/respond/src/respond.js"}}"></script>
    <![endif]-->

  </head>
  <body>
    <header id="header" class="{{#if session.oldUser}}navbar-impersonate{{/if}}">
      <div class="bca-flag">10% revenue on orders donated</div>
      <div class="container">

        {{!-- Brand and toggle get grouped for better mobile display --}}
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="{{cdn "img/logo.png"}}" alt="Goodybag">
            </a>
            <div class="contact-info">
              <span class="help-text">Let us help you with your order!</span>
              <span class="phone-number">{{phoneNumber config.phone.support}}</span>
            </div>
          </div>

          {{!-- Collect other nav content for toggling --}}
          <div class="collapse navbar-collapse" id="navbar-collapse">
            {{{block "navbar-stuff"}}}

            <a href="/users/me/rewards" class="gb-points-indicator">
              <div class="points-wrapper">
                {{#if user.points}}
                  {{user.points}}
                {{else}}
                  0
                {{/if}}
              </div>
            </a>

            {{#if user.id}}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-account dropdown">
                <button class="btn btn-default navbar-btn dropdown-toggle pull-right" data-toggle="dropdown">
                  {{#if user.name }} Hi, {{ user.name }} {{else}} My Account {{/if}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/users/me">My Settings</a></li>
                  <li><a href="/users/me/rewards">My Rewards</a></li>
                  <li><a href="/auth/logout">Logout</a></li>
                  {{#contains user.groups 'restaurant'}}
                    <li><a href="/restaurants/manage" class="btn-link">Home</a></li>
                  {{else}}
                    <li><a href="/restaurants" class="btn-link">Home</a></li>
                  {{/contains}}
                </ul>
              </li>
              <li class="nav-account dropdown">
                <button class="btn btn-default navbar-btn dropdown-toggle pull-right" data-toggle="dropdown">
                  My Orders <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/">Start New Order</a></li>
                  <li><a href="/users/me/orders">My Orders</a></li>
                  <li><a href="/users/me/orders/receipts">My Receipts</a></li>
                </ul>
              </li>
              {{#contains user.groups 'admin'}}
                <li class="form-control-wrapper">{{> region_selector}}</li>
              {{/contains}}
              {{#contains user.groups 'restaurant'}}
                <li><a href="/restaurants/manage" class="btn-link">Home</a></li>
              {{/contains}}
              {{#if session.oldUser}}
              <li>
                <a href="/users/return" class="users-return navbar-btn">
                  Return to {{session.oldUser.name}}
                </a>
              </li>
              {{/if}}
              {{{block "navbar-links"}}}
            </ul>

            {{else}}
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/join">Sign Up</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>
            {{/if}}
          </div>
        </nav>
      </div>
    </header>

    {{{block "banner"}}}

    <div id="main">
      {{{body}}}
    </div>

    <footer id="footer">
      <ul class="footer-nav">
        <li>
          <a href="/contact-us">Contact Us</a>
        </li>
        <li>
          <a href="/faqs">Frequently Asked Questions</a>
        </li>
        <li>
          <a href="/testimonials">Testimonials</a>
        </li>
        <li>
          <a href="/request-to-be-a-caterer">Request to be a Caterer</a>
        </li>
        <li>
          <a href="/legal">Terms of Service</a>
        </li>
        <li>
          <a href="/privacy">Privacy Policy</a>
        </li>
      </ul>
    </footer>

    {{#if intercom}}
    <a id="intercom">
      <span class="intercom-text" href="mailto:qsetwlny@incoming.intercom.io">Leave feedback!</span>
      <span class="up-arrow">&nbsp;</span>
    </a>
    {{/if}}

    {{#unless config.isDev}}
    <script src="{{cdn (format 'dist/<%= version %>/app.js' pkg)}}"></script>
    {{else}}
    <script src="{{cdn "components/requirejs/require.js"}}"></script>
    <script src="{{cdn "js/require-config.js"}}"></script>
    {{/unless}}
    {{> config}}

    {{> olark }}

    {{#if config.isProduction}}
      {{> adroll }}
    {{/if}}

    {{#unless config.isDev}}
      {{#if isNewSignup}}
      {{> facebook_pixel config.facebook.pixel.restaurantList }}
      {{> google_adwords_conversion config.googleAdwordsConversionId }}
      {{/if}}
    {{/unless}}

    {{{block "views"}}}
    {{{block "bootstrap"}}}
    {{{block "scripts"}}}
  </body>
</html>
