<div class="row">
  <div class="col-lg-12">
    <h1>{{restaurant.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 panel">
    <h2 class="panel-heading">Menu</h2>
    {{#each restaurant.categories}}
      <h3>{{name}}</h3>
      <div class="list-group list-group-flush category" data-id="{{id}}" data-index="{{@index}}">
      {{#each items}}
        <a class="list-group-item item" data-id="{{id}}" data-index="{{@index}}">
          <div>
            <div><strong class="list-group-item-heading">{{name}}</strong> <i class="list-group-item-text pull-right">feeds {{feeds_min}}-{{feeds_max}} &nbsp;   &nbsp; price {{dollars price}}</i></div>
            <div class="list-group-item-text">{{description}}</div>
          </div>
        </a>
      {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="col-lg-4 panel">
    <h2 class="panel-heading">Orders</h2>
    <div class="list-group list-group-flush order-items">
    </div>
  </div>
</div>

{{#extend "views"}}
<script id="hbs-item-modal-dialog" type="text/x-handlebars-template">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close remove" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">\{{item.name}} &dash; $\{{dollars item.price}} (feeds \{{item.feeds_min}} - \{{item.feeds_max}})</h4>
    </div>
    <div class="modal-body">
      <em>\{{item.description}}</em>
    </div>
    <div class="modal-footer">
      <span class="pull-left"> quantity: <input type="number" name="quantity" value="\{{or quantity 1}}" maxlength="4" min="0" /></span>
      <button type="button" class="btn btn-default remove" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary add-to-order" data-dismiss="modal">Add to order</button>
    </div>
  </div>
</div>
</script>

<script id="hbs-order-item-modal-dialog" type="text/x-handlebars-template">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close remove" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">\{{item.name}} &dash; $\{{dollars item.price}} (feeds \{{item.feeds_min}} - \{{item.feeds_max}})</h4>
    </div>
    <div class="modal-body">
      <em>\{{item.description}}</em>
    </div>
    <div class="modal-footer">
      <span class="pull-left"> quantity: <input type="number" name="quantity" value="\{{item.quantity}}" maxlength="4" min="0" /></span>
      <button type="button" class="btn btn-default remove" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary update-order-item">Update item</button>
    </div>
  </div>
</div>
</script>

<script id="hbs-order-item" type="text/x-handlebars-template">
<div>
  <button class="x">&times;</button>
  <span class="quantity">\{{quantity}}x </span>
  <strong class="list-group-item-heading">\{{name}}</strong>
  <span class="edit">edit</span>
  <i class="list-group-item-text pull-right">$\{{dollars price}}</i>
</div>
</script>
{{/extend}}

{{#extend "scripts"}}
<script>
  //helpers
  Handlebars.registerHelper('or', function(value1, value2) {
    return value1 || value2;
  });

  Handlebars.registerHelper('dollars', function(pennies, options) {
    return (pennies / 100).toFixed(2);
  });

  var menu = {{{json restaurant.categories}}};
  var templates = {};
  var views = {};
  var models = {};
  var collections = {};

  var app = {};
  app.views = {};
  app.collections = {};

  collections.OrderItems = Backbone.Collection.extend({url:'/restaurants/{{restaurant.id}}/orders/current/items/'});

  models.Item = Backbone.Model.extend();
  models.OrderItem = Backbone.Model.extend();

  templates.itemModalDialog = Handlebars.compile($("#hbs-item-modal-dialog").html());
  templates.orderItemModalDialog = Handlebars.compile($("#hbs-order-item-modal-dialog").html());
  templates.orderItem = Handlebars.compile($("#hbs-order-item").html());

  views.ItemModal = Backbone.View.extend({
    tag: "div"
  , className: 'modal fade'
  , template: templates.itemModalDialog
  , events: {
      'click .remove': 'remove'
    , 'click .add-to-order': 'addToOrder'
    , 'keypress input[type=number]': 'addToOrderKeyPress'
    }
  , initialize: function(options) {
      this.model = this.options.model;
      this.quantity = this.options.quantity;
      this.render();
    }
  , render: function() {
      this.$el.html(this.template({item: this.model.toJSON(), quantity: this.quantity}));
      return this;
    }
  , show: function() {
      this.$el.modal('show');
    }
  , hide: function() {
      this.$el.modal('hide');
    }
  , close: function() {
      this.$('.close').click();
    }
  , addToOrder: function() {
      var quantity = parseInt(this.$("input[name='quantity']").val());

      var orderItem = app.collections.orderItems.findWhere({item_id: this.model.attributes.id});

      if (orderItem) {
        orderItem.save({quantity: quantity}, {wait: true});
        this.close();
        return;
      }

      orderItem = new models.OrderItem({item_id: this.model.id, quantity: quantity});
      app.collections.orderItems.create(orderItem, {wait: true});
      this.close();
    }
  , addToOrderKeyPress: function(e) {
      if (e && e.keyCode != 13) return;
      this.addToOrder();
    }
  });

  views.OrderItemModal = Backbone.View.extend({
    tag: "div"
  , className: 'modal fade'
  , template: templates.orderItemModalDialog
  , events: {
      'click .remove': 'remove'
    , 'click .update-order-item': 'updateOrderItem'
    , 'keypress input[type=number]': 'updateOrderItemKeyPress'
    }
  , initialize: function(options) {
      this.model = this.options.model;
      this.render();
    }
  , render: function() {
      this.$el.html(this.template({item: this.model.toJSON()}));
      return this;
    }
  , show: function() {
      this.$el.modal('show');
    }
  , hide: function() {
      this.$el.modal('hide');
    }
  , close: function() {
      this.$('.close').click();
    }
  , updateOrderItem: function() {
      console.log('hi');
      var quantity = parseInt(this.$("input[name='quantity']").val());
      console.log(quantity);

      if(quantity <= 0) {
        this.model.destroy();
        this.close();
        return;
      }

      this.model.save({quantity: quantity}, {wait: true});
      this.close();
      return;
    }
  , updateOrderItemKeyPress: function(e) {
      if (e && e.keyCode != 13) return;
      this.updateOrderItem();
    }
  });

  views.OrderItems = Backbone.View.extend({
    el: '.order-items'
  , initialize: function() {
      this.collection = app.collections.orderItems;
      this.listenTo(this.collection, 'add', this.renderOrderItem);
    }
  , renderOrderItem: function(orderItemModel) {
      var orderItem = new views.OrderItem({model: orderItemModel});
      this.$el.append(orderItem.render().el);
    }
  });

  views.OrderItem = Backbone.View.extend({
    tag: "div"
  , className: 'list-group-item order-item'
  , template: templates.orderItem
  , events: {
      'click .edit': 'edit'
    , 'click .x': 'destroy'
    }
  , initialize: function(options) {
      this.model = options.model;
      this.listenTo(this.model, 'change:quantity', this.render);
      this.listenTo(this.model, 'destroy', this.remove);
      this.render();
    }
  , render: function() {
      console.log(this.model.toJSON());
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    }
  , edit: function() {
      var orderItemModal = new views.OrderItemModal({model: this.model});
      orderItemModal.show();
    }
  , destroy: function() {
      this.model.destroy();
    }
  });

  app.collections.orderItems = new collections.OrderItems();
  app.collections.orderItems.fetch();
  app.views.orderItems = new views.OrderItems();


  $(function() {
    $('.item').click(function() {
      var $this = $(this);
      var categoryId = $this.parent('.category').data('id');
      var categoryIndex = $this.parent('.category').data('index');

      var itemId = $this.data('id');
      var itemIndex = $this.data('index');

      var item = new models.Item(menu[categoryIndex].items[itemIndex]);

      var orderItem = app.collections.orderItems.findWhere({item_id: item.id});
      var itemModal = new views.ItemModal({model: item, quantity: (orderItem && orderItem.attributes.quantity) || 1});
      itemModal.show();
    });
  });
</script>
{{/extend}}