<div class="row">
  <div class="col-lg-12">
    <h1>{{restaurant.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 panel">
    <h2 class="panel-heading">Menu</h2>
    {{#each restaurant.categories}}
      <h3>{{name}}</h3>
      <div class="list-group list-group-flush category" data-id="{{id}}" data-index="{{@index}}">
      {{#each items}}
        <a class="list-group-item item" data-id="{{id}}" data-index="{{@index}}">
          <div>
            <div><strong class="list-group-item-heading">{{name}}</strong> <i class="list-group-item-text pull-right">feeds {{feeds_min}}-{{feeds_max}} &nbsp;   &nbsp; price {{dollars price}}</i></div>
            <div class="list-group-item-text">{{description}}</div>
          </div>
        </a>
      {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="col-lg-4 panel">
    <h2 class="panel-heading">Orders</h2>
    <div class="list-group list-group-flush order-items">
    </div>
  </div>
</div>

{{#extend "views"}}
<script id="hbs-item-modal-dialog" type="text/x-handlebars-template">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close destroy" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">\{{name}} &dash; $\{{dollars price}} (feeds \{{feeds_min}} - \{{feeds_max}})</h4>
    </div>
    <div class="modal-body">
      <em>\{{description}}</em>
    </div>
    <div class="modal-footer">
      <span class="pull-left"> quantity: <input type="text" name="quantity" value="\{{or quantity 1}}" maxlength="4" size="4" /></span>
      <button type="button" class="btn btn-default destroy" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Add to order</button>
    </div>
  </div>
</div>
</script>
{{/extend}}

{{#extend "scripts"}}
<script>
  //helpers
  Handlebars.registerHelper('or', function(value1, value2) {
    return value1 || value2;
  });

  Handlebars.registerHelper('dollars', function(pennies, options) {
    if (typeof(pennies) === 'string') pennies = options.contexts[0].get(pennies);
    return (pennies / 100).toFixed(2);
  });

  var templates = {};
  var views = {};
  var models = {};
  var collections = {};

  var restaurant = {{{json restaurant}}};

  collections.OrderItems = Backbone.Collections.extend({url:'/restaurants/{{restaurant.id}}/orders/current/items/'});
  var orderItems = new collections.OrderItems();

  models.OrderItem = Backbone.Model.extend();

  templates.itemModalDialog = Handlebars.compile($("#hbs-item-modal-dialog").html());

  views.ItemModal = Backbone.View.extend({
    tag: "div"
  , className: 'modal fade'
  , template: templates.itemModalDialog
  , events: {
      'click .destroy': 'teardown'
    }
  , initialize: function(options) {
      this.render();
    }
  , render: function() {
      this.$el.html(this.template(this.options.item));
      return this;
    }
  , show: function() {
      this.$el.modal('show');
    }
  , teardown: function() {
      this.remove();
    }
  });

  $.getJSON('/restaurant/{{restaurant.id}}/order/current/items', function(data){

  })

  $(function() {
    $('.item').click(function() {
      var $this = $(this);
      var categoryId = $this.parent('.category').data('id');
      var categoryIndex = $this.parent('.category').data('index');

      var itemId = $this.data('id');
      var itemIndex = $this.data('index');

      var item = restaurant.categories[categoryIndex].items[itemIndex];
      var itemModalView = new views.ItemModal({item: item});
      itemModalView.show();
    });
  });
</script>
{{/extend}}