<div class="row">
  {{> order_params_bar}}
</div>

{{#if restaurant.zip_unacceptable}}
<div class="alert alert-danger">We're sorry, this restaurant does not deliver to that zip code.</div>
{{/if}}

{{#if restaurant.datetime_unacceptable}}
<div class="alert alert-danger">We're sorry, this restaurant does not deliver for that date and time.</div>
{{/if}}

{{#if restaurant.guests_unacceptable}}
<div class="alert alert-danger">We're sorry, this restaurant cannot fulfill orders for this many guests.</div>
{{/if}}

{{#unless restaurant.guests_unacceptable}}
{{#if rrestaurant.leadtime_unacceptable}}
<div class="alert alert-danger">We're sorry, this restaurant cannot fulfill an order for this many guests without more lead time.</div>
{{/if}}
{{/unless}}

<div class="row">
  <h1 class="col-lg-12">{{restaurant.name}}</h1>
</div>

<div class="row">
  <div class="col-lg-8">
    {{#each restaurant.categories}}
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{name}}</h3>
      </div>
      <div class="list-group list-group-flush category" id="category-{{id}}">
        {{#each items}}
        <a class="list-group-item item" id="item-{{id}}">
          <div>
            <div><strong class="list-group-item-heading">{{name}}</strong> <i class="list-group-item-text pull-right">feeds {{feeds_min}}-{{feeds_max}} &nbsp;   &nbsp; price {{dollars price}}</i></div>
            <div class="list-group-item-text">{{description}}</div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>

  <div class="col-lg-4">
    <div class="panel panel-success order-summary">
      <div class="panel-heading">
        <h2 class="panel-title">Order</h2>
      </div>
      <div class="list-group list-group-flush order-items">
        <h4 class="col-lg-12 no-items{{#if order.orderItems}} hide{{/if}}">No Items Yet</h4>
        {{#each order.orderItems}}
        <div class="list-group-item order-item" id="order-item-{{id}}">
          {{> order_item_summary}}
        </div>
        {{/each}}
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-6">
            {{#if restaurant.minimum_order}}min: ${{dollars restaurant.minimum_order}}{{/if}}
          </div>
          <div  class="col-lg-6">
            <span class="pull-right">subtotal: $<span id="subtotal">{{dollars order.sub_total}}</span></span>
          </div>
        </div>
        <div class="row checkout-btn-row{{#if order.below_min}} hide{{/if}}{{#unless order.sub_total}} hide{{/unless}}">
          <a href="/orders/{{order.id}}" class="btn btn-primary pull-right">Check Out</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="item-modal" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close remove" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p class="item-description"></p>
      </div>
      <form class="modal-footer item-modal-form form-horizontal">
        <div class="form-group">
          <label class="control-label col-lg-2" for="item-modal-quantity">quantity</label>
          <div class="col-lg-5">
            <input type="number" class="form-control item-modal-quantity" id="item-modal-quantity" maxlength="4" min="0" />
          </div>
          <div class="col-lg-5">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary item-modal-submit">Add to order</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="order-params-modal" role="dialog" aria-labelledby="orderParamsRequiredModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cannot add items to order</h4>
      </div>
      <form>
        <div class="modal-body">
          <fieldset class="login-fieldset{{#if user.id}} hide{{/if}}">
            <legend>You must be logged in to add items to an order</legend>
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="email" class="form-control email">
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input type="password" class="form-control password">
            </div>
          </fieldset>

          <hr{{#if user.id}} class="hide"{{/if}}{{#if orderParams.complete}} class="hide"{{/if}}>

          <fieldset class="order-params-fieldset{{#if orderParams.complete}} hide{{/if}}">
            <legend>You must supply order info to add items to an order</legend>
            <div class="row">
              <div class="form-group col-lg-6">
                <label class="control-label">Zip Code</label>
                <input type="text" maxlength="5" class="form-control zip" value="{{orderParams.zip}}">
              </div>
              <div class="form-group col-lg-6">
                <label class="control-label">Guests</label>
                <input type="number" min="1" class="form-control guests" value="{{orderParams.guests}}">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <label class="control-label">Delivery Date</label>
                <input type="text" class="form-control date" value="{{orderParams.date}}">
              </div>
              <div class="form-group col-lg-6">
                <label class="control-label">Delivery Time</label>
                <input type="text" class="form-control time" value="{{orderParams.time}}">
              </div>
            </div>
          </fieldset>

          <div class="alert alert-danger hide">You must fill out all fields</div>
        </div>
        <div class="modal-footer">
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  var partials = {order_item_summary: 'order-item-summary.hbs', item_modal_title: 'item-modal-title.hbs'};
  for (var name in partials) {
    $.ajax({
      type: 'GET',
      url: '/partials/' + partials[name],
      success: function(data, textStatus, jqXHR) {
        Handlebars.registerPartial(name, Handlebars.compile(data));
      },
      dataType: 'html',
      async: false
    });
  }
</script>

<script type="text/javascript" src="/js/models/order-item.js"></script>
<script src="/js/models/order.js"></script>
<script type="text/javascript" src="/js/models/order-params.js"></script>

<script type="text/javascript" src="/js/views/order-item-summary-view.js"></script>
<script type="text/javascript" src="/js/views/order-summary-view.js"></script>
<script type="text/javascript" src="/js/views/order-params-view.js"></script>
<script type="text/javascript" src="/js/views/item-view.js"></script>
<script type="text/javascript" src="/js/views/item-modal.js"></script>
<script type="text/javascript" src="/js/views/order-params-modal.js"></script>

<script>
  var orderParams = new OrderParams({{{json orderParams}}});
  var orderParamsView = new OrderParamsView({model: orderParams, el: '.order-params-bar'});
  var orderParamsModal = new OrderParamsModal({model: orderParams, el: '#order-params-modal', loginNeeded: {{#if user.id}}false{{else}}true{{/if}}, orderParamsNeeded: !{{{json orderParams.complete}}} });

  var orderView = new OrderSummaryView({el: '.order-summary', model: new Order( {{{json order}}} )});

  var itemModalView = new ItemModal({el: '#item-modal', orderItems: orderView.model.orderItems});

  {{#each order.orderItems}}
  new OrderItemSummaryView({el: '#order-item-{{id}}', model: orderView.model.orderItems.get({{id}}), itemModalView: itemModalView});
  {{/each}}

  var itemViews = [
    {{#each restaurant.categories}}
    {{#each items}}
    new ItemView({
      el: $('#item-{{id}}'),
      model: new Backbone.Model( {{{json this}}} ),
      itemModalView: itemModalView,
      orderParamsModal: orderParamsModal
      }),
    {{/each}}
    {{/each}}
  ];

</script>
{{/extend}}
