{{#extend "css"}}
<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->
{{/extend}}

<div class="page page-menu container">

<div class="row">
  <div class="col-lg-12">
    <a class="back-to-results" href="/restaurants{{queryParams orderParams}}">Back to search</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="restaurant-name-logo">
      <img class="business-logo" src="{{#if restaurant.logo_url}}{{filepicker restaurant.logo_url}}{{else}}{{filepicker config.defaultLogo}}{{/if}}" alt="{{restaurant.name}}">
      <h1 class="restaurant-name page-title">{{restaurant.name}}</h1>
    </div>
    <ul class="nav nav-tabs menu-info-tabs">
      <li class="active"><a href="#menu" data-toggle="tab">Menu</a></li>
      <li><a href="#info" data-toggle="tab">Info</a></li>
      {{#if restaurant.yelp_data}}
      {{#if restaurant.yelp_data.review_count}}
      <li>
        {{#if restaurant.yelp_data.reviews}}
        <a href="#reviews" data-toggle="tab">
        {{else}}
        <a href="{{../restaurant.yelp_data.url}}" target="_blank">
        {{/if}}
          Reviews
          {{#if restaurant.yelp_data.review_count}}({{restaurant.yelp_data.review_count}}){{/if}}
        </a>
      </li>
      {{/if}}
      {{/if}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active" id="menu">
        <div class="menu">
          {{#each restaurant.categories}}
          <div class="panel menu-category">
            <div class="panel-heading menu-cateogry-heading">
              <h3 class="panel-title menu-cateogry-title">{{name}}</h3>
              <p class="category-description">{{description}}</p>
            </div>
            <div class="list-group list-group-flush category" id="category-{{id}}">
              {{#each items}}
              <a class="list-group-item item" id="item-{{id}}">
                <div class="row">
                  <h5 class="list-group-item-heading col-sm-7">
                    {{name}}
                    {{>tags tags}}
                  </h5>
                  <dl class="item-legend col-sm-5">
                    <div class="feeds-price-wrapper">
                      <div class="feeds">
                        <dt>Feeds</dt>
                        <dd>{{range feeds_min feeds_max}}</dd>
                      </div>
                      <div class="price">
                        <dt>Price</dt>
                        <dd>{{dollars price}}</dd>
                      </div>
                    </div>
                  </dl>
                </div>
                <div class="row">
                  <p class="list-group-item-text col-sm-7">{{description}}</p>
                </div>
              </a>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="tab-pane panel" id="info">
        <div class="panel-body">
          {{> restaurant_location }}
          <div class="restaurant-info-item restaurant-info-item-categories">
            <div class="info-item-title">
              <ul class="list-restaurant-inline">
              {{#each restaurant.cuisine}}
                <li class="cuisine-list-item">{{this}}</li>
              {{/each}}
              </ul>
              <span class="dollar-meter">{{{dollarMeter restaurant.price}}}</span>
            </div>
          </div>

          {{#if restaurant.max_guests}}
          <div class="restaurant-info-item restaurant-info-item-categories">
            <h4 class="info-item-title">Max. Guests:</h4>
            <div class="info-item-value">{{restaurant.max_guests}}</div>
          </div>
          {{/if}}

          {{#if restaurant.delivery_times}}
          <div class="restaurant-info-item restaurant-info-item-delivery-times">
            <h4 class="info-item-title">Delivery Times:</h4>
            <div class="info-item-value">
              {{> delivery_times restaurant}}
            </div>
          </div>
          {{/if}}

          <div class="restaurant-info-item restaurant-info-item-lead-times">
            <h4 class="info-item-title">Lead Times:</h4>
            <div class="info-item-value">
              {{> lead_times restaurant}}
            </div>
          </div>

          <div class="restaurant-info-item restaurant-info-item-zips">
            <h4 class="info-item-title">Zip Codes within delivery range:</h4>
            <div class="info-item-value">
              <ul class="list-delivery-zips">
              {{#each restaurant.delivery_zips}}
                <li class="delivery-zip">{{this}}</li>
              {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane panel" id="reviews">
        <div class="panel-body">{{> menu_tab_reviews}}</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel order-summary" data-spy="affix" data-offset-top="118">
      {{> menu_order_summary}}
    </div>
  </div>
</div>

<div class="modal fade modal-item" id="item-modal" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <h4 class="modal-title col-sm-8"></h4>
          <div class="col-sm-4 item-legend-wrapper">
            <dl class="item-legend">
              <dt>Feeds</dt>
              <dd class="item-legend-detail-feeds"></dd>
              <dt>Price</dt>
              <dd class="item-legend-detail-price"></dd>
            </dl>
          </div>
        </div>
      </div>
      <form class="modal-item-form">
      <div class="modal-body">
        <div class="errors">
          <div class="alert alert-danger alert-generic hide"></div>
        </div>
        <p class="item-description"></p>
        <div class="item-options"></div>
        <div class="form-group form-group-item-notes">
          <label for="item-notes">Comments or Instructions</label>
          <textarea name="notes" id="item-notes" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group form-group-item-recipient">
          <label for="item-recipient">Who is this item for? (optional)</label>
          <input type="text" name="recipient" id="item-recipient" rows="3" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="row modal-footer-actions">
          <div class="col-xs-6 modal-footer-left-actions btn-toolbar">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-default btn-item-remove">Remove from Order</button>
          </div>
          <div class="col-xs-6 modal-footer-right-actions form-inline">
              <div class="form-group">
                <label class="control-label col-lg-2" for="item-modal-quantity">Quantity</label>
              </div>
              <div class="form-group">
                <input type="number" class="form-control item-quantity col-lg-1" id="item-modal-quantity" maxlength="4" min="0" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary item-modal-submit">Add to order</button>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-order-params" id="order-params-modal" role="dialog" aria-labelledby="orderParamsRequiredModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">All info must be entered before creating an order</h4>
      </div>
      <div class="modal-body">
        <div class="errors">
          <div class="alert is_bad_zip alert-danger{{#unless restaurant.is_bad_zip}} hide{{/unless}}">We're sorry, this restaurant does not deliver to that zip code.</div>

          <div class="alert is_bad_delivery_time alert-danger{{#unless restaurant.is_bad_delivery_time}} hide{{/unless}}">We're sorry, this restaurant does not deliver for that date and time.</div>

          <div class="alert is_bad_guests alert-danger{{#unless restaurant.is_bad_guests}} hide{{/unless}}">We're sorry, this restaurant cannot fulfill orders for this many guests.</div>

          <div class="alert is_bad_lead_time alert-danger{{#unless restaurant.is_bad_lead_time}} hide{{/unless}}">We're sorry, this restaurant cannot fulfill an order for this many guests without more lead time.</div>

          <div class="alert alert-danger error-blank-fields hide">You must fill out all fields</div>
        </div>


        <div class="order-params-wrapper">
          {{> order_params_bar}}
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-toolbar pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  var partials = {
    order_item_summary: 'order-item-summary.hbs',
    item_modal_title:   'item-modal-title.hbs',
    item_options:       'item-options.hbs',
    menu_order_summary: 'menu-order-summary.hbs',
    order_summary:      'order-summary.hbs',
    tags:               'tags.hbs'
  };

  for (var name in partials) {
    $.ajax({
      type: 'GET',
      url: '/partials/' + partials[name],
      success: function(data, textStatus, jqXHR) {
        Handlebars.registerPartial(name, Handlebars.compile(data));
      },
      dataType: 'html',
      async: false
    });
  }
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="/js/models/address.js"></script>
<script src="/js/models/item.js"></script>
<script src="/js/models/category.js"></script>
<script src="/js/models/restaurant.js"></script>
<script type="text/javascript" src="/js/models/order-item.js"></script>
<script src="/js/models/address.js"></script>
<script src="/js/models/order.js"></script>
<script type="text/javascript" src="/js/models/order-params.js"></script>

<script src="/js/collections/items.js"></script>
<script src="/js/collections/categories.js"></script>

<script src="/js/views/form-view.js"></script>
<script type="text/javascript" src="/js/views/order-item-summary-view.js"></script>
<script type="text/javascript" src="/js/views/order-summary-view.js"></script>
<script type="text/javascript" src="/js/views/order-params-view.js"></script>
<script type="text/javascript" src="/js/views/restaurant-map-view.js"></script>
<script type="text/javascript" src="/js/views/item-view.js"></script>
<script type="text/javascript" src="/js/views/item-modal.js"></script>
<script type="text/javascript" src="/js/views/order-modal.js"></script>

<script>
  var orderModel = new Order( {{{json order}}} );

  var orderParams = new OrderParams({{{json orderParams}}});
  var orderParamsView = new OrderParamsView({model: orderParams, el: '.order-params-bar'});
  var orderModal = new OrderModal({
    model: orderModel
  , el: '#order-params-modal'
  , loginNeeded: {{#if user.id}}false{{else}}true{{/if}}
  , defaultAddress: new Address( {{{json defaultAddress }}})
  });

  var itemModalView = new ItemModal({el: '#item-modal', orderItems: orderModel.orderItems});

  var restaurantMapView = new RestaurantMapView({
    el: '.restaurant-map'
  , model: new Restaurant( {{{json restaurant}}} )
  });

  var orderView = new OrderSummaryView({
    el: '.order-summary'
  , model: orderModel
  , itemModalView: itemModalView
  , orderParams: orderParams
  , restaurantMapView: restaurantMapView
  });

  {{#each order.orderItems}}
  new OrderItemSummaryView({el: '#order-item-{{id}}', model: orderModel.orderItems.get({{id}}), itemModalView: itemModalView});
  {{/each}}

  var itemViews = [
    {{#each restaurant.categories}}
    {{#each items}}
    new ItemView({
      el: $('#item-{{id}}'),
      model: new Item( {{{json this}}} ),
      itemModalView: itemModalView,
      orderModel: orderModel,
      orderModal: orderModal,
      orderParams: orderParams
      }),
    {{/each}}
    {{/each}}
  ];

  orderView.render();

  $('.tag-tooltip').tooltip();
</script>
{{/extend}}
