{{#extend "css"}}
<link rel="stylesheet" href="/css/my-rewards.css">
{{/extend}}

{{#extend "title"}} - Rewards{{/extend}}

<h1 class="page-title">Rewards</h1>

<div class="page page-rewards container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        {{#each cards}}
        <div class="giftcard-wrapper">

          <div class="giftcard{{!--
          --}}{{#gt this.amount 10}} giftcard-gold{{/gt}}{{!--
          --}}{{#gt this.points ../user.points}} disabled{{/gt}}{{!--
         --}}">
          <div class="giftcard">
            <div class="card-info">
              <div class="amount">${{this.amount}}</div>
              <div class="location">{{this.location}}</div>
            </div>
            <div class="giftcard-menu">
              <button class="menu-primary buy-btn state-pre-click">Buy</button>
              <button class="menu-primary buy-btn state-clicked-once">
                Buy
                <span class="once-more">Once more to confirm</span>
              </button>
              <div class="menu-primary state-clicked-twice">Thank You</div>
              <div class="menu-primary state-unavailable">{{commatize this.points}} points needed</div>
            </div>
          </div>
          {{!-- <div class="card-description">{{this.location}}</div> --}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel points-panel points-panel-available">
        <h2>Available Points</h2>
        <div class="points-available">
          {{#if user.points}}
            {{user.points}}
          {{else}}
            0
          {{/if}}
        </div>

        {{#if orders}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recent Orders</th>
              <th>Points Earned</th>
            </tr>
          </thead>
          <tbody>
          {{#each orders}}
            <tr>
              <td>#{{this.id}} - {{this.restaurant_name}}</td>
              <td>{{this.points}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a href="#" class="view-all">View All</a>
        {{else}}
        <div class="panel-body">
          <p>You have no points. You can change that by <a href="/restaurants">placing an order!</a></p>
        </div>
        {{/if}}
      </div>

      {{#if user.pendingPoints}}
      <div class="panel points-panel points-panel-available">
        <h2>Pending Points</h2>
        <div class="points-available">{{user.pendingPoints}}</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recent Orders</th>
              <th>Points Earned</th>
            </tr>
          </thead>
          <tbody>
          {{#each pendingOrders}}
            <tr>
              <td>#{{this.id}} - {{this.restaurant_name}}</td>
              <td>{{this.points}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a href="#" class="view-all">View All</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require(['jquery-loaded'], function(){})
</script>
{{/extend}}
