{{#extend "css"}}
<link rel="stylesheet" href="/css/my-rewards.css">
{{/extend}}

{{#extend "title"}} - Rewards{{/extend}}

<h1 class="page-title">Rewards</h1>

<div class="page page-rewards container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        {{#each cards}}
        <div class="giftcard-wrapper">
          {{#gt this.amount 10}}
          <div class="giftcard giftcard-gold">
          {{else}}
          <div class="giftcard">
          {{/gt}}
            <div class="amount">${{this.amount}}</div>
            <div class="location">{{this.location}}</div>
            <div class="giftcard-menu"></div>
          </div>
          {{!-- <div class="card-description">{{this.location}}</div> --}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel points-panel points-panel-available">
        <h2>Available Points</h2>
        <div class="points-available">{{user.points}}</div>
        {{#if orders}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recent Orders</th>
              <th>Points Earned</th>
            </tr>
          </thead>
          <tbody>
          {{#each orders}}
            <tr>
              <td>#{{this.id}} - {{this.restaurant_name}}</td>
              <td>{{this.points}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a href="#" class="view-all">View All</a>
        {{/if}}
      </div>

      {{#if user.pendingPoints}}
      <div class="panel points-panel points-panel-available">
        <h2>Pending Points</h2>
        <div class="points-available">{{user.pendingPoints}}</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recent Orders</th>
              <th>Points Earned</th>
            </tr>
          </thead>
          <tbody>
          {{#each pendingOrders}}
            <tr>
              <td>#{{this.id}} - {{this.restaurant_name}}</td>
              <td>{{this.points}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a href="#" class="view-all">View All</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require(['jquery-loaded'], function(){})
</script>
{{/extend}}
