<p>You have recieved an order for {{order.guests}} guests with a subtotal of ${{dollars order.sub_total}}.</p>

<p>To review this this order please <a href="{{config.baseUrl}}/orders/{{order.id}}?review_token={{order.review_token}}">click here</a>.</p>
