{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/components/select2/select2.css"}}">
<link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/css/order.css' pkg)}}">
<link rel="stylesheet" href="{{cdn "/css/wizard.css"}}">
{{/extend}}

{{#extend "title"}} - Review Order{{/extend}}

{{> checkout_sticky_header }}
{{> order_params_modal }}

{{#if isAdmin}}
  {{#extend "navbar-links"}}
    <li>
      <a href="/admin/orders/{{../../order.id}}">
        Order Command Center
      </a>
    </li>
  {{/extend}}
{{/if}}

<div class="page page-order container">
  <div class="row">
    {{> wizard }}
  </div>

  <div class="panel panel-order-line-item">
    <div class="panel-heading pull-left">{{order.restaurant.name}}</div>
    <div>
    {{#if isAdmin}}
    <div class="btn-group order-status pull-right">
      <button type="button" class="btn btn-{{order.status}} dropdown-toggle" data-toggle="dropdown">
        {{order.status}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:void;" id="change-status-pending">pending</a></li>
        <li><a href="javascript:void;" id="change-status-canceled">canceled</a></li>
        <li><a href="javascript:void;" id="change-status-submitted">submitted</a></li>
        <li><a href="javascript:void;" id="change-status-denied">denied</a></li>
        <li><a href="javascript:void;" id="change-status-accepted">accepted</a></li>
        <li><a href="javascript:void;" id="change-status-delivered">delivered</a></li>
        <li><a href="javascript:void;" id="change-status-submitted-no-notify">submitted - no notification</a></li>
        <li><a href="javascript:void;" id="change-status-accepted-no-notify">accepted - no notification</a></li>
        <li><a href="javascript:void;" id="change-status-canceled-no-notify">canceled - no notificaton</a></li>
      </ul>
    </div>
    {{else}}
    <div class="order-status order-status-label pull-right">
      {{> status_label order}}
    </div>
    {{/if}}
    <div class="clearfix"></div>
    </div>
    <div id="order-summary-table-container">
      <table class="table order-line-item-table{{#if order.editable}} no-tbody-cell-borders{{/if}}">
        <thead>
          <tr>
            <th class="line-item-name">Item</th>
            <th class="line-item-feeds">Feeds</th>
            <th class="line-item-quantity">Quantity</th>
            <th class="line-item-notes">Notes</th>
            <th class="line-item-recipient"><abbr title="Specify a recipient per item (optional)">Recipient</abbr></th>
            <th class="line-item-price">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.orderItems}}
          <tr id="order-item-{{this.id}}">
            <td class="line-item-name" data-title="Name">
              <div class="item-name">{{this.name}}</div>
              <p class="item-description">{{this.description}}</p>
              {{#if options_sets}}
                <div class="item-options-title">With:</div>
              {{/if}}
              <ul class="comma-separated item-options">
                {{#each options_sets}}
                  {{#each this.options}}
                    {{#if this.state}}
                      <li>{{this.name}}</li>
                    {{/if}}
                  {{/each}}
                {{/each}}
              </ul>
              {{#if ../order.editable}}<a class="item-remove remove-order-item-btn" href="#">Remove</a>{{/if}}
            </td>
            <td class="line-item-feeds" data-title="Feeds">
              <span>{{range this.feeds_min this.feeds_max}}</span>
            </td>
            <td class="line-item-quantity" data-title="Quantity">
              {{#if ../order.editable}}
                <div>
                  <input type="number" min="1" class="item-quantity-input form-control  order-item-field order-item-quantity" value="{{this.quantity}}" />
                </div>
              {{else}}
                <span class="item-quantity-span order-item-field order-item-quantity" />{{this.quantity}}</span>
              {{/if}}
            </td>
            <td class="line-item-notes" data-title="Notes">
              {{#if ../order.editable}}
                <textarea name="notes" class="item-notes-textarea form-control order-item-field order-item-notes">{{this.notes}}</textarea>
              {{else}}
                <span name="notes" class="item-notes-span order-item-field order-item-notes">{{#if this.notes}}{{this.notes}}{{else}}&nbsp;{{/if}}</span>
              {{/if}}
            </td>
            <td class="line-item-recipient" data-title="Recipient">
              {{#if ../order.editable}}
                <textarea name="recipient" class="item-notes-textarea form-control order-item-field order-item-recipient">{{this.recipient}}</textarea>
              {{else}}
                <span name="recipient" class="item-recipient-span order-item-field order-item-recipient">{{#if this.recipient}}{{this.recipient}}{{else}}&nbsp;{{/if}}</span>
              {{/if}}
            </td>
            <td class="line-item-price" data-title="Price">{{dollars this.sub_total}}</td>
          </tr>
          {{/each}}
          <tr class="order-empty-alert {{#if order.orderItems}}hide{{/if}}">
            <td colspan="5">
              <a href="/restaurants/{{order.restaurant.id}}">
                No items added to order! Click here to view menu
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel-body totals-panel">
      {{#if isAdmin}}
      <div class="adjustment editable">
        <div class="row">
          <div class="col-lg-8">
            <textarea class="form-control adjustment-description" rows="3" name="adjustment_description">{{order.adjustment_description}}</textarea>
          </div>
          <div class="col-lg-4">
            <dl class="adjustment-input pull-right">
              <dt>Adjustment:</dt>
              <dd><input type="number" class="form-control adjustment-amount" value="{{dollars order.adjustment_amount}}" name="adjustment_amount"></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <textarea class="form-control adjustment-description" rows="3" name="user_adjustment_description">{{order.user_adjustment_description}}</textarea>
          </div>
          <div class="col-lg-4">
            <dl class="adjustment-input pull-right">
              <dt>User Adjustment:</dt>
              <dd><input type="number" class="form-control adjustment-amount" value="{{dollars order.user_adjustment_amount}}" name="user_adjustment_amount"></dd>
            </dl>
          </div>
        </div>
      </div>
      {{else}}
      {{#if (or order.adjustment_amount order.user_adjustment_amount)}}
      <div class="row adjustment">
        <div class="col-lg-8">
          {{#if order.adjustment_description}}
          <p class="adjustment-description">{{order.adjustment_description}}</p>
          {{/if}}
          {{#if order.user_adjustment_description}}
          <p class="adjustment-description">{{order.user_adjustment_description}}</p>
          {{/if}}
        </div>
        <div class="col-lg-4">
          <dl class="dl-horizontal order-totals adjustment-amount-description pull-right">
            <dt>Adjustment:</dt>
            {{#if order.adjustment_amount}}<dd class="adjustment-amount">{{dollars order.adjustment_amount}}<dd>{{/if}}
            {{#if order.user_adjustment_amount}}<dd class="adjustment-amount">{{dollars order.user_adjustment_amount}}<dd>{{/if}}
          </dl>
        </div>
      </div>
      {{/if}}
      {{/if}}

      <div class="totals">
        {{> totals}}
      </div>
    </div>
    <div class="panel-actions">
      <div class="row">
        <div class="col-sm-6 actions-left">
          {{#if order.editable}}
          <a class="btn btn-default btn-add-to-order" href="/orders/{{order.id}}/add-items">Add Items to Order</a>
          {{/if}}
        </div>
        <div class="col-sm-6 actions-right">
          {{#unless isRestaurantManager}}
            <button class="btn btn-default{{#unless order.cancelable}} hide{{/unless}}" data-toggle="modal" data-target="#cancel-confirm-modal">Cancel Order</button>
            <a href="/orders/{{order.id}}" class="btn btn-primary btn-submit{{#unless order.submittable}} disabled{{/unless}}">Checkout</a>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>

</div>

<!-- TODO: merge these two modals with a partial -->
<div id="reject-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Reject</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reject this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't reject</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-reject">Yes, reject</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cancel-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Cancel</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't cancel</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-cancel">Yes, cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{> copy_order_error_modal}}


{{#extend "bootstrap"}}
<script>
  define( 'data/order', ['app/models/index'], function(Models) {
    return new Models.Order({{{json order}}});
  });

  define( 'data/order-items', ['app/models/index'], function(Models) {
    return {{{json order.orderItems}}};
  });

  define( 'data/defaultAddress', ['app/models/index'], function( Models ){
    return new Models.Address( {{{json defaultAddress}}} )
  });
</script>
{{/extend}}

{{#extend "scripts"}}
<script>
  require([
    'app/pages/review-order'
  , 'data/order'
  , 'data/order-items'
  , 'view/order-modal'
  ]
  , function(page, order, orderItems, orderModal) {
      page.init({
        order: order
      , orderItems: orderItems
      , isAdmin: {{#if isAdmin}}true{{else}}false{{/if}}
      });
    }
  );
</script>
{{/extend}}
