{{#extend "page"}}page-order-driver{{/extend}}

{{#extend "body"}}
<!--<BreadCrumbs>-->
{{!-- <div class="container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/users/me/orders">My Orders</a>
    </li>
    <li>Order #{{order.id}}</li>
  </ul>
</div> --}}
<!--</BreadCrumbs>-->

<!--<AcceptDecline>-->
<div class="accept-decline panel-component panel-island" id="accept-decline">
  <div class="container">
    <div class="action-group">
      <div class="action-wrapper">
        <button class="btn btn-primary" data-response="true">Yes</button>
      </div>
      <div class="action-wrapper">
        <button class="btn btn-default" data-response="false">No</button>
      </div>
    </div>
  </div>
</div>
<!--</AcceptDecline>-->

<!--<MainInfo>-->
<div class="container container-full-collapse">
  <div class="definition-row-list striped collapsible">
    {{#eq order.driver_id user.id}}
      <h3 class="title">You are delivering</h3>
    {{else}}
      <h3 class="title">Can you deliver?</h3>
    {{/eq}}
    <dl>
      <div class="row">
        <dt>Delivery Date</dt>
        <dd>{{formatDateTime order.datetime 'dddd MMM Do YYYY'}}</dd>
      </div>
      <div class="row">
        <dt>Delivery Time</dt>
        <dd>{{timepart order.datetime}}</dd>
      </div>
      <div class="row">
        <dt>Pickup Time</dt>
        <dd>{{timepart order.pickup_datetime}}</dd>
      </div>
      <div class="row">
        <dt>Your Cut</dt>
        <dd>${{dollars (driverCut order)}}</dd>
      </div>
      <div class="row">
        <dt>Pickup</dt>
        <dd>
          {{order.restaurant.name}}
          <br>
          <a href="{{mapSearch order.restaurant}}">
            {{order.restaurant.street}}
            {{#if order.restaurant.street2}}
              <br />
              {{order.restaurant.street2}}
            {{/if}}
            <br />
            {{order.restaurant.city}}, {{order.restaurant.state}}, {{order.restaurant.zip}}
          </a>
        </dd>
      </div>
      <div class="row">
        <dt>Dropoff</dt>
        <dd>
          {{order.user.organization}}
          <br>
          <a href="{{mapSearch order.dropoffLocation}}">
            {{order.street}}
            {{#if order.street2}}
              <br />
              {{order.street2}}
            {{/if}}
            <br />
            {{order.city}}, {{order.state}}, {{order.zip}}
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="container container-full-collapse">
  {{{directions order.restaurant order.dropoffLocation}}}
</div>
<!--</MainInfo>-->
{{/extend}}

{{#extend "scripts"}}
<script>
  require(['app/pages/driver/order'], function( page ){
    page.init({
      order:          {{{json order}}}
    , driver_request: {{{json driver_request}}}
    });
  });
</script>
{{/extend}}