
{{#extend "title"}} - Payment{{/extend}}

{{#extend "css"}}
<style>
  .btn-edit-order {
    display: none;
  }

  .item-edit {
    display: none;
  }
  .center-text { text-align: center; }
</style>
{{/extend}}

<div class="page container">
  <div class="order-payment-view">
    <div class="alert alert-success fade in hide">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Order Payment Received!</strong> You will receive an email confirmation soon.
    </div>

    <div class="alert alert-danger fade in hide">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Order Payment Failed!</strong>
    </div>

    <div class="row">
      <div class="col-md-8">
        {{#if (eq order.payment_status "error") }}
        <div class="alert alert-danger">
          <strong>Card Declined!</strong> An error occurred while trying to process your card, please resubmit your order payment. If you have any questions, contact our customer support team at {{phoneNumber config.phone.support}}.
        </div>
        <form id="payment-form">
          {{> order_payment_info}}
          <div class="list-group-item clearfix">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        {{else}}
        <div class="list-group-item">
          <div class="col-md-12">
            <legend>Payment Info</legend>
          </div>
          <dl class="dl-horizontal">
            {{#each order.user.payment_methods}}
              {{#if (eq ../order.payment_method_id id)}}
                <dt>Card</dt>
                <dd>*****{{data.last4}}</dd>
                <dt>Card Name</dt>
                <dd>{{name}}</dd>
                <dt>Card Type</dt>
                <dd>{{data.brand}}</dd>
                <dt>Exp</dt>
                <dd>{{pad data.exp_month 2}} / {{data.exp_year}}</dd>
              {{/if}}
            {{/each}}
          </dl>
          <dl class="dl-horizontal">
            <dt>Payment Type</dt>
            {{#if order.user.is_invoiced}}
              <dd>invoiced</dd>
            {{else}}
              <dd>card</dd>
            {{/if}}
            <dt>Payment Status</dt>
            <dd>{{order.payment_status}}</dd>
          </dl>

        </div>
        {{/if}}
      </div>
      <div class="col-md-4">
        {{> checkout_order_summary }}

        <div class="list-group-item center-text">
          <a href="{{config.baseUrl}}/orders/{{order.id}}">view full order</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
{{> stripe}}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script>
require([
  'app/views/order-payment-view'
, 'app/models/index'
],
function(OrderPaymentView, Models, spinner, FormView) {
  balanced.init({{{json config.balanced.marketplaceUri}}});

  var OrderPaymentView = new OrderPaymentView({
    el: '.order-payment-view'
  , model: new Models.Order({{{json order}}})
  , user: new Models.User({{{json order.user}}})
  });

});
</script>
{{/extend}}
