<div class="row">
  <h1 class="text-center">Order</h1>
</div>

<div class="row order-info">
  <h3 class="row">
    {{order.restaurant.name}}
    <span class="label status {{statusLabel order.status}} pull-right">{{order.status}}</span>
  </h3>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <p>Date: {{order.created_at}}</p>
        <p>Delivery Date: {{order.datetime}}</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {{{address order}}}
        </div>
        <div class="col-lg-6">
          {{order.phone}}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <h4 class="text-center col-lg-10">Notes</h4>
      </div>
      <form class="form-inline row order-form">
        <div class="col-lg-10">
          <textarea class="form-control order-notes" {{#unless order.editable}}disabled{{/unless}}>{{order.notes}}</textarea>
        </div>
        <div class="col-lg-2">
          <button type="submit" class="btn btn-lg btn-success hide order-save-btn">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ul class="row order-items list-group">
  {{#each order.orderItems}}
  <li class="list-group-item row">
    <form id="order-item-form#{{this.id}}" class="order-item-form form-inline">
      <div class="col-lg-5">
        <h4 class="list-group-item-heading">{{this.name}}</h4>
        <p>{{this.description}}</p>
        <div class="input-group">
          <span class="input-group-addon input-sm">x</span>
          <input type="number" min="1" value="{{this.quantity}}" class="form-control input-sm order-item-input quantity" {{#unless ../order.editable}}disabled{{/unless}}>
        </div>
        <a href="javascript:void(0)">delete</a>
      </div>
      <div class="col-lg-5">
        <textarea class="form-control order-item-input order-item-notes" rows="4" {{#unless ../order.editable}}disabled{{/unless}}>{{this.notes}}</textarea>
      </div>
      <div class="col-lg-2">
        <div class="row">
          <span class="badge pull-right">{{#if this.sub_total}}${{dollars this.sub_total}}{{/if}}</span>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-success pull-right hide">Save</button>
        </div>
      </div>
    </form>
  </li>
  {{else}}
  <h2 class="text-center">No Items</h2>
  {{/each}}
</ul>

<div class="row">
  <p class="text-right">subtotal: ${{dollars order.sub_total}}</p>
  <p class="text-right">tax: ${{tax order.sub_total}}</p>
  <p class="text-right">total: ${{total order.sub_total}}</p>
  <div class="btn-toolbar pull-right">
    {{#if order.cancelable}}<button class="btn btn-lg btn-danger">Cancel</button>{{/if}}
    {{#if order.editable}}<button class="btn btn-lg btn-primary">Submit</button>{{/if}}
  </div>
</div>

{{#if restaurantReview}}
<div class="row">
  <div class="col-lg-6">
    <button class="btn btn-lg btn-danger">Reject</button>
  </div>
  <div class="col-lg-6">
    <button class="btn btn-lg btn-success">Accept</button>
  </div>
</div>
{{/if}}

{{#extend "scripts"}}
<script src="/js/models/order-item.js"></script>
<script src="/js/models/order.js"></script>
<script>
  var order = new Order({{{json order}}});
</script>
<script>
  $('.order-notes').keyup(function(e) {
    $('.order-save-btn').removeClass('hide');
  });
</script>
{{/extend}}
