{{#extend "css"}}
<link rel="stylesheet" href="/components/select2/select2.css">
<link rel="stylesheet" href="/css/order.css">
{{/extend}}

<div class="page page-order container container-small">
  <div class="row">
    <h1 class="col-lg-12 page-title">Review Your Order</h1>
  </div>

  {{#if order.editable}}
  <div class="row">
    <div class="alerts col-lg-12">
      <div class="alert alert-danger alert-bad-zip row{{#unless order.restaurant.is_bad_zip}} hide{{/unless}}" data-error="is_bad_zip">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Zip :(</h3>
          <p>This order can only be delivered to the zip codes listed</p>
        </div>
        <div class="col-sm-4 alert-right">
          <ul class="list-delivery-zips">
          {{#each order.restaurant.delivery_zips}}
            <li class="delivery-zip">{{this}}</li>
          {{/each}}
          </ul>
        </div>
      </div>

      <div class="alert alert-danger alert-bad-delivery-time row{{#unless order.restaurant.is_bad_delivery_time}} hide{{/unless}}" data-error="is_bad_delivery_time">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Time :(</h3>
          <p>This order cannot be delivered for that date and time. Please ensure that your delivery time is within the restaurants schedule.</p>
        </div>
        <div class="col-sm-4 alert-right">
          {{> delivery_times order.restaurant }}
        </div>
      </div>

      <div class="alert alert-danger alert-bad-guests{{#unless order.restaurant.is_bad_guests}} hide{{/unless}}" data-error="is_bad_guests">
        <p>This order cannot be delivered for that many guests.</p>
        <p><strong>Maximum guests:</strong> {{order.restaurant.max_guests}}</p>
      </div>

      <div class="alert alert-danger alert-bad-lead-time row{{#unless order.restaurant.is_bad_lead_time}} hide{{/unless}}" data-error="is_bad_lead_time">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Time :(</h3>
          <p>This order cannot be delivered for that many guests without more lead time. Please check lead times for this restaurant.</p>
        </div>
        <div class="col-sm-4 alert-right">
          {{> lead_times order.restaurant }}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="row">
    {{#if query.copy}}
    <div class="alerts col-lg-12">
      {{#unless query.lostItems}}
      <div class="alert alert-success">
        <p>Your order has been copied.  Your new order is below.</p>
      </div>
      {{else}}
      <div class="alert alert-danger">
        <p>Your order has been copied.  Your new order is below.</p>
        <p>However, the following items from your old order are no longer available at {{order.restaurant.name}} and so were not copied:</p>
        <ul>
          {{#each query.lostItems}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      {{/unless}}
    </div>
    {{/if}}
  </div>

  <div class="panel panel-order-details">
    <form id="order-form" class="form-light order-form row" method="POST" action="javascript:void(0);">
      <div class="col-sm-7 col-left">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9">
              <h2 class="restaurant-name">{{order.restaurant.name}}</h2>
            </div>
            <div class="col-sm-3">
              {{#if admin}}
              <div class="btn-group">
                <button type="button" class="btn btn-{{order.status}} dropdown-toggle" data-toggle="dropdown">
                  {{order.status}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="javascript:void;" id="change-status-pending">pending</a></li>
                  <li><a href="javascript:void;" id="change-status-canceled">canceled</a></li>
                  <li><a href="javascript:void;" id="change-status-submitted">submitted</a></li>
                  <li><a href="javascript:void;" id="change-status-denied">denied</a></li>
                  <li><a href="javascript:void;" id="change-status-accepted">accepted</a></li>
                  <li><a href="javascript:void;" id="change-status-delivered">delivered</a></li>
                </ul>
              </div>
              {{else}}
              {{> status_label order}}
              {{/if}}
            </div>
          </div>
          <div class="date-created">
            Date created:
            <span class="date-created-value">{{formatDateTime order.created_at "MMMM Do YYYY, h:mm a"}}</span>
          </div>

          <fieldset class="left-fields">
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="control-label">Order Name</label>
                <input type="text" class="form-control order-name" value="{{order.name}}" placeholder="e.g. Tuesday Meeting">
              </div>
            </div>
            <div class="row date-time-guests">
              <div class="form-group col-sm-4 form-group-delivery-date" data-icon="gb-icon-calendar">
                <label class="control-label" for="order-date">Delivery Date</label>
                <input type="text" class="form-control order-datetime" id="order-date" value="{{#if order.datetime}}{{formatDateTime order.datetime}}{{else}}{{formatDateTime orderParams.date}}{{/if}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
              <div class="form-group col-sm-4 form-group-delivery-time" data-icon="gb-icon-time">
                <label class="control-label" for="order-time">Delivery Time</label>
                <input type="text" class="form-control order-datetime" id="order-time" value="{{#if order.datetime}}{{formatDateTime order.datetime 'hh:mm A'}}{{else}}{{formatTime orderParams.time}}{{/if}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
              <div class="form-group col-sm-4" data-icon="gb-icon-user">
                <label class="control-label" for="order-guests">Guests</label>
                <input type="number" class="form-control" id="order-guests" value="{{#if order.guests}}{{order.guests}}{{else}}{{orderParams.guests}}{{/if}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="control-label" for="order-notes">Notes</label>
                <textarea id="order-notes" class="form-control order-notes" rows="5"{{#unless order.editable}} disabled="disabled"{{/unless}}>{{order.notes}}</textarea>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="col-sm-5 col-right">
        <div class="panel-body">
          {{#if this.restaurant}}
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default copy-order-btn pull-right">Copy Order</button>
            </div>
          </div>
          {{/if}}
          <div class="form-inline order-delivery">
            <fieldset class="form-light address-info">
              <legend class="delivery-address-legend">Delivery Address</legend>
              <div class="form-group form-group-block">
                <label class="control-label" for="address-street" class="control-label">Street Address</label>
                <input type="text" id="address-street" class="form-control address-input address-street" value="{{order.street}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
              <div class="form-group form-group-city">
                <label class="control-label" for="address-city">City</label>
                <input type="text" class="form-control" id="address-city" value="{{order.city}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
              </div>
              <div class="form-group form-group-state">
                <label for="address-state" class="control-label">State</label>
                <select id="address-state" class="form-control address-input address-state" form="order-form"{{#unless order.editable}} disabled="disabled"{{/unless}}>
                  {{#each states}}
                  <option value="{{this.abbr}}" label="{{this.abbr}}"{{#if this.default}} selected="selected"{{/if}}>{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group form-group-zip">
                <label class="control-label" for="address-zip">Zip</label>
                <input list="zips" type="text" class="form-control" id="address-zip" value="{{order.zip}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
                <datalist id="zips">
                  {{#each order.restaurant.delivery_zips}}
                  <option value="{{this}}">
                  {{/each}}
                </datalist>
              </div>
            </fieldset>
            <div class="form-group form-group-block form-group-phone">
              <label class="control-label" for="order-phone label-bold">Phone</label>
              <input type="tel" class="form-control order-phone" id="order-phone" value="{{phoneNumber order.phone}}"{{#unless order.editable}} disabled="disabled"{{/unless}}>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="panel panel-order-line-item">
    {{#unless order.orderItems.length}}
    <div class="panel-heading">No Order Items</div>
    {{else}}
    <div class="panel-heading">Order Summary</div>

    <div id="order-summary-table-container">
      <table class="table order-line-item-table{{#if order.editable}} no-tbody-cell-borders{{/if}}">
        <thead>
          <tr>
            <th class="line-item-name">Item</th>
            <th class="line-item-quantity">Quantity</th>
            <th class="line-item-notes">Notes</th>
            <th class="line-item-price">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.orderItems}}
          <tr id="order-item-{{this.id}}">
            <td class="line-item-name" data-title="Name">
              <div class="item-name">{{this.name}}</div>
              <ul class="comma-separated item-options">
                {{#each options_sets}}
                  {{#each this.options}}
                    {{#if this.state}}
                      <li>{{this.name}}</li>
                    {{/if}}
                  {{/each}}
                {{/each}}
              </ul>
              {{#if ../order.editable}}<a class="item-remove remove-order-item-btn" href="#">Remove</a>{{/if}}
            </td>
            <td class="line-item-quantity" data-title="Quantity">
              {{#if ../order.editable}}
                <span class="icon-x">x</span>
                <input type="number" min="1" class="item-quantity-input form-control order-item-field order-item-quantity" value="{{this.quantity}}" />
              {{else}}
                <span class="item-quantity-span order-item-field order-item-quantity" />{{this.quantity}}</span>
              {{/if}}
            </td>
            <td class="line-item-notes" data-title="Notes">
              {{#if ../order.editable}}
                <textarea name="notes" class="item-notes-textarea form-control order-item-field order-item-notes">{{this.notes}}</textarea>
              {{else}}
                <span name="notes" class="item-notes-span order-item-field order-item-notes">{{this.notes}}</span>
              {{/if}}
            </td>
            <td class="line-item-price" data-title="Price">{{dollars this.sub_total}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/unless}}

    <div class="panel-body totals-panel">
      {{#if admin}}
      <div class="row adjustment editable">
        <div class="col-lg-8">
          <textarea class="form-control adjustment-description" rows="3">{{order.adjustment.description}}</textarea>
        </div>
        <div class="col-lg-4">
          <dl class="adjustment-input pull-right">
            <dt>Adjustment:</dt>
            <dd><input type="number" class="form-control adjustment-amount" value="{{dollars order.adjustment.amount}}"></dd>
          </dl>
        </div>
      </div>
      {{else}}
      {{#if order.adjustment}}
      <div class="row adjustment">
        <div class="col-lg-8">
          <p class="adjustment-description">{{order.adjustment.description}}</p>
        </div>
        <div class="col-lg-4">
          <dl class="dl-horizontal order-totals adjustment-amount-description pull-right">
            <dt>Adjustment:</dt>
            <dd class="adjustment-amount">{{dollars order.adjustment.amount}}<dd>
          </dl>
        </div>
      </div>
      {{/if}}
      {{/if}}

      {{#if order.editable}}
      <div class="row tip-area">
        <div class="col-lg-9">
          <div class="btn-toolbar tip-buttons pull-right">
            <button type="button" class="btn btn-default" data-percent="0.00">No Tip</button>
            <button type="button" class="btn btn-default" data-percent="0.05">5%</button>
            <button type="button" class="btn btn-default" data-percent="0.10">10%</button>
            <button type="button" class="btn btn-default" data-percent="0.15">15%</button>
            <button type="button" class="btn btn-default" data-percent="0.18">18%</button>
            <button type="button" class="btn btn-default" data-percent="0.20">20%</button>
            <button type="button" class="btn btn-default" data-percent="0.25">25%</button>
          </div>
        </div>
        <div class="col-lg-3">
          <dl class="pull-right">
            <dt>Tip:</dt>
            <dd>
              <input type="number" class="form-control tip" value="{{dollars order.tip}}">
            </dd>
          </dl>
        </div>
      </div>
      {{/if}}

      {{#if order.sub_total}}
      <div class="row">
        <div class="col-lg-12 totals">
          {{> totals}}
        </div>
      </div>
      {{/if}}

      <div class="row panel-actions">
        <div class="col-sm-6 actions-left">
          {{#if order.editable}}
          <a class="btn btn-default btn-add-to-order" href="/restaurants/{{order.restaurant.id}}">Add to Order</a>
          {{/if}}
        </div>
        <div class="col-sm-6 actions-right">
          {{#if owner}}
            <button class="btn btn-default{{#unless order.cancelable}} hide{{/unless}}" data-toggle="modal" data-target="#cancel-confirm-modal">Cancel Order</button>
            <button class="btn btn-primary btn-submit{{#unless order.submittable}} hide{{/unless}}">Submit</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  {{#if restaurantReview}}
  <div class="panel restaurant-review">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <dl class="dl-horizontal">
            {{#if order.user.name}}
            <dt>Customer Name:</dt>
            <dd>{{order.user.name}}</dd>
            {{/if}}
            <dt>Customer Email:</dt>
            <dd>{{order.user.email}}</dd>
            {{#if order.user.organization}}
            <dt>Customer Organization:</dt>
            <dd>{{order.user.organization}}</dd>
            {{/if}}
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#reject-confirm-modal">Reject Order</button>
        </div>
        <div class="col-lg-3 col-lg-offset-2">
          <button class="btn btn-lg btn-success btn-accept pull-right">Accept Order</button>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>

<!-- TODO: merge these two modals with a partial -->
<div id="reject-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Reject</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reject this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't reject</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-reject">Yes, reject</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cancel-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Cancel</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't cancel</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-cancel">Yes, cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{> copy_order_error_modal}}

{{#extend "scripts"}}
<script src="/js/models/item.js"></script>
<script src="/js/models/category.js"></script>
<script src="/js/models/restaurant.js"></script>
<script src="/js/models/order-item.js"></script>
<script src="/js/models/address.js"></script>
<script src="/js/models/order.js"></script>

<script src="/js/collections/items.js"></script>
<script src="/js/collections/categories.js"></script>

<script src="/js/views/form-view.js"></script>
<script src="/js/views/copy-error-modal.js"></script>
<script src="/js/views/order-view.js"></script>
<script src="/js/views/order-item-view.js"></script>
<script>
  $.get('/partials/totals.hbs', null, function(data, textStatus, jqXHR) {
    Handlebars.registerPartial('totals', Handlebars.compile(data));
  }, 'html')
  var query = utils.parseQueryParams();
  var view = new OrderView( {el: $('#main'), model: new Order( {{{json order}}} ), review_token: query.review_token} );
  var items = [
    {{#each order.orderItems}}
    {{#if @index}},{{/if}} new OrderItemView({el: $('#order-item-{{this.id}}'), model: view.model.orderItems.get({{this.id}})})
    {{/each}}
  ];
  view.items = items;
  if (history) history.pushState(null, null, location.pathname);
</script>
{{/extend}}
