{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/user-orders.css"}}">
{{/extend}}

<div class="container">
  <div class="row">
    <h1 class="col-lg-12 page-title">Orders</h1>
  </div>
  <div class="row orders-list">
    <div class="col-md-2 col-md-offset-2">
      <div class="panel">
        <div class="panel-heading panel-heading-small">
          <h4 class="panel-title">Status</h4>
        </div>
        <div class="panel-body">
          {{> order_status_buttons}}
        </div>
      </div>
      {{#if user.isAdmin}}
      <div class="panel panel-order-types">
        <div class="panel-heading panel-heading-small">
          <h4 class="panel-title">Order Type</h4>
        </div>
        <div class="panel-body">
          <a href="{{queryParams (omit reqQuery 'type')}}"
             class="btn btn-default{{#unless reqQuery.type}} active{{/unless}}">Any</a>
          <a href="{{queryParams reqQuery 'type' 'is_pickup'}}"
             class="btn btn-default{{#eq reqQuery.type 'is_pickup'}} active{{/eq}}">Pickup</a>
          <a href="{{queryParams reqQuery 'type' 'is_delivery'}}"
             class="btn btn-default{{#eq reqQuery.type 'is_delivery'}} active{{/eq}}">Delivery</a>
          <a href="{{queryParams reqQuery 'type' 'is_delivery_service'}}"
             class="btn btn-default{{#eq reqQuery.type 'is_delivery_service'}} active{{/eq}}">Delivery Service</a>
        </div>
      </div>
      {{/if}}
    </div>
    <div class="col-md-6">
      <div class="panel">
        {{> order_list }}
      </div>
      {{> order_list_paginator }}
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require([
      'app/views/orders-list-view'
    ]
  , function(OrdersListView) {
      var ordersListView = new OrdersListView({el: '.orders-list'});
    }
  );
</script>
{{/extend}}
