<p>Your order #{{order.id}} placed with {{order.restaurant.name}} for {{datepart order.datetime}} has been {{status.status}}.</p>
<p>Click <a href="{{config.baseUrl}}/orders/{{order.id}}">here</a> to view your order.</p>
