{{#extend "page"}}page-order-driver{{/extend}}

{{#extend "body"}}
<!--<BreadCrumbs>-->
{{!-- <div class="container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/users/me/orders">My Orders</a>
    </li>
    <li>Order #{{order.id}}</li>
  </ul>
</div> --}}
<!--</BreadCrumbs>-->

{{#isNull order_driver_request.response}}
{{#with ../this}}
<!--<AcceptDecline>-->
<div class="accept-decline panel-component panel-island" id="accept-decline">
  <div class="container">
    {{> order_driver_accept_decline}}
  </div>
</div>
<!--</AcceptDecline>-->
{{/with}}
{{/isNull}}

<!--<MainInfo>-->
<div class="container container-full-collapse">
  <div class="definition-row-list striped collapsible">
    {{#notNull order_driver_request.response}}
      {{#if ../order_driver_request.response}}
        <h3 class="title">You are delivering</h3>
      {{else}}
        <h3 class="title">You <em>declined</em> to deliver this order</h3>
      {{/if}}
    {{else}}
      <h3 class="title">Can you deliver?</h3>
    {{/notNull}}
    <dl>
      <div class="row">
        <dt>Delivery Date</dt>
        <dd>{{formatDateTime order.datetime 'dddd MMM Do YYYY'}}</dd>
      </div>
      <div class="row">
        <dt>Delivery Time</dt>
        <dd>{{timepart order.datetime}}</dd>
      </div>
      <div class="row">
        <dt>Pickup Time</dt>
        <dd>{{timepart order.pickup_datetime}}</dd>
      </div>
      <div class="row">
        <dt>Your Cut</dt>
        <dd>${{dollars (driverCut order)}}</dd>
      </div>
      <div class="row">
        <dt>Pickup</dt>
        <dd>
          {{order.restaurant.name}}
          <br>
          <a href="{{mapSearch order.restaurant}}">
            {{order.restaurant.street}}
            {{#if order.restaurant.street2}}
              <br />
              {{order.restaurant.street2}}
            {{/if}}
            <br />
            {{order.restaurant.city}}, {{order.restaurant.state}}, {{order.restaurant.zip}}
          </a>
        </dd>
      </div>
      <div class="row">
        <dt>Dropoff</dt>
        <dd>
          {{order.user.organization}}
          <br>
          <a href="{{mapSearch order.dropoffLocation}}">
            {{order.street}}
            {{#if order.street2}}
              <br />
              {{order.street2}}
            {{/if}}
            <br />
            {{order.city}}, {{order.state}}, {{order.zip}}
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="container container-full-collapse">
  {{{directions order.restaurant order.dropoffLocation}}}
</div>
<!--</MainInfo>-->
{{/extend}}

{{#extend "scripts"}}
<script>
  require(['app/pages/driver/order'], function( page ){
    page.init({
      order:                {{{json order}}}
    , order_driver_request: {{{json order_driver_request}}}
    });
  });
</script>
{{/extend}}