<p>Your order placed on {{datepart order.submitted}} at {{order.restaurant.name}} has been {{order.status}}.</p>
<p>Click <a href="{{config.baseUrl}}/orders/{{order.id}}">here</a> to view your order.</p>
