<p>View order <a href="{{config.baseUrl}}/orders/{{order.id}}?review_token={{order.review_token}}">here</a>.</p>
<br>
<p><em>Order Details</em></p>
<p>Delivery Date: {{datepart order.datetime}}</p>
<p>Delivery Time: {{timepart order.datetime}}</p>
<p>Guests: {{order.guests}}</p>
<p>Subtotal: ${{dollars order.sub_total}}<p>
