{{#extend "css"}}
<link rel="stylesheet" href="/css/order.css">
<link rel="stylesheet" href="/css/receipt.css">
{{/extend}}

<div class="page page-order container container-small">
  <div class="row">
    {{> wizard }}
  </div>

  {{#if showThankYou}}
    <p class="thankyou-message"><strong>Thanks for your order!</strong> You will receive a confirmation email shortly.</p>
  {{/if}}

  {{#if order.editable}}
  <div class="row">
    <div class="alerts col-lg-12">
      <div class="alert alert-danger alert-bad-zip row{{#unless order.restaurant.is_bad_zip}} hide{{/unless}}" data-error="is_bad_zip">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Zip :(</h3>
          <p>This order can only be delivered to the zip codes listed</p>
        </div>
        <div class="col-sm-4 alert-right">
          <ul class="list-delivery-zips">
          {{#each order.restaurant.delivery_zips}}
            <li class="delivery-zip">{{this}}</li>
          {{/each}}
          </ul>
        </div>
      </div>

      <div class="alert alert-danger alert-bad-delivery-time row{{#unless order.restaurant.is_bad_delivery_time}} hide{{/unless}}" data-error="is_bad_delivery_time">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Time :(</h3>
          <p>This order cannot be delivered for that date and time. Please ensure that your delivery time is within the restaurants schedule.</p>
        </div>
        <div class="col-sm-4 alert-right">
          {{> delivery_times order.restaurant }}
        </div>
      </div>

      <div class="alert alert-danger alert-bad-guests{{#unless order.restaurant.is_bad_guests}} hide{{/unless}}" data-error="is_bad_guests">
        <p>This order cannot be delivered for that many guests.</p>
        <p><strong>Maximum guests:</strong> {{order.restaurant.max_guests}}</p>
      </div>

      <div class="alert alert-danger alert-bad-lead-time row{{#unless order.restaurant.is_bad_lead_time}} hide{{/unless}}" data-error="is_bad_lead_time">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Time :(</h3>
          <p>This order cannot be delivered for that many guests without more lead time. Please check lead times for this restaurant.</p>
        </div>
        <div class="col-sm-4 alert-right">
          {{> lead_times order.restaurant }}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="panel panel-order-details">
    <form id="order-form" class="form-light order-form" method="POST" action="javascript:void(0);">
      <div class="panel-body">
        <div class="clearfix">
          <div class="delivery-header pull-left">
            {{order.restaurant.name}} [Order #{{order.id}}]
            {{#if order.restaurant}}
            <a href="javascript:void(0);" class="copy-order-btn text-muted">Copy Order</a>
            {{/if}}
          </div>
          {{#if admin}}
            <div class="pull-right btn-group">
              <button type="button" class="btn btn-{{order.status}} dropdown-toggle" data-toggle="dropdown">
                {{order.status}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void;" id="change-status-pending">pending</a></li>
                <li><a href="javascript:void;" id="change-status-canceled">canceled</a></li>
                <li><a href="javascript:void;" id="change-status-submitted">submitted</a></li>
                <li><a href="javascript:void;" id="change-status-denied">denied</a></li>
                <li><a href="javascript:void;" id="change-status-accepted">accepted</a></li>
                <li><a href="javascript:void;" id="change-status-delivered">delivered</a></li>
              </ul>
            </div>
          {{else}}
          <div class="pull-right order-status-label">{{> status_label order}}</div>
          {{/if}}
        </div>

        <div class="delivery-submitted">
          <div class="date-created">
            Date submitted: {{datepartUtcToLocal order.submitted}} {{timepartUtcToLocal order.submitted}}
          </div>
        </div>

        <div class="row delivery-info">
          <fieldset class="col-xs-6 delivery-info-date">
            {{#unless order.editable}}
            {{#if order.name}}<p><strong>{{order.name}}</strong></p>{{/if}}
            {{else}}
            <div class="form-group">
              <label class="control-label">Order Name</label>
              <input type="text" class="form-control order-name" value="{{order.name}}" placeholder="e.g. Tuesday Meeting">
            </div>
            {{/unless}}

            {{#unless order.editable}}
            <dl class="dl-horizontal no-margin">
              <dt>Delivery Date:</dt>
              <dd>{{datepart order.datetime}}</dd>
              <dt>Delivery Time:</dt>
              <dd>{{timepart order.datetime}}</dd>
              <dt>Guests:</dt>
              <dd>{{order.guests}}</dd>
            </dl>
            {{else}}
            <div class="form-group form-group-delivery-date" data-icon="gb-icon-calendar">
              <label class="control-label" for="order-date">Delivery Date</label>
              <input type="text" class="form-control order-datetime" id="order-date" value="{{#if order.datetime}}{{formatDateTime order.datetime}}{{else}}{{formatDateTime orderParams.date}}{{/if}}">
            </div>
            <div class="form-group form-group-delivery-time" data-icon="gb-icon-time">
              <label class="control-label" for="order-time">Delivery Time</label>
              <input type="text" class="form-control order-datetime" id="order-time" value="{{#if order.datetime}}{{formatDateTime order.datetime 'hh:mm A'}}{{else}}{{formatTime orderParams.time}}{{/if}}">
            </div>
            <div class="form-group" data-icon="gb-icon-user">
              <label class="control-label" for="order-guests">Guests</label>
              <input type="number" class="form-control" id="order-guests" value="{{#if order.guests}}{{order.guests}}{{else}}{{orderParams.guests}}{{/if}}">
            </div>
            {{/unless}}

            {{#unless order.editable}}
            <p>{{order.notes}}</p>
            {{else}}
            <div class="form-group">
              <label class="control-label" for="order-notes">Notes</label>
              <textarea id="order-notes" class="form-control order-notes" rows="5">{{order.notes}}</textarea>
            </div>
            {{/unless}}
          </fieldset>

          <fieldset class="col-xs-6 delivery-info-address">
            {{#if user.name}}
            <div><strong>{{user.name}}</strong></div>
            {{/if}}
            {{#if user.organization}}
            <div><strong>{{user.organization}}</strong></div>
            {{/if}}
            {{#unless order.editable}}
            {{> address order.address}}
            {{else}}
            {{#with orderAddress}}
            {{> edit_address}}
            {{/with}}
            {{/unless}}
          </fieldset>
        </div>
      </div>
    </form>

    {{#unless order.orderItems.length}}
    <h3>No Order Items</h3>
    {{else}}

    <div class="order-summary-heading">Order Summary</div>
    <div id="order-summary-table-container">
      <table class="table order-line-item-table">
        <thead>
          <tr>
            <th class="line-item-name">Item</th>
            <th class="line-item-quantity">Quantity</th>
            <th class="line-item-notes">Notes</th>
            <th class="line-item-feeds">Feeds</th>
            <th class="line-item-price">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.orderItems}}
          <tr id="order-item-{{this.id}}">
            <td class="line-item-name" data-title="Name">
              <div class="item-name">{{this.name}}</div>
              <ul class="comma-separated item-options">
                {{#each options_sets}}
                {{#each this.options}}
                {{#if this.state}}
                <li>{{this.name}}</li>
                {{/if}}
                {{/each}}
                {{/each}}
              </ul>
              {{#if ../order.editable}}<a class="item-remove remove-order-item-btn" href="#">Remove</a>{{/if}}
            </td>
            <td class="line-item-quantity" data-title="Quantity">
              {{#if ../order.editable}}
              <span class="icon-x">x</span>
              <input type="number" min="1" class="item-quantity-input form-control order-item-field order-item-quantity" value="{{this.quantity}}" />
              {{else}}
              <span class="item-quantity-span order-item-field order-item-quantity">{{this.quantity}}</span>
              {{/if}}
            </td>
            <td class="line-item-notes" data-title="Notes">
              {{#if ../order.editable}}
              <textarea name="notes" class="item-notes-textarea form-control order-item-field order-item-notes">{{this.notes}}</textarea>
              {{else}}
              <span name="notes" class="item-notes-span order-item-field order-item-notes">{{#if this.notes}}{{this.notes}}{{else}}&nbsp;{{/if}}</span>
              {{/if}}
            </td>
            <td class="line-item-feeds" data-title="Feeds">
              {{range feeds_min feeds_max}}
            </td>
            <td class="line-item-price" data-title="Price">{{dollars this.sub_total}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/unless}}

    <div class="panel-body totals-panel">
      {{#if admin}}
      <div class="row adjustment editable">
        <div class="col-lg-8">
          <textarea class="form-control adjustment-description" rows="3">{{order.adjustment.description}}</textarea>
        </div>
        <div class="col-lg-4">
          <dl class="adjustment-input pull-right">
            <dt>Adjustment:</dt>
            <dd><input type="number" class="form-control adjustment-amount" value="{{dollars order.adjustment.amount}}"></dd>
          </dl>
        </div>
      </div>
      {{else}}
      {{#if order.adjustment}}
      <div class="row adjustment">
        <div class="col-lg-8">
          <p class="adjustment-description">{{order.adjustment.description}}</p>
        </div>
        <div class="col-lg-4">
          <dl class="dl-horizontal order-totals adjustment-amount-description pull-right">
            <dt>Adjustment:</dt>
            <dd class="adjustment-amount">{{dollars order.adjustment.amount}}<dd>
          </dl>
        </div>
      </div>
      {{/if}}
      {{/if}}

      {{#if order.sub_total}}
      <div class="totals">
        {{> totals}}
      </div>
      {{/if}}
    </div>

    {{#unless restaurantReview}}
    <div class="panel-actions">
      {{#eq order.status "pending"}}
      <a class="btn btn-default btn-add-to-order" href="/restaurants/{{order.restaurant.id}}">Add to Order</a>
      {{/eq}}
      {{#if owner}}
      <button class="btn btn-default{{#unless order.cancelable}} hide{{/unless}}" data-toggle="modal" data-target="#cancel-confirm-modal">Cancel Order</button>
      {{/if}}
    </div>
    {{/unless}}

    {{#if restaurantReview}}
    <div class="panel-actions restaurant-review panel-body">
      <button class="btn btn-default" data-toggle="modal" data-target="#reject-confirm-modal">Reject Order</button>
      <button class="btn btn-primary btn-accept">Accept Order</button>
    </div>
    {{/if}}
  </div>
</div>

<!-- TODO: merge these two modals with a partial -->
<div id="reject-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Reject</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reject this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't reject</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-reject">Yes, reject</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cancel-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Cancel</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't cancel</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-cancel">Yes, cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{> copy_order_error_modal}}

{{#extend "scripts"}}
<script src="/js/models/item.js"></script>
<script src="/js/models/category.js"></script>
<script src="/js/models/restaurant.js"></script>
<script src="/js/models/order-item.js"></script>
<script src="/js/models/address.js"></script>
<script src="/js/models/order.js"></script>

<script src="/js/collections/items.js"></script>
<script src="/js/collections/categories.js"></script>

<script src="/js/views/form-view.js"></script>
<script src="/js/views/copy-error-modal.js"></script>
<script src="/js/views/address-view.js"></script>
<script src="/js/views/order-address-view.js"></script>
<script src="/js/views/tip-view.js"></script>
<script src="/js/views/order-view.js"></script>
<script src="/js/views/receipt-view.js"></script>
<script src="/js/views/order-item-view.js"></script>
<script>
  $.get('/partials/totals.hbs', null, function(data, textStatus, jqXHR) {
    Handlebars.registerPartial('totals', Handlebars.compile(data));
  }, 'html')
  var query = utils.parseQueryParams();
  var view = new ReceiptView( {el: $('#main'), model: new Order( {{{json order}}} ), review_token: query.review_token} );
  var items = [
    {{#each order.orderItems}}
    {{#if @index}},{{/if}} new OrderItemView({el: $('#order-item-{{this.id}}'), model: view.model.orderItems.get({{this.id}})})
    {{/each}}
  ];
  view.items = items;
  if (typeof history === 'object' && 'pushState' in history) history.pushState(null, null, location.pathname);
</script>
{{/extend}}
