{{#extend "css"}}
<link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/css/order.css' pkg)}}">
<link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/css/receipt.css' pkg)}}">
{{/extend}}

{{#extend "title"}} - Receipt{{/extend}}

{{#if (contains user.groups 'admin')}}
  {{#extend "prefix-title"}}#{{order.id}} {{/extend}}
{{/if}}

{{#extend "banner"}}
  {{#if (contains user.groups 'order-owner')}}
    {{#if (not order.order_feedback.ease_of_submitting_rating)}}
    <div class="feedback-order">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="container">
          <h1 class="feedback-title">Tell us what you think</h1>
          <form class="order-feedback-form">
            <div class="form-group">
              <label>How easy was your experience placing this order?</label>
              <div class="feedback-rating">
                <span class="gb-icon-star-empty star" data-rating="1" data-toggle="tooltip" data-title="frustrating" data-selected="false"></span>
                <span class="gb-icon-star-empty star" data-rating="2" data-toggle="tooltip" data-title="not&nbsp;great" data-selected="false"></span>
                <span class="gb-icon-star-empty star" data-rating="3" data-toggle="tooltip" data-title="fine" data-selected="false"></span>
                <span class="gb-icon-star-empty star" data-rating="4" data-toggle="tooltip" data-title="good" data-selected="false"></span>
                <span class="gb-icon-star-empty star" data-rating="5" data-toggle="tooltip" data-title="great!" data-selected="false"></span>
              </div>
            </div>
            <div class="form-group order-feedback-notes-container hide">
              <label>What can we do to make your experience easier?</label>
              <textarea class="form-control order-feedback-notes"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-submit-feedback">Send Feedback</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{/if}}
  {{/if}}
{{/extend}}

{{#if isAdmin}}
  {{#extend "navbar-links"}}
    <li>
      <a href="/admin/orders/{{../../order.id}}">
        Order Command Center
      </a>
    </li>
  {{/extend}}
{{/if}}

<div class="page page-order container">
  <div class="row">
    {{> wizard }}
  </div>

  {{#if showThankYou}}
    <div class="thankyou-wrapper">
      <p class="thankyou-message"><strong>Thanks for your order!</strong> You will receive a confirmation email shortly.</p>
      <h4 class="points-earned">You earned <em class="reward-points">{{order.points}} reward points</em> with this order!</h4>
    </div>
  {{/if}}

  {{#if isAdmin }}
    {{#if order.reason_denied }}
    <div class="reason-denied-header">Reason Denied: {{order.reason_denied}}</div>
    {{/if}}
  {{/if}}

  {{#if order.editable}}
  <div class="row">
    <div class="alerts col-lg-12">
      <div class="alert alert-danger alert-bad-zip row{{#unless order.restaurant.is_bad_zip}} hide{{/unless}}" data-error="is_bad_zip">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Zip :(</h3>
          <p>This order can only be delivered to the zip codes listed</p>
        </div>
        <div class="col-sm-4 alert-right">
          <ul class="list-delivery-zips">
          {{#each order.restaurant.delivery_zips}}
            <li class="delivery-zip">{{this}}</li>
          {{/each}}
          </ul>
        </div>
      </div>

      <div class="alert alert-danger alert-bad-delivery-time row{{#unless order.restaurant.is_bad_delivery_time}} hide{{/unless}}" data-error="is_bad_delivery_time">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Time :(</h3>
          <p>This order cannot be delivered for that date and time. Please ensure that your delivery time is within the restaurants schedule.</p>
        </div>
        <div class="col-sm-4 alert-right">
          {{> delivery_times order.restaurant }}
        </div>
      </div>

      <div class="alert alert-danger alert-bad-guests{{#unless order.restaurant.is_bad_guests}} hide{{/unless}}" data-error="is_bad_guests">
        <p>This order cannot be delivered for that many guests.</p>
        <p><strong>Maximum guests:</strong> {{order.restaurant.max_guests}}</p>
      </div>

      <div class="alert alert-danger alert-bad-lead-time row{{#unless order.restaurant.is_bad_lead_time}} hide{{/unless}}" data-error="is_bad_lead_time">
        <div class="col-sm-8 alert-left">
          <h3 class="alert-header">Invalid Delivery Time :(</h3>
          <p>This order cannot be delivered for that many guests without more lead time. Please check lead times for this restaurant.</p>
        </div>
        <div class="col-sm-4 alert-right">
          {{> lead_times order.restaurant }}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="panel panel-order-details">
    <form id="order-form" class="form-light order-form" method="POST" action="javascript:void(0);">
      <div class="panel-body">
        <div class="clearfix">
          <div class="delivery-header pull-left">
            {{order.restaurant.name}} [Order #{{order.id}}]
            {{#unless order.restaurant.is_hidden}}{{#unless isRestaurantManager}}
            <a href="javascript:void(0);" class="copy-order-btn text-muted">Order Again?</a>
            {{/unless}}{{/unless}}
          </div>
          {{#if isAdmin}}
          <div class="pull-right btn-group">
            <button type="button" class="btn btn-{{order.status}} dropdown-toggle" data-toggle="dropdown">
              {{order.status}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:void;" id="change-status-pending">pending</a></li>
              <li><a href="javascript:void;" id="change-status-canceled">canceled</a></li>
              <li><a href="javascript:void;" id="change-status-submitted">submitted</a></li>
              <li><a href="javascript:void;" id="change-status-denied">denied</a></li>
              <li><a href="javascript:void;" id="change-status-accepted">accepted</a></li>
              <li><a href="javascript:void;" id="change-status-delivered">delivered</a></li>
              <li><a href="javascript:void;" id="change-status-submitted-no-notify">submitted - no notification</a></li>
              <li><a href="javascript:void;" id="change-status-accepted-no-notify">accepted - no notification</a></li>
              <li><a href="javascript:void;" id="change-status-canceled-no-notify">canceled - no notificaton</a></li>
            </ul>
          </div>
          {{else}}
          <div class="pull-right order-status-label">{{> status_label order}}</div>
          {{/if}}
        </div>

        <div class="delivery-submitted">
          <div class="date-submitted" data-date="{{order.submitted}}"></div>
        </div>

        <div class="btn-toolbar pull-right">
          {{#if isTipEditable}}
            <a class="btn btn-primary btn-add-tip" href="" onclick="javascript:return false;">{{#eq order.tip 0}}Add Tip{{else}}Edit Tip{{/eq}}</a>
          {{/if}}

          {{#if isAdmin }}
          <button type="button" class="btn btn-default edit-order-btn">Edit</button>
          {{/if}}

          {{#if isRestaurantManager}}
            <a href="/manifests/manifest-{{order.id}}.pdf?review_token={{order.review_token}}" target="_blank" class="btn btn-default">Download PDF</a>
          {{else}}
            <a href="/receipts/order-{{order.id}}.pdf" target="_blank" class="btn btn-default">Download PDF</a>
          {{/if}}
        </div>

        <div class="row delivery-info">
          {{> order_info}}
        </div>
      </div>
    </form>

    {{#unless order.orderItems.length}}
    <h3>No Order Items</h3>
    {{else}}

    <div class="order-summary-heading">Order Summary</div>
    <div id="order-summary-table-container">
      <table class="table order-line-item-table">
        <thead>
          <tr>
            <th class="line-item-name">Item</th>
            <th class="line-item-feeds">Feeds</th>
            <th class="line-item-quantity">Quantity</th>
            <th class="line-item-notes">Notes</th>
            {{#if order.restaurant.show_item_recipients}}
            <th class="line-item-recipient">Recipient</th>
            {{/if}}
            <th class="line-item-price">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.orderItems}}
          <tr id="order-item-{{this.id}}">
            <td class="line-item-name" data-title="Name">
              <div class="item-name" data-id="{{this.id}}">{{this.name}}</div>
              <p class="item-description">{{this.description}}</p>
              {{#if options_sets}}
                <div class="item-options-title">With:</div>
              {{/if}}
              <ul class="comma-separated item-options">
                {{#each options_sets}}
                {{#each this.options}}
                {{#if this.state}}
                <li>{{this.name}}</li>
                {{/if}}
                {{/each}}
                {{/each}}
              </ul>
              {{#if ../isAdmin}}<a class="item-remove remove-order-item-btn" href="#">Remove</a>{{/if}}
            </td>
            <td class="line-item-feeds" data-title="Feeds">
              {{range feeds_min feeds_max}}
            </td>
            <td class="line-item-quantity" data-title="Quantity">
              {{#if ../isAdmin}}
              <input type="number" min="1" class="item-quantity-input form-control order-item-field order-item-quantity" value="{{this.quantity}}" />
              {{else}}
              <span class="item-quantity-span order-item-field order-item-quantity">{{this.quantity}}</span>
              {{/if}}
            </td>
            <td class="line-item-notes" data-title="Notes">
              {{#if ../isAdmin}}
              <textarea name="notes" class="item-notes-textarea form-control order-item-field order-item-notes">{{this.notes}}</textarea>
              {{else}}
              <span name="notes" class="item-notes-span order-item-field order-item-notes">{{#if this.notes}}{{this.notes}}{{else}}&nbsp;{{/if}}</span>
              {{/if}}
            </td>
            {{#if ../order.restaurant.show_item_recipients}}
            <td class="line-item-recipient" data-title="Recipient">
              {{#if ../../isAdmin}}
                <textarea name="recipient" class="item-notes-textarea form-control order-item-field order-item-recipient">{{this.recipient}}</textarea>
              {{else}}
                <span name="recipient" class="item-recipient-span order-item-field order-item-recipient">{{#if this.recipient}}{{this.recipient}}{{else}}&nbsp;{{/if}}</span>
              {{/if}}
            </td>
            {{/if}}
            <td class="line-item-price" data-title="Price">{{dollars this.sub_total}}</td>
          </tr>
          {{/each}}

          {{!-- Show all amenities and checkboxes  --}}
          {{#if isAdmin}}
          {{#each order.restaurant.amenities}}
          <tr class="amenity" data-amenity-id="{{id}}">
            <td class="line-item-name" data-title="Name">
              <div class="item-name">{{name}}</div>
              {{#if description}}<p class="item-description">{{description}}</p>{{/if}}
            </td>
            <td class="line-item-quantity" data-title="Quantity">
              <input
                type="checkbox"
                class="checkbox"
                value="{{price}}"
                {{#if checked}}checked{{/if}}>
            </td>
            <td class="line-item-notes" data-title="Notes"></td>
            {{#if ../../order.restaurant.show_item_recipients}}
            <td class="line-item-recipient" data-title="Recipient"></td>
            {{/if}}
            <td class="line-item-feeds" data-title="Feeds"></td>
            <td class="line-item-price" data-title="Price">
              {{#eq scale "multiply"}}
              {{surcharge (multiply price ../../order.guests)}}
              {{/eq}}
              {{#eq scale "flat"}}
              {{surcharge price}}
              {{/eq}}
            </td>
          </tr>
          {{/each}}
          {{else}}
          {{!-- Only show checked amenities --}}
          {{#each order.restaurant.amenities}}
          {{#if checked}}
          <tr class="amenity" data-amenity-id="{{id}}">
            <td class="line-item-name" data-title="Name">
              <div class="item-name">{{name}}</div>
              {{#if description}}<p class="item-description">{{description}}</p>{{/if}}
            </td>
            <td class="line-item-quantity" data-title="Quantity">
              {{#eq scale "multiply"}}
              <span class="item-quantity-span order-item-field order-item-quantity">{{ ../../../order.guests}}</span>
              {{/eq}}
            </td>
            <td class="line-item-notes" data-title="Notes"></td>
            {{#if ../../../order.restaurant.show_item_recipients}}
            <td class="line-item-recipient" data-title="Recipient"></td>
            {{/if}}
            <td class="line-item-feeds" data-title="Feeds"></td>
            <td class="line-item-price" data-title="Price">
              {{#eq scale "multiply"}}
              {{surcharge (multiply price ../../../order.guests)}}
              {{/eq}}
              {{#eq scale "flat"}}
              {{surcharge price}}
              {{/eq}}
            </td>
          </tr>
          {{/if}}
          {{/each}}
          {{/if}}

        </tbody>
      </table>
    </div>
    {{/unless}}

    <div class="panel-body totals-panel">
      {{#if isAdmin}}
      <div class="adjustment editable">
        <div class="row">
          <div class="col-lg-8">
            <textarea class="form-control adjustment-description" rows="3" name="adjustment_description">{{order.adjustment.description}}</textarea>
          </div>
          <div class="col-lg-4">
            <dl class="adjustment-input pull-right">
              <dt>Adjustment:</dt>
              <dd><input type="number" class="form-control adjustment-amount" value="{{dollars order.adjustment.amount}}" name="adjustment_amount"></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <textarea class="form-control adjustment-description" rows="3" name="user_adjustment_description">{{order.user_adjustment_description}}</textarea>
          </div>
          <div class="col-lg-4">
            <dl class="adjustment-input pull-right">
              <dt>User Adjustment:</dt>
              <dd><input type="number" class="form-control adjustment-amount" value="{{dollars order.user_adjustment_amount}}" name="user_adjustment_amount"></dd>
            </dl>
          </div>
        </div>
      </div>
      {{else}}
      {{#if (or order.adjustment.amount order.user_adjustment_amount order.adjustment.description order.user_adjustment_description)}}
      <div class="row adjustment">
        <div class="col-lg-8">
          {{#if order.adjustment.description}}
          <p class="adjustment-description">{{order.adjustment.description}}</p>
          {{/if}}
          {{#if order.user_adjustment_description}}
          <p class="adjustment-description">{{order.user_adjustment_description}}</p>
          {{/if}}
        </div>
        <div class="col-lg-4">
          <dl class="dl-horizontal order-totals adjustment-amount-description pull-right">
            <dt>Adjustment:</dt>
            {{#if order.adjustment.amount}}<dd class="adjustment-amount">{{dollars order.adjustment.amount}}<dd>{{/if}}
            {{#if order.user_adjustment_amount}}<dd class="adjustment-amount">{{dollars order.user_adjustment_amount}}<dd>{{/if}}
          </dl>
        </div>
      </div>
      {{/if}}
      {{/if}}

      {{#notNull order.sub_total}}
      <div class="totals">
        {{> totals}}
      </div>
      {{/notNull}}
    </div>

    {{#unless isRestaurantReview}}
    <div class="panel-actions">
      {{#if isAdmin}}
      <a class="btn btn-default btn-add-to-order" href="/orders/{{order.id}}/add-items">Add to Order</a>
      {{/if}}

      {{#unless isRestaurantManager}}
      <button class="btn btn-default{{#unless order.cancelable}} hide{{/unless}}" data-toggle="modal" data-target="#cancel-confirm-modal">Cancel Order</button>
      {{/unless}}
    </div>
    {{/unless}}

    {{#if isRestaurantReview}}
    <div class="panel-actions restaurant-review panel-body">
      <button class="btn btn-default" data-toggle="modal" data-target="#reject-confirm-modal">Reject Order</button>
      <button class="btn btn-primary btn-accept">Accept Order</button>
    </div>
    {{/if}}
  </div>
</div>

<!-- TODO: merge these two modals with a partial -->
<div id="reject-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Reject</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>Are you sure you want to reject this order?</p>
          <textarea class="form-control reason-denied" placeholder="Please let us know why, so we can improve the ordering experience. Thanks!"></textarea>
          <span class="help-block">This field is required</span>
        </div>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't reject</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-reject">Yes, reject</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cancel-confirm-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Cancel</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this order?</p>
      </div>
      <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">No, don't cancel</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger btn-cancel">Yes, cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if order.restaurant.accepts_tips}}
<div id="add-tip-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add A Tip To This Order</h4>
      </div>
      <div class="modal-body">
        <div class="tip-area clearfix col-lg-12">
          <dl class="adjustment-input pull-right">
            <dt>Tip Percent</dt>
            <dd>
              <select id="order-tip" class="form-control tip-percent">
                {{! eq is ugly as hell but it works }}
                <option value="0"{{#eq order.tip_percent "0"}} selected="selected"{{/eq}}>No Tip</option>
                <option value="custom"{{#eq order.tip_percent "custom"}} selected="selected"{{/eq}}>Custom Tip</option>
                <option value="5"{{#eq order.tip_percent "5"}} selected="selected"{{/eq}}>5%</option>
                <option value="10"{{#eq order.tip_percent "10"}} selected="selected"{{/eq}}>10%</option>
                <option value="15"{{#eq order.tip_percent "15"}} selected="selected"{{/eq}}>15%</option>
                <option value="18"{{#eq order.tip_percent "18"}} selected="selected"{{/eq}}>18%</option>
                <option value="20"{{#eq order.tip_percent "20"}} selected="selected"{{/eq}}>20%</option>
                <option value="25"{{#eq order.tip_percent "25"}} selected="selected"{{/eq}}>25%</option>
              </select>
            </dd>
            <dt>$</dt>
            <dd>
              <input type="nubmer" class="form-control order-tip" value="{{dollars order.tip}}">
            </dd>
          </dl>
        </div>
      </div>
      {{!-- This is commented out for now because tip is being
            changed to auto save --}}
      {{!-- <div class="row modal-footer">
        <div class="col-lg-3 col-lg-offset-6">
          <button type="button" class="btn btn-danger btn-cancel">Cancel</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div> --}}
    </div>
</div>
</div>
{{/if}}

{{> copy_order_error_modal}}

<div class="modal fade modal-item" id="item-modal" role="dialog" aria-labelledby="itemModal" aria-hidden="true"></div>

{{#extend "scripts"}}
<script>
  require([
      'jquery-loaded'
    , 'app/pages/receipt'
    , 'app/models/index'
    , 'app/collections/amenities'],
    function( $, page, Models, Amenities ){
      $('[data-toggle="tooltip"]').tooltip();
      page.init({
        order: new Models.Order( {{{json order}}} )
      , isAdmin: {{#if isAdmin}}true{{else}}false{{/if}}
      });
    });
</script>


{{#if config.isProduction}}
{{#if reqQuery.submitted}}
{{#eq order.user_id user.id}}
  {{> adwords_order_conversion conversionAmount=(dollars order.total)}}
{{/eq}}
{{/if}}
{{/if}}
{{/extend}}
