{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/restaurants.css"}}">
{{/extend}}

{{#extend "title"}} - Restaurants{{/extend}}

{{#extend "head"}}
  {{> facebook_pixel config.facebook.pixel.restaurantList }}
{{/extend}}

<div class="page-restaurants container">
  {{#notEmpty orderParams}}
  <div class="row back-to-results-wrapper">
    <div class="col-md-12">
      <a class="back-to-results" href="/restaurants">Clear search</a>
    </div>
  </div>
  {{/notEmpty}}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">{{> order_params_bar}}</div>
  </div>

  <div class="row">
    <div class="col-md-3 restaurants-left-col">
      {{> restaurant_sort }}
      {{> restaurant_filters }}
    </div>
    <div class="col-md-9">
      <div class="list-group list-group-restaurants">
      {{#each restaurants}}
        <a href="/restaurants/{{this.id}}{{queryParams ../orderParams}}" class="list-group-item list-group-item-restaurant{{#if is_hidden}} hide{{/if}}" id="restaurant-{{id}}">
          <div class="row">
            <div class="col-xs-1 logo-wrapper">
              <img class="business-logo" src="{{#if this.logo_url}}{{filepicker this.logo_url 60 60}}{{else}}{{filepicker ../../config.defaultLogo 60 60}}{{/if}}" alt="{{this.name}}">
            </div>
            <div class="col-xs-8 col">
              <h3 class="list-group-item-heading list-group-item-heading-restaurant">{{this.name}}</h3>
              <div class="list-group-item-restaurant-details">
                {{#if cuisine.length}}
                <ul class="list-restaurant-inline">
                {{#each cuisine}}
                  <li>{{this}}</li>
                {{/each}}
                </ul>
                {{/if}}
                <span class="dollar-meter">{{{dollarMeter this.price}}}</span>
                {{> tags tags }}
                {{#or2 this.delivery_fee this.minimum_order}}
                <div class="fee-info">
                  <dl class="dl-horizontal-inline">
                    {{#if ../delivery_fee}}
                    <dt>Delivery charge:</dt>
                    <dd>${{dollars ../../delivery_fee}}</dd>
                    {{/if}}

                    {{#if ../minimum_order}}
                    <dt>Order minimum:</dt>
                    <dd>${{dollars ../../minimum_order}}</dd>
                    {{/if}}
                  </dl>
                </div>
                {{/or2}}
              </div>
            </div>
            <div class="col-xs-1 favorite-wrapper">
              {{> favorite_restaurant }}
            </div>
            <div class="col-xs-2 rating-wrapper">
              {{#if this.yelp_data}}
              {{#if ../yelp_data.rating}}
              Rating on Yelp:
              <div class="rating">{{{ratingStars ../yelp_data.rating}}}</div>
              {{/if}}
              {{/if}}
            </div>
          </div>
        </a>
        {{/each}}
        {{#lte restaurants.length config.resultsTooFewContactUsThreshold}}
          <div class="results-too-few">
            <h4>Need more options?<br>We will help get your order placed today!</h4>
            <p>Give us a call: {{phoneNumber config.phone.support}}</p>
          </div>
        {{/lte}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript">
  require(['app/pages/restaurant-list'], function( page ){
    page.init({ restaurants: {{{json restaurants}}}, userId: {{{ user.id }}} });
  });
</script>
{{/extend}}
