{{#extend "css"}}
{{#if config.isDev}}
<link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/css/restaurants.css' pkg)}}">
<link rel="stylesheet" href="{{cdn "/css/restaurant-filters.css"}}">
{{/if}}
{{/extend}}

{{#extend "title"}} - Restaurants{{/extend}}

<div class="page-restaurants container">
  <div class="row">
    <div class="col-md-9 col-md-offset-3">{{> order_params_bar}}</div>
  </div>

  <div class="row">
    <div class="col-md-3 restaurants-left-col">
      {{> restaurant_search }}
      {{> restaurant_sort }}
      {{> restaurant_filters }}
    </div>
    <div class="col-md-9">
      {{#notEmpty orderParams}}
      <div class="search-info">
        <div class="search-info-item clear">
          <a class="back-to-results" href="/restaurants">Clear search</a>
        </div>
        <div class="search-info-item results">{{../restaurants.length}} result{{#gt ../restaurants.length 1}}s{{/gt}}</div>
      </div>
      {{/notEmpty}}
      <div class="list-group list-group-restaurants">
      {{#each restaurants}}
        <a href="/restaurants/{{this.text_id}}{{queryParams ../orderParams}}" class="list-group-item list-group-item-restaurant{{#if is_hidden}} hide{{/if}}" id="restaurant-{{id}}">
          <div class="row">
            <div class="col-xs-1 logo-wrapper">
              <img class="business-logo" src="{{#if this.logo_url}}{{filepicker this.logo_url 60 60}}{{else}}{{filepicker ../../config.defaultLogo 60 60}}{{/if}}" alt="{{this.name}}">
            </div>
            <div class="col-xs-9 col">
              <h3 class="list-group-item-heading list-group-item-heading-restaurant">{{this.name}}</h3>
              <div class="list-group-item-restaurant-details">
                {{#if cuisine.length}}
                <ul class="list-restaurant-inline">
                {{#each cuisine}}
                  <li>{{this}}</li>
                {{/each}}
                </ul>
                {{/if}}
                <span class="dollar-meter">{{{dollarMeter this.price}}}</span>
                {{> tags tags }}
                <div class="fee-info">
                  <dl class="dl-horizontal-inline">
                    <dt>Delivery:</dt>
                      {{#eq delivery_fee_from delivery_fee_to}}
                        {{#if delivery_fee_from}}
                          <dd>${{dollarsOmit00 ../delivery_fee_from}}</dd>
                        {{else}}
                          <dd>Free</dd>
                        {{/if}}
                      {{else}}
                        <dd>${{dollarsOmit00 delivery_fee_from}} - ${{dollarsOmit00 delivery_fee_to}}</dd>
                      {{/eq}}
                    <dt>Order minimum:</dt>
                    <dd>${{dollarsOmit00 (or minimum_order 0)}}</dd>
                    {{#unless has_contract}}
                    {{#if no_contract_fee}}
                      <span class="tx-fee" data-toggle="popover" data-rid="{{id}}">
                        <dt>Transaction Fee:</dt>
                        <dd>{{factorToPercent no_contract_fee}}%</dd>
                      </span>
                    {{/if}}
                    {{/unless}}
                  </dl>
                </div>
              </div>
            </div>
            <div class="col-xs-2 rating-wrapper">
              {{#if this.yelp_data}}
              {{#if ../yelp_data.rating}}
              Rating on Yelp:
              <div class="rating">{{{ratingStars ../yelp_data.rating}}}</div>
              {{/if}}
              {{/if}}
            </div>
          </div>
        </a>
        {{/each}}
        {{#lte restaurants.length config.resultsTooFewContactUsThreshold}}
          <div class="results-too-few">
            <h4>Need more options?<br>We will help get your order placed today!</h4>
            <p>Give us a call: {{phoneNumber config.phone.support}}</p>
          </div>
        {{/lte}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript">
  define('data/all-restaurants', function(){
    return {{{json allRestaurants}}};
  });

  define('data/restaurants', function(){
    return {{{json restaurants}}};
  });

  require(['app/pages/restaurant-list', 'data/restaurants', 'data/all-restaurants'], function( page, restaurants, allRestaurants ){
    page.init({ restaurants: restaurants, allRestaurants: allRestaurants });
  });
</script>
{{/extend}}
