{{#extend "css"}}
<link rel="stylesheet" href="/css/restaurants.css">
{{/extend}}

<div class="page-restaurants container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">{{> order_params_bar}}</div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="list-group list-group-restaurants">
      {{#each restaurants}}
        {{#if is_unacceptable}}
        <a href="javascript: void(0);" class="list-group-item list-group-item-restaurant disabled">
        {{else}}
        <a href="/restaurants/{{this.id}}" class="list-group-item list-group-item-restaurant">
        {{/if}}
          <h3 class="list-group-item-heading list-group-item-heading-restaurant">{{this.name}}</h3>
          <div class="list-group-item-restaurant-details">
            {{#if cuisine.length}}
            <ul class="list-restaurant-cuisines">
            {{#each cuisine}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
            {{/if}}
            <span class="dollar-meter">{{{dollarMeter this.price}}}</span>
          </div>
        </a>
        {{else}}
        <h1 class="text-center">No Restaurants</h1>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}

<script type="text/javascript">
  var orderParams = new OrderParams();
  var orderParamsView = new OrderParamsView({model: orderParams, el: '.order-params-bar'});
</script>
{{/extend}}
