<div class="row">
  {{> order_params_bar}}
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="list-group restaurants">
      {{#each restaurants}}
      <a href="{{#if unacceptable}}javascript: void(0);{{else}}/restaurants/{{this.id}}{{/if}}"
        class="list-group-item restaurant{{#if unacceptable}} disabled{{/if}}">
        <div class="row">
          <h4 class="col-lg-10">{{this.name}}</h4>
          <div class="col-lg-2">
            <span class="badge pull-right">{{price$ price}}</span>
          </div>
        </div>
        <div class="row">
          {{#each cuisine}}
          <h5 class="label label-info">{{this}}</h5>
          {{/each}}
          {{#if minimum_order}}<span class="pull-right">minimum order: ${{dollars minimum_order}}</span>{{/if}}
        </div>
      </a>
      {{else}}
      <h1 class="text-center">No Restaurants</h1>
      {{/each}}
    </ul>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript" src="/js/models/order-params.js"></script>
<script type="text/javascript" src="/js/views/order-params-view.js"></script>

<script type="text/javascript">
  var orderParams = new OrderParams();
  var orderParamsView = new OrderParamsView({model: orderParams, el: '.order-params-bar'});
</script>
{{/extend}}
