{{#extend "css"}}
<link rel="stylesheet" href="/css/restaurants.css">
{{/extend}}

<div class="page-restaurants container">
  {{#notEmpty orderParams}}
  <div class="row back-to-results-wrapper">
    <div class="col-lg-8 col-lg-offset-2">
      <a class="back-to-results" href="/restaurants">Clear search</a>
    </div>
  </div>
  {{/notEmpty}}

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">{{> order_params_bar}}</div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="list-group list-group-restaurants">
      {{#each restaurants}}
        {{#if is_unacceptable}}
        <a href="javascript: void(0);" class="list-group-item list-group-item-restaurant disabled{{#if is_hidden}} hide{{/if}}">
        {{else}}
        <a href="/restaurants/{{this.id}}" class="list-group-item list-group-item-restaurant{{#if is_hidden}} hide{{/if}}">
        {{/if}}
          <h3 class="list-group-item-heading list-group-item-heading-restaurant">{{this.name}}</h3>
          <div class="list-group-item-restaurant-details">
            {{#if cuisine.length}}
            <ul class="list-restaurant-cuisines">
            {{#each cuisine}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
            {{/if}}
            <span class="dollar-meter">{{{dollarMeter this.price}}}</span>
            {{#if tags.length}}
            <ul class="list-restaurant-tags">
              {{#contains tags "vegan"}}
                <li class="list-restaurant-tooltips" data-title="Vegan">
                  <span class="label label-warning">Vegan</span>
                </li>
              {{/contains}}
              {{#contains tags "vegetarian"}}
                <li class="list-restaurant-tooltips" data-title="Vegetarian">
                  <span class="label label-success">Vegetarian</span>
                </li>
              {{/contains}}
              {{#contains tags "glutenFree"}}
                <li class="list-restaurant-tooltips" data-title="Gluten-Free">
                  <span class="label label-info">Gluten-Free</span>
                </li>
              {{/contains}}
            </ul>
            {{/if}}
          </div>
        </a>
        {{else}}
        <h1 class="text-center">No Restaurants</h1>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript" src="/js/models/order-params.js"></script>
<script type="text/javascript" src="/js/views/order-params-view.js"></script>

<script type="text/javascript">
  var orderParams = new OrderParams();
  var orderParamsView = new OrderParamsView({model: orderParams, el: '.order-params-bar'});
  $(".list-restaurant-tooltips").tooltip();
</script>
{{/extend}}
