{{#extend "css"}}
<link rel="stylesheet" href="/css/my-rewards.css">
{{/extend}}

{{#extend "title"}} - Rewards{{/extend}}

<h1 class="page-title">Rewards</h1>
<p>Check your latest Reward Point balances and exchange them for prizes!</p>

<div class="page page-rewards container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-body">
          <div class="rewards-description">
            <p>Hover over a card to view details.<br>After redeeming a card, we will send you a confirmation email.<br>We will deliver your giftcard to you in person!</p>
            <a href="/rewards" class="btn btn-primary btn-learn-more">Learn more</a>
          </div>
        </div>

        {{#each cards}}
        <div class="giftcard-wrapper">

          <div class="giftcard{{!--
          --}}{{#gt this.amount 10}} giftcard-gold{{/gt}}{{!--
          --}}{{#gt this.cost ../user.points}} disabled{{/gt}}{{!--
         --}}"
            data-location="{{this.location}}"
            data-amount="{{this.amount}}"
            data-cost="{{this.cost}}"
            >
            <div class="card-info">
              <div class="amount">${{this.amount}}</div>
              <div class="location">{{this.location}}</div>
            </div>
            <div class="giftcard-menu">
              <dl class="points-summary state-pre-click state-loading state-error">
                <dt>Your Points:</dt>
                <dd>{{commatize ../user.points}}</dd>
                <dt>Giftcard Cost:</dt>
                <dd>- {{commatize this.cost}}</dd>
                <hr>
                <dt>After Purchase:</dt>
                <dd>{{commatize this.afterPurchase}}</dd>
              </dl>

              <dl class="points-summary state-unavailable">
                <dt>Your Points:</dt>
                <dd>{{commatize ../user.points}}</dd>
                <dt>Giftcard Cost:</dt>
                <dd>- {{commatize this.cost}}</dd>
                <hr>
                <dt>After Purchase:</dt>
                <dd>n/a</dd>
              </dl>

              <p class="state-success">We will send you a confirmation email. All cards will be personally delivered by Goodybag!</p>

              <button class="menu-primary redeem-btn state-pre-click">Redeem</button>
              <button class="menu-primary redeem-btn state-clicked-once">
                Redeem
                <span class="once-more">Once more to confirm</span>
              </button>
              <div class="menu-primary state-success">Thank You</div>
              <div class="menu-primary state-unavailable">{{commatize this.cost}} points needed</div>
              <div class="menu-primary state-loading">Loading</div>
              <div class="menu-primary state-error">Error!</div>
            </div>
          </div>
          <div class="card-description">{{commatize this.cost}} points</div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel points-panel points-panel-available">
        <h2>Available Points</h2>
        <div class="points-available">
          {{#if user.points}}
            {{user.points}}
          {{else}}
            0
          {{/if}}
        </div>

        {{#if orders}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recent Orders</th>
              <th>Points Earned</th>
            </tr>
          </thead>
          <tbody>
          {{#each orders}}
            <tr>
              <td>#{{this.id}} - {{this.restaurant_name}}</td>
              <td>{{this.points}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a href="#" class="view-all">View All</a>
        {{else}}
        <div class="panel-body">
          <p>You have no points. You can change that by <a href="/restaurants">placing an order!</a></p>
        </div>
        {{/if}}
      </div>

      {{#if user.pendingPoints}}
      <div class="panel points-panel points-panel-available">
        <h2>Pending Points</h2>
        <div class="points-available">{{user.pendingPoints}}</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recent Orders</th>
              <th>Points Earned</th>
            </tr>
          </thead>
          <tbody>
          {{#each pendingOrders}}
            <tr>
              <td>#{{this.id}} - {{this.restaurant_name}}</td>
              <td>{{this.points}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a href="#" class="view-all">View All</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  define('data/user', function(){
    return {{{json user}}};
  });

  require(['app/pages/rewards'], function( page ){
    page.init();
  });
</script>
{{/extend}}
