<div class="container container-small">
  <h1 class="page-title">Users</h1>
  <div class="panel">
    <form class="create-user-form" action="/users" method="post">
      <div class="panel-body">
        <div class="form-group">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control create-user-name" id="inputName" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="inputOrganization">Organization</label>
            <input type="text" class="form-control create-user-organization" id="inputOrganization" placeholder="Organization" name="organization">
          </div>
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control create-user-email" id="inputEmail" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control create-user-password" id="inputPassword" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <label>User Type</label>
            <div class="checkbox">
              <label>
                <input class="create-user-group" type="checkbox" name="groups" id="userGroupClient" value="client" checked>
                Client
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input class="create-user-group" type="checkbox" name="groups" id="userGroupAdmin" value="admin">
                Admin
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input class="create-user-group" type="checkbox" name="groups" id="userGroupRestaurant" value="restaurant">
                Restaurant
                <select name="restaurants" id="restaurants">
                  {{#each restaurants}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary create-user-submit hide" data-success-text="User created successfully!" data-error-text="">Create User</button>
        </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>organization</th>
          <th>signed up</th>
          <th>region</th>
          <th>login as user</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{organization}}</td>
          <td>{{datepart created_at}}</td>
          <td>{{region.name}}</td>
          <td><a href="/users/{{id}}/session">login</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require([
      'app/views/create-user-view'
    ]
  , function(CreateUserView) {
      var createUserView = new CreateUserView({ el: '#main', reloadOnSuccess: true });
    }
  );
</script>
{{/extend}}