<div class="row">
  <h1 class="text-center">My Orders</h1>
  <div class="list-group">
    {{#each orders}}
    <a class="list-group-item" href="/orders/{{this.id}}">
      <h4 class="list-group-item-heading">{{this.restaurant.name}}</h4>
      <p>Date: {{this.created_at}}</p>
      <p>Delivery Date: {{this.datetime}}</p>
      <span class="label status {{statusLabel this.status}}">{{this.status}}</span>
      <span class="badge">{{#if this.subtotal}}${{dollars this.subTotal}}{{/if}}</span>
    </a>
    {{else}}
    <h2 class="text-center">No Orders</h2>
    {{/each}}
  </div>
</div>
