{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/user-settings.css"}}">
{{/extend}}

{{#extend "title"}} - Account Settings{{/extend}}

<div class="container account-settings">

  <div class="alert alert-success fade in" style="display: none;">
    <button type="button" class="close" aria-hidden="true">×</button>
    <strong>Settings Saved!</strong>
  </div>

  <div class="alert alert-danger fade in" style="display: none;">
    <button type="button" class="close" aria-hidden="true">×</button>
    <strong>Failed to updated account settings :(</strong>
  </div>

  <h1 class="text-center page-title">Account Settings</h1>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel">
        <ul class="list-group">
          <li class="list-group-item">
            <form id="user-settings-form">
              <input type="hidden" name="_method" value="put"/>
              <div class="form-group">
                <label for="input-name" class="control-label">Name</label>
                <input type="text" id="input-name" name="name" class="form-control user-name col-lg-12" value="{{user.name}}">
              </div>
              <div class="form-group">
                <label for="input-email" class="control-label">Email</label>
                <input type="email" id="input-email" name="email" class="form-control user-email" value="{{user.email}}">
              </div>
              <div class="form-group" id="user-organization">
                <label for="input-org" id="organization-label" class="control-label">Organization</label>
                <input type="text" id="input-org" name="organization" class="form-control user-organization" value="{{user.organization}}">
              </div>
              <div class="form-group">
                <label for="input-pass1" class="control-label">Password</label>
                <input type="password" name="password" id="input-password" class="form-control user-password">
              </div>
              <div class="form-group">
                <label for="input-pass2" id="confirm-password-label" class="control-label">Confirm Password
                <span class="error-message hide">*passwords must match</span> 
                </label>
                <input type="password" id="user-confirm-password" class="form-control">
              </div>
              <div class="clearfix">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
              </div>
          </form>
          </li>
          <li class="list-group-item">
            <div class="user-other-settings">
              <dl>
                <dt>Address Book</dt>
                <dd>
                  <div><a href="/users/me/addresses">Manage Addresses</a></div>
                  <div><a href="/users/me/addresses#add-new-address">Add New Address</a></div>
                </dd>
              </dl>
            </div>
          </li>
          <li class="list-group-item">
            <div class="user-other-settings">
              <dl>
                <dt>Credit Cards</dt>
                <dd>
                  <div><a href="/users/me/cards">Manage Credit Cards</a></div>
                  <div><a href="/users/me/cards#add-payment-method">Add Credit Card</a></div>
                </dd>
              </dl>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
require([
  'app/views/account-settings-view'
, 'app/models/user'
  ], function (AccountSettingsView, User) {
    var accoutSettingsView = new AccountSettingsView({
      el: '.account-settings'
    , model: new User( {{{json user}}} )
    })
  });
</script>
{{/extend}}