<div class="row">
  <h1 class="text-center">My Orders</h1>
  <div class="list-group">
    {{#each orders}}
    <a class="list-group-item" href="/orders/{{this.id}}">
      <h4 class="list-group-item-heading">{{this.restaurant.name}}Foo</h4>
      <span>Date: {{this.created_at}}</span>
      <span>Delivery Date: {{this.datetime}}</span>
      <span class="label status {{statusLabel this.status}}">{{this.status}}</span>
      <span class="badge">${{dollars this.subTotal}}</span>
    </a>
    {{else}}
    <h2 class="text-center">No Orders</h2>
    {{/each}}
  </div>
</div>
