{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/user-orders.css"}}">
<link rel="stylesheet" href="{{cdn "/components/fullcalendar/fullcalendar.css"}}">
<link rel="stylesheet" href="{{cdn "/components/font-awesome/css/font-awesome.min.css"}}">
{{/extend}}

{{#extend "title"}} - My Orders{{/extend}}

<div class="page-my-orders container">
  <div class="row">
    <h1 class="col-lg-12 page-title">My Orders</h1>
  </div>
  <div class="row">
    <div class="col-lg-2">
      {{> orders_filter }}
    </div>
    <div class="col-md-10">
      <div class="nav-orders">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#calendar-view" data-toggle="tab">
              <i class="icon-calendar"></i> Calendar
            </a>
          </li>
          <li>
            <a href="#list-view" data-toggle="tab">
              <i class="icon-list"></i> List
            </a>
          </li>
          <li>
            <a href="/users/me/orders/receipts">
              <i class="icon-list-alt"></i> Receipts
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="calendar-view">
            {{> orders_calendar }}
          </div>
          <div class="tab-pane fade" id="list-view">
            {{> orders_list }}
            {{> order_list_paginator }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  define( 'data/orders', ['app/collections/orders'],
    function( Orders ) {
      return new Orders({{{ json orders }}});
    }
  );

  require([
      'jquery'
    , 'utils'
    , 'user'
    , 'app/views/orders-list-view'
    , 'app/views/orders-calendar-view'
    , 'app/views/orders-filter-view'
    ]
  , function($, utils, user, OrdersListView, OrdersCalendarView, OrdersFilterView) {
      utils.extend( user, {{{json user}}} );

      var ordersListView = new OrdersListView({
        el: '.orders-list'
      });

      var ordersCalendarView = new OrdersCalendarView({
        el: '#main'
      });

      var ordersFilterView = new OrdersFilterView({
        el:             '.orders-calendar-filters'
      , subviews: {
          calendarView:   ordersCalendarView
        , listView:       ordersListView
        }
      });
    }
  );
</script>
{{/extend}}
