{{{dump this}}}

<p>Hello!</p>

<p>Please click the following link to verify your email and confirm your spot on the wait list.</p>

<p><a href="{{baseUrl}}/waitlist/confirm?token={{token}}">Verify my email</a></p>

<p>If you have any questions, please contact us at <a href="mailto:support@goodybag.com">support@goodybag.com</a>.</p>

<p>If you think you have received this email in error, or would not like to receive any further emails, <a href="{{baseUrl}}/waitlist/unsubscribe?token={{token}}">click here to unsubscribe</a>.</p>