<div id="basic-info">
  <div style="text-align: center;">
    <h2 style="font-weight: 600;font-size: 42px;margin-bottom: 0;">Start feeding offices</h2>
    <p>Get exposure to hundreds of offices and new customers.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <label class="label-col">Your Name</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control user-name" name="user_name" id="name" value="{{restaurant.user_name}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Your Number</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control user-phone" name="user_number" id="number" value="{{restaurant.user_phone}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Your Email</label>
    <div class="field-col">
      <div class="form-group">
        <input type="email" class="form-control user-email" name="user_email" id="email" value="{{restaurant.user_email}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Restaurant Name</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control restaurant-name" name="name" id="restaurant-name" value="{{restaurant.name}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">
      Restaurant Website
      <span class="panel-info">Optional</span>
    </label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control restaurant-website" name="website" id="website" value="{{restaurant.website}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Which can you provide?</label>
    <div class="field-col">
      <ul class="inline-list">
        <li>
          <div class="form-group">
            <label>
              <input type="radio" class="restaurant-services" name="services" value="both" {{#eq restaurant.services 'both'}}checked="true"{{/eq}}>
              Delivery and Pickup
            </label>
          <p class="panel-info">&nbsp;</p>
          </div>
        </li>
        <li>
          <div class="form-group">
            <label>
              <input type="radio" class="restaurant-services" name="services" value="delivery" {{#eq restaurant.services 'delivery'}}checked="true"{{/eq}}>
              Delivery only
            </label>
          </div>
          <p class="panel-info">Your restaurant delivers the food</p>
        </li>
        <li>
          <div class="form-group">
            <label>
              <input type="radio" class="restaurant-services" name="services" value="pickup" {{#eq restaurant.services 'pickup'}}checked="true"{{/eq}}>
              Pickup only
            </label>
          </div>
          <p class="panel-info">A courier will come get the food</p>
        </li>
      </ul>
    </div>
  </div>
</div>
