<div id="basic-info">
  <div style="text-align: center;">
    <h2 style="font-weight: 600;font-size: 42px;margin-bottom: 0;">Start feeding offices</h2>
    <p>Get exposure to hundreds of offices and new customers.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <label class="label-col">Your Name</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control user-name" name="user_name" id="name" value="{{restaurant.user_name}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Your Number</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control user-phone" name="user_number" id="number" value="{{restaurant.user_phone}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Your Email</label>
    <div class="field-col">
      <div class="form-group">
        <input type="email" class="form-control user-email" name="user_email" id="email" value="{{restaurant.user_email}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Restaurant Name</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control restaurant-name" name="name" id="restaurant-name" value="{{restaurant.name}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">
      Restaurant Website
      <span class="subtext">Optional</span>
    </label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control restaurant-website" name="website" id="website" value="{{restaurant.website}}">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Which can you provide?</label>
    <div class="field-col">
      <div class="grid-map">
        <div class="grid-item">
          <div class="form-group">
            <input type="radio" class="restaurant-services" name="services" id="services-1" value="both" {{#eq restaurant.services 'both'}}checked="true"{{/eq}}>
            <label for="services-1">Delivery and Pickup</label>
          </div>
          <p class="subtext">&nbsp;</p>
        </div>
        <div class="grid-item">
          <div class="form-group">
            <input type="radio" class="restaurant-services" name="services" id="services-2" value="delivery" {{#eq restaurant.services 'delivery'}}checked="true"{{/eq}}>
            <label for="services-2">Delivery only</label>
          </div>
          <p class="subtext">Your restaurant delivers the food</p>
        </div>
        <div class="grid-item">
          <div class="form-group">
            <input type="radio" class="restaurant-services" name="services" id="services-3" value="pickup" {{#eq restaurant.services 'pickup'}}checked="true"{{/eq}}>
            <label for="services-3">Pickup only</label>
          </div>
          <p class="subtext">A courier will come get the food</p>
        </div>
      </div>
    </div>
  </div>
</div>
