<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Billing Address</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <label class="label-col">Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-name" name="name" value="{{restaurant.billing_name}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Phone Number</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-phone" name="phone_number" value="{{restaurant.billing_phone }}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Street1</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-street" name="street1" value="{{restaurant.billing_street }}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Street2
        <p class="subtext">optional</p>
      </label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-street2" name="street2" value="{{restaurant.billing_street2 }}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">City</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-city" name="city" value="{{restaurant.billing_city }}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">State</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-state" name="state" value="{{restaurant.billing_state}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Zip</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-zip" name="zip" value="{{restaurant.billing_zip}}">
        </div>
      </div>
    </div>
  </div>
</div>
