<div class="panel">
  <div class="panel-head">
    <h3 class="panel-title">Restaurant Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <label class="label-col">Yelp URL <div class="subtext">Optional</div></label>
        <div class="field-col">
          <div class="form-group">
            <input type="text" class="form-control yelp-url" name="yelp_url" value="{{restaurant.yelp_business_id}}">
          </div>
        </div>
    </div>
    <div class="row">
      <label class="label-col">Cuisine <div class="subtext">Optional</div></label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control restaurant-cuisine" name="cuisine" value="{{restaurant.cuisine}}">
          <span class="subtext">thai, asian, etc.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Price</label>
      <div class="field-col">
        <div class="form-group">
          <div class="grid-map">
            <div class="grid-item">
              <label>
                <input type="radio" class="restaurant-price" name="price" value="1" {{#eq restaurant.price 1}}checked="true"{{/eq}}>
                <span class="dollar-meter" >{{{dollarMeter 1}}}</span>
              </label>
            </div>
            <div class="grid-item">
              <label>
                <input type="radio" class="restaurant-price" name="price" value="2" {{#eq restaurant.price 2}}checked="true"{{/eq}}>
                <span class="dollar-meter">{{{dollarMeter 2}}}</span>
              </label>
            </div>
            <div class="grid-item">
              <label>
                <input type="radio" class="restaurant-price" name="price" value="3" {{#eq restaurant.price 3}}checked="true"{{/eq}}>
                <span class="dollar-meter">{{{dollarMeter 3}}}</span>
              </label>
            </div>
            <div class="grid-item">
              <label>
                <input type="radio" class="restaurant-price" name="price" value="4" {{#eq restaurant.price 4}}checked="true"{{/eq}}>
                <span class="dollar-meter">{{{dollarMeter 4}}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Restaurant Address</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control restaurant-address" name="address" value="{{restaurant.address}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Restaurant Phone</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control restaurant-phone" name="phone" value="{{restaurant.display_phone}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Restaurant Email <div class="subtext">Optional</div></label>
      <div class="field-col">
        <div class="form-group">
          <input type="email" class="form-control restaurant-email" name="email" value="{{restaurant.billing_email}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Meal Types Offered <div class="subtext">Optional</div></label>
      <div class="field-col">
        <div class="grid-map">
          <div class="grid-item">
            <label>
              <input type="checkbox" class="meal-type" name="meal_type" value="breakfast" {{#contains (pluck restaurant.meal_type 'meal_type') 'breakfast'}}checked="true"{{/contains}}>
              Breakfast
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="meal-type" name="meal_type" value="lunch" {{#contains (pluck restaurant.meal_type 'meal_type') 'lunch'}}checked="true"{{/contains}}>
              Lunch
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="meal-type" name="meal_type" value="dinner" {{#contains (pluck restaurant.meal_type 'meal_type') 'dinner'}}checked="true"{{/contains}}>
              Dinner
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="meal-type" name="meal_type" value="appetizer" {{#contains (pluck restaurant.meal_type 'meal_type') 'appetizer'}}checked="true"{{/contains}}>
              Appetizer
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="meal-type" name="meal_type" value="dessert" {{#contains (pluck restaurant.meal_type 'meal_type') 'dessert'}}checked="true"{{/contains}}>
              Dessert
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Dietary Restrictions <div class="subtext">Optional</div></label>
      <div class="field-col">
        <div class="grid-map">
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-tags" value="vegetarian" {{#contains (pluck restaurant.tags 'tag') 'vegetarian'}}checked="true"{{/contains}}>
              Vegetarian
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-tags" value="vegan" {{#contains (pluck restaurant.tags 'tag') 'vegan'}}checked="true"{{/contains}}>
              Vegan
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-tags" value="glutenFree" {{#contains (pluck restaurant.tags 'tag') 'glutenFree'}}checked="true"{{/contains}}>
              Gluten free
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-tags" value="dairyFree" {{#contains (pluck restaurant.tags 'tag') 'dairyFree'}}checked="true"{{/contains}}>
              Dairy free
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-tags" value="halal" {{#contains (pluck restaurant.tags 'tag') 'halal'}}checked="true"{{/contains}}>
              Halal
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-tags" value="kosher" {{#contains (pluck restaurant.tags 'tag') 'kosher'}}checked="true"{{/contains}}>
              Kosher
            </label>
          </div>
        </div>
        <span class="subtext">Do you offer any entrées that fall user one of these?</span>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Which can you include? <div class="subtext">Optional</div></label>
      <div class="field-col">
        <div class="grid-map">
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-amenities" value="napkins" {{#contains (pluck restaurant.amenities 'name') 'napkins'}}checked="true"{{/contains}}>
              Napkins
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-amenities" value="utensils" {{#contains (pluck restaurant.amenities 'name') 'utensils'}}checked="true"{{/contains}}>
              Utensils
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-amenities" value="plates" {{#contains (pluck restaurant.amenities 'name') 'plates'}}checked="true"{{/contains}}>
              Plates
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" class="restaurant-amenities" value="none" {{#contains (pluck restaurant.amenities 'name') 'none'}}checked="true"{{/contains}}>
              None of these
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Your Menu</label>
      <div class="field-col">
        <div class="row">
          <label class="col">Enter a link:</label>
          <div class="col">
            <input type="text" class="restaurant-menu" name="menu" value="{{restaurant.menu_url}}">
          </div>
        </div>
        <strong>Or</strong>
        <div class="row">
          <label class="col">upload a file:</label>
          <div class="col">
            <input type="text" class="menu-url-file" placeholder="No file selected" readonly>
          </div>
          <div class="col">
            <button class="form-control btn btn-default btn-block" id="input-menu-url">Pick File</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="label-col">Your Logo</label>
      <div class="field-col">
        <div class="row">
          <label class="col">Enter a link:</label>
          <div class="col">
            <input type="text" class="form-control restaurant-logo" value="{{restaurant.logo_url}}">
          </div>
        </div>
        <strong>Or</strong>
        <div class="row">
          <div class="row">
            <label class="col">Upload a file:</label>
            <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control logo-url-file" placeholder="No file selected" readonly>
              </div>
            </div>
            <div class="col">
              <button class="form-control btn btn-default btn-block" id="input-logo-url">Pick File</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="label-col">Order minimum</label>
      <div class="field-col">
        <div class="form-group">
          <div class="input-group">
            <div class="input-addon">$</div><input type="text" class="form-control order-minimum" name="order_minimum" value="{{restaurant.minimum_order}}">
          </div>
          <div class="subtext">The smallest order you're willing to accept. The lower your order minimum the more orders you can receive</div>
        </div>
      </div>
    </div>

  </div>
</div>