{{#extend "body"}}
  <a href="{{config.baseUrl}}/users/{{userId}}">User #{{ userId }}</a>
   just redeemed a giftcard.
  <br>
  <strong>Details:</strong><br>
  <ul>
    <li>Location: {{reward.location}}</li>
    <li>Amount: ${{dollars reward.amount}}</li>
    <li>Points: {{reward.cost}}</li>
  </ul>
{{/extend}}
