<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="{{cdn "/css/proxima-nova.css"}}">
    <link rel="stylesheet" href="{{cdn "/css/pdf.css"}}">
    <link rel="stylesheet" href="{{cdn "/css/invoice.css"}}">
    {{{block "css"}}}

    <script src="{{cdn "/components/jquery/jquery.js"}}"></script>
    <script src="{{cdn "/js/pdf/utils.js"}}"></script>
    <script>
      var options = {
        readyTimeout: 5000

      , itemSelector: 'table tbody tr'

      , onPageClone: function( $page, $clone ){
          $page.find('.order-bottom-wrapper').remove();
        }
      };

      $(function(){
        adjustPage( $('.page'), options, function(){
          window.__page.ready();
        });

        setTimeout( function(){
          if ( !window.__page.isReady() ) window.__page.ready();
        }, options.readyTimeout );
      });
    </script>
    {{{block "scripts"}}}
  </head>
  <body>
    <div class="page" style="page-break-after: always">
      <header class="columns">
        <div class="goodybag-info column-fluid columns">
          <div class="column-logo column">
            <div class="gb-lettermark"></div>
          </div>
          <div class="column-fluid info-items">
            <div class="info-item-logo info-item">
              <div class="gb-type-logo"></div>
            </div>

            <address class="info-item-address info-item">
              1900 Ullrich Ave.<br />
              Austin, TX 78756
            </address>

            <dl class="info-item-phone-numbers info-item dl-inline">
              <dt>orders:</dt>
              <dd>{{phoneNumber config.phone.orders "xxx.xxx.xxxx"}}</dd>
              <br>
              <dt>support:</dt>
              <dd>{{phoneNumber config.phone.support "xxx.xxx.xxxx"}}</dd>
            </dl>

            <dl class="info-item-urls info-item dl-inline">
              <dt>email:</dt>
              <dd>
                <a href="mailto:support@goodybag.com">support@goodybag.com</a>
              </dd>
              <br>
              <dt>website:</dt>
              <dd>
                <a href="http://www.goodybag.com">www.goodybag.com</a>
              </dd>
            </dl>
          </div>
        </div>

        <div class="customer-info info-items">
          {{{block "info"}}}
        </div>
      </header>
      {{{block "body"}}}

      <footer>Thank You!</footer>
    </div>
  </body>
</html>