{{#extend "css"}}
<link rel="stylesheet" href="/css/payment-summary-pdf.css">
{{/extend}}

{{#extend "info"}}
<h2 class="customer-company-name info-item">
  {{#if payment_summary.restaurant.name}}
    {{payment_summary.restaurant.name}}
  {{else}}
    [Your Organization]
  {{/if}}
</h2>
<address class="info-item-address info-item">
  {{#if payment_summary.restaurant.billing_street}}
    {{payment_summary.restaurant.billing_street}}
  {{else}}
    {{#if payment_summary.restaurant.street}}
      {{payment_summary.restaurant.street}}
    {{else}}
      [123 Your St.]
    {{/if}}
  {{/if}}
  <br />
  {{#if payment_summary.restaurant.billing_city}}
    {{payment_summary.restaurant.billing_city}}
  {{else}}
    {{#if payment_summary.restaurant.city}}
      {{payment_summary.restaurant.city}}
    {{else}}
      [Your City]
    {{/if}}
  {{/if}},
  {{#if payment_summary.restaurant.billing_state}}
    {{payment_summary.restaurant.billing_state}}
  {{else}}
    {{#if payment_summary.restaurant.state}}
      {{payment_summary.restaurant.state}}
    {{else}}
      [Your State]
    {{/if}}
  {{/if}}
  {{#if payment_summary.restaurant.billing_zip}}
    {{payment_summary.restaurant.billing_zip}}
  {{else}}
    {{#if payment_summary.restaurant.zip}}
      {{payment_summary.restaurant.zip}}
    {{else}}
      [Your Zip]
    {{/if}}
  {{/if}}
</address>
<div class="info-item-date info-item">Billing Period: {{formatDateTime payment_summary.period_begin "MM/DD"}} - {{formatDateTime payment_summary.period_end "MM/DD"}}</div>
<div class="info-item-contact info-item">
  {{#if order.user.name}}
    {{order.user.name}}
  {{/if}}
  {{#if order.phone}}
    <br>
    {{phoneNumber order.phone "xxx.xxx.xxxx"}}
  {{/if}}
</div>

<div class="doc-id-info order-number-info">
  <span class="doc-id-key order-number-key"></span>
  <span class="doc-id order-number">#{{payment_summary.id}}</span>
</div>
{{/extend}}

{{#extend "body"}}
<div class="order-info"></div>
<div class="order">
  <table class="gb-table" style="">
    <thead>
      <tr>
        <th>Order Info</th>
        <th>Order Total</th>
        <th>Delivery Fee Deducted</th>
        <th>Tip Deducted</th>
        <th>Adjst. Reimbursed</th>
        <th>GB Fee Deducted</th>
        <th>Sales Tax Deducted</th>
        <th>Net Payout</th>
      </tr>
    </thead>

    <tbody>
      {{#each payment_summary.items}}
      <tr>
        <td>
          <div><strong>#{{this.order.id}}</strong></div>
          <div>{{#if this.order.user.organization}}{{this.order.user.organization}}{{else}}{{this.order.user.name}}{{/if}}</div>
          <div>{{formatDateTime this.order.datetime}}</div>
        </td>
        <td>${{dollars this.total}}</td>
        <td>${{dollars this.delivery_fee}}</td>
        <td>${{dollars this.tip}}</td>
        <td>${{dollars this.user_adjustment}}</td>
        <td>${{dollars this.gb_fee}}</td>
        <td>${{dollars this.sales_tax}}</td>
        <td>${{dollars this.net_payout}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="order-bottom-wrapper">
    <div class="order-bottom">
      <div class="order-adjustment columns">
        <p class="adjustment-notes column-fluid">{{payment_summary.adjustment_text}}</p>
        <div class="column-fluid adjustment-amount-wrapper">
          <dl class="dl-adjustment-amount dl-horizontal">
            <dt>Adjustment:</dt>
            <dd>${{dollars payment_summary.adjustment}}</dd>
          </dl>
        </div>
      </div>

      <div class="order-summary"></div>

      <div class="total-wrapper">
        <dl class="dl-horizontal dl-order-total">
          <dt>Total:</dt>
          <dd>${{dollars payment_summary.net_payout}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{{/extend}}