{{#extend "info"}}
<h2 class="customer-company-name info-item">
  {{#if order.user.organization}}
    {{order.user.organization}}
  {{else}}
    [Your Organization]
  {{/if}}
</h2>
<address class="info-item-address info-item">
  {{#if order.street}}
    {{order.street}}
    {{#if order.street2}}
      <br />
      {{order.street2}}
    {{/if}}
  {{else}}
    [123 Your St.]
  {{/if}}
  <br />
  {{#if order.city}}
    {{order.city}}
  {{else}}
    [Your City]
  {{/if}},
  {{#if order.state}}
    {{order.state}}
  {{else}}
    [Your State]
  {{/if}}
  {{#if order.zip}}
    {{order.zip}}
  {{else}}
    [Your Zip]
  {{/if}}
</address>
<div class="info-item-contact info-item">
  {{#if order.user.name}}
    {{order.user.name}}
  {{/if}}
  {{#if order.phone}}
    <br>
    {{phoneNumber order.phone "xxx.xxx.xxxx"}}
  {{/if}}
</div>

<div class="doc-id-info order-number-info">
  <span class="doc-id-key order-number-key">
    Order:
  </span>
  <span class="doc-id order-number">#{{order.id}}</span>
</div>
{{/extend}}

{{#extend "body"}}

<div class="order-info columns">
  <div class="order-info-details column-fluid">
    <h3 class="restaurant-name">{{order.restaurant.name}}</h3>
    <dl class="dl-horizontal">
      <dt>Order Name:</dt>
      <dd>{{order.name}}</dd>
      <dt>Date Created:</dt>
      <dd>{{formatDateTime order.created_at "MM/DD/YYYY"}}</dd>
      <dt>Delivery Date:</dt>
      <dd>{{formatDateTime order.datetime "MM/DD/YYYY"}}</dd>
      <dt>Delivery Time:</dt>
      <dd>{{join (timeToRange (timepart order.datetime) "h:mm A") " - "}}</dd>
      <dt>Payment Method:</dt>
      {{#if order.payment_method}}
      <dd>**** **** **** {{order.payment_method.data.last4}}</dd>
      <dt>Charge Date:</dt>
      <dd>{{formatDateTime order.datetime "MM/DD/YYYY"}}</dd>
      {{else}}
      <dd>Invoiced</dd>
      {{/if}}
      <dt>Guests:</dt>
      <dd>{{order.guests}}</dd>
    </dl>
  </div>
  <div class="order-info-notes column-fluid">
    {{#if order.notes}}
      <div class="notes-key">Notes:</div>
      <p>{{order.notes}}</p>
    {{/if}}
    {{#if order.delivery_instructions}}
      <div class="notes-key">Delivery Instructions:</div>
      <p>{{order.delivery_instructions}}</p>
    {{/if}}
  </div>
</div>

<div class="order">
  <table class="gb-table order-table" style="">
    <thead>
      <tr>
        <th class="orders">Item</th>
        {{#if order.restaurant.show_item_recipients}}
        <th class="recipient">Recipient</th>
        {{/if}}
        <th class="quantity">Quantity</th>
        <th class="notes">Notes</th>
        <th class="price">Price</th>
      </tr>
    </thead>

    <tbody>
      {{#each order.orderItems}}
      <tr id="order-item-{{this.id}}">
        <td class="line-item-name" data-title="Name">
          <div class="item-name">{{this.name}}</div>
          <ul class="comma-separated item-options">
            {{#each options_sets}}
              {{#each this.options}}
                {{#if this.state}}
                  <li>{{this.name}}</li>
                {{/if}}
              {{/each}}
            {{/each}}
          </ul>
        </td>
        {{#if ../order.restaurant.show_item_recipients}}
        <td class="line-item-recipient" data-title="Recipient">
          <span class="item-recipient-span order-item-field order-item-recipient" />{{this.recipient}}</span>
        </td>
        {{/if}}
        <td class="line-item-quantity" data-title="Quantity">
          <span class="item-quantity-span order-item-field order-item-quantity" />x {{this.quantity}}</span>
        </td>
        <td class="line-item-notes" data-title="Notes">
          <span name="notes" class="item-notes-span order-item-field order-item-notes">{{this.notes}}</span>
        </td>
        <td class="line-item-price" data-title="Price">${{dollars this.sub_total}}</td>
      </tr>
      {{/each}}
      {{#each order.restaurant.amenities}}
      {{#if checked}}
      <tr id="order-amenity-{{id}}">
      <td class="line-item-name">
        <div class="item-name">{{name}}</div>
      </td>
      {{#if ../order.restaurant.show_item_recipients}}
      <td class="line-item-recipient"></td>
      {{/if}}
      <td class="line-item-quantity">{{#eq scale "multiply"}}x {{../../../order.guests}}{{/eq}}</td>
      <td class="line-item-notes">{{description}}</td>
      <td class="line-item-price">
        {{#eq scale "multiply"}}
        {{surcharge (multiply price ../../../order.guests)}}
        {{/eq}}
        {{#eq scale "flat"}}
        {{surcharge price}}
        {{/eq}}
      </td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>

  <div class="order-bottom-wrapper">
    <div class="order-bottom">
      <div class="order-adjustment">
        {{#if order.adjustment.amount}}
          <div class="columns">
            <div class="adjustment-notes column-fluid">
              {{#if order.adjustment.description}}
              <p class="adjustment-notes column-fluid">{{order.adjustment.description}}</p>
              {{/if}}
            </div>
            <div class="column-fluid adjustment-amount-wrapper">
              <dl class="dl-adjustment-amount dl-horizontal">
                <dt>Adjustment:</dt>
                <dd>${{dollars order.adjustment.amount}}</dd>
              </dl>
            </div>
          </div>
        {{/if}}
        {{#if order.user_adjustment_amount}}
          <div class="columns">
            <div class="adjustment-notes column-fluid">
              {{#if order.user_adjustment_description}}
              <p class="adjustment-notes column-fluid">{{order.user_adjustment_description}}</p>
              {{/if}}
            </div>
            <div class="column-fluid adjustment-amount-wrapper">
              <dl class="dl-adjustment-amount dl-horizontal">
                <dt>{{#unless order.adjustment.amount}}Adjustment:{{/unless}}</dt>
                <dd>${{dollars order.user_adjustment_amount}}</dd>
              </dl>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="order-summary">
        <dl class="dl-horizontal dl-order-summary">
          <dt>Subtotal:</dt>
          <dd>${{dollars order.sub_total}}</dd>
          <dt>Delivery Fee:</dt>
          <dd>${{dollars order.delivery_fee}}</dd>
          <dt>Tax:</dt>
          <dd>${{dollars order.sales_tax}}</dd>
          <dt>Tip:</dt>
          <dd>${{dollars order.tip}}</dd>
          {{#unless order.restaurant.plan_id}}
          {{#if order.restaurant.no_contract_fee}}
          <dt>Transaction Fee</dt>
          <dd>{{dollars order.no_contract_amount}}</dd>
          {{/if}}
          {{/unless}}
        </dl>
      </div>

      <div class="total-wrapper">
        <dl class="dl-horizontal dl-order-total">
          <dt>Total:</dt>
          <dd>${{dollars order.total}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{{/extend}}
