<div class="alert-container"></div>
<div class="form-group">
  <label class="control-label" for="input-name">
    Name
    <span class="help-block">Required</span>
  </label>
  <input
    type="text"
    class="form-control"
    name="name"
    id="input-name"
    value="{{restaurant_location.name}}" required>
</div>
<div class="form-group">
  <label class="control-label" for="input-street">
    Street
    <span class="help-block">Required</span>
  </label>
  <input
    type="text"
    class="form-control"
    name="street"
    id="input-street"
    value="{{restaurant_location.street}}" required>
</div>
<div class="form-group">
  <label class="control-label" for="input-street2">
    Street 2
  </label>
  <input
    type="text"
    class="form-control"
    name="street2"
    id="input-street2"
    value="{{restaurant_location.street2}}">
</div>
<div>
  <div class="form-group form-group-inline">
    <label class="control-label" for="input-city">
      City
      <span class="help-block">Required</span>
    </label>
    <input
      type="text"
      class="form-control"
      name="city"
      id="input-city"
      value="{{restaurant_location.city}}" required>
  </div>
  <div class="form-group form-group-inline">
    <label class="control-label" for="input-state">
      State
      <span class="help-block">Required</span>
    </label>
    <select class="form-control address-state" name="state">
    {{! Show address.state otherwise default }}
    {{#each states}}
      <option value="{{this.abbr}}" label="{{this.abbr}}"
      {{~#if ../restaurant_location.state}}
        {{#eq this.abbr ../../restaurant_location.state}} selected="selected"{{/eq}}
      {{else}}
        {{#eq this.abbr 'TX'}} selected="selected"{{/eq}}
      {{/if}}>
      {{this.name}}
      </option>
    {{/each}}
    </select>
  </div>
  <div class="form-group form-group-inline">
    <label class="control-label" for="input-zip">
      Zip
      <span class="help-block">Required</span>
    </label>
    <input
      type="number"
      class="form-control"
      name="zip"
      id="input-zip"
      value="{{restaurant_location.zip}}" required>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for="input-phone">
  Phone
  <span class="help-block">Required</span>
  </label>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      name="phone"
      id="input-phone"
      data-in="phoneNumber"
      data-out="sanitizePhoneNumber"
      value="{{phoneNumber restaurant_location.phone}}"
      required>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for="input-price_per_mile">
  Price Per Mile
  <span class="help-block">Required</span>
  </label>
  <div class="input-group">
    <span class="input-addon">$</span>
    <input
      type="number"
      step="0.01"
      class="form-control"
      name="price_per_mile"
      id="input-price_per_mile"
      data-in="dollars"
      data-out="pennies"
      value="{{dollars restaurant_location.price_per_mile}}"
      required>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for="input-is_default">
    Default Location?
  </label>
  <input
    type="checkbox"
    class="form-control"
    name="is_default"
    id="input-is_default"
    {{#if restaurant_location.is_default}}checked="checked"{{/if}}>
</div>
<div class="form-group actions">
  {{#unless restaurant_location.id}}
  <a class="btn btn-default" href="{{sidebarNav.baseUrl}}/locations">Cancel</a>
  {{else}}
  <button class="btn btn-default btn-delete" type="button">Delete</button>
  {{/unless}}
  <button class="btn btn-primary" type="submit">Save</button>
</div>