<header class="manifest-header">
  <h4 class="header-text">Please print this and include with the {{#eq order.type 'delivery'}}delivered{{else}}pickup{{/eq}} order. Thanks! <span class="signature">-Goodybag</span></h4>
  <div class="order-info">
    <div class="info-item info-item-order-type">
      <div class="item-title">This Order Is For:</div>
      <div class="item-value">
        {{#eq order.type 'delivery'}}Delivery{{else}}Pickup{{/eq}}
      </div>
    </div>
    <div class="info-item">
      <div class="item-title">Order:</div>
      <div class="item-value">#{{order.id}}</div>
    </div>
    <div class="info-item info-item-company">
      <div class="item-title">Company:</div>
      <div class="item-value">{{order.user.organization}}</div>
    </div>
    <div class="info-item">
      <div class="item-title">Order Date:</div>
      <div class="item-value">
        {{#eq order.type 'delivery'}}
          {{formatDateTime order.datetime "MM/DD/YYYY"}}
        {{else}}
          {{formatDateTime order.pickup_datetime "MM/DD/YYYY"}}
        {{/eq}}
      </div>
    </div>
    <div class="info-item">
      <div class="item-title">
        {{#eq order.type 'delivery'}}Delivery{{else}}Pickup{{/eq}} Time
      </div>
      <div class="item-value">
        {{#eq order.type 'delivery'}}
          {{formatDateTime order.datetime "h:mm A"}}
        {{else}}
          {{formatDateTime order.pickup_datetime "h:mm A"}}
        {{/eq}}
      </div>
    </div>
  </div>
  <div class="subtext">
    Not what you ordered? &nbsp;Something missing? &nbsp;No worries! &nbsp;We will help get it resolved. &nbsp;Contact us at: <span class="phone">{{phoneNumber (or order.restaurant.region.support_phone config.phone.support) "xxx.xxx.xxxx"}}</span>
  </div>
</header>