<div class="manifest-header">
  <div class="manifest-header-section">
    <div class="manifest-header-column">
      <div class="manifest-header-column-text">
        #{{order.id}}
      </div>
    </div>

    <div class="manifest-header-column manifest-header-column-right">
      <div class="manifest-header-column-text">
        {{#eq order.type 'delivery'}}Delivery{{else}}Courier Pickup{{/eq}}
      </div>
    </div>
  </div>

  <div class="manifest-header-section">
    <div class="manifest-header-column">
      <div class="manifest-header-column-label">Company</div>
      <div class="manifest-header-column-value">{{order.user.organization}}</div>
    </div>

    <div class="manifest-header-column">
      <div class="manifest-header-column-label">
        {{#eq order.type 'delivery'}}Delivery{{else}}Pickup{{/eq}} Date
      </div>

      <div class="manifest-header-column-value">
        {{#eq order.type 'delivery'}}
          {{formatDateTime order.datetime "ddd, MM/DD/YYYY"}}
        {{else}}
          {{formatDateTime order.pickup_datetime "ddd, MM/DD/YYYY"}}
        {{/eq}}
      </div>
    </div>

    <div class="manifest-header-column">
      <div class="manifest-header-column-label">
        {{#eq order.type 'delivery'}}Delivery{{else}}Pickup{{/eq}} Time
      </div>

      <div class="manifest-header-column-value">
        {{#eq order.type 'delivery'}}
          {{formatDateTime order.datetime "h:mm A"}}
        {{else}}
          {{formatDateTime order.pickup_datetime "h:mm A"}}
        {{/eq}}
      </div>
    </div>
  </div>

  {{#if order.notes}}
  <div class="manifest-header-section">
    <div class="manifest-header-column">
      <div class="manifest-header-column-label">
        Customer Notes
      </div>

      <div class="manifest-header-column-value manifest-header-column-value-small">
        {{order.notes}}
      </div>
    </div>
  </div>
  {{/if}}
</div>
