<div class="order-manifest">
  <section class="manifest-page table-page">
    <div class="inner">
      {{> order_manifest_header}}

      <table class="manifest-table">
        <thead>
          <tr>
            <th class="checkbox"><img src="{{cdn "/img/checkmark_white.svg"}}" width="18"></th>
            <th class="item">Item</th>
            <th class="feeds">Feeds</th>
            <th class="options-notes">Notes</th>
            {{#if order.restaurant.show_item_recipients}}
            <th class="recipient">Label</th>
            {{/if}}
            <th class="qty">Qty</th>
            <th class="price">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.manifest}}
          <tr>
            <td class="checkbox"></td>
            <td class="item">
              <div class="item-name">{{this.name}}</div>
              <div class="options">
                {{#each this.options_sets}}
                {{#if this.name.length}}
                  <div class="option-group-name">{{this.name}}:</div>
                {{/if}}
                <ul class="option-group">
                  {{#each this.options}}
                    <li>{{this.name}}</li>
                  {{/each}}
                </ul>
                {{/each}}
              </div>
              {{!-- <div class="options">
                {{#each this.options_sets}}
                  {{#if @index}}<br>{{/if}}
                  {{#if this.name.length}}{{this.name}}: {{/if}}
                  {{join this.options ", " "name"}}
                {{/each}}
              </div> --}}
            </td>
            <td class="feeds">{{this.feeds_max}}</td>
            <td class="options-notes">{{this.notes}}</td>
            {{#if ../order.restaurant.show_item_recipients}}
            <td class="recipient">{{{join this.recipients "<br>"}}}</td>
            {{/if}}
            <td class="qty">x{{this.quantity}}</td>
            <td class="price">${{dollars this.sub_total}}</td>
          </tr>
          {{/each}}
          {{#each order.restaurant.amenities}}
          {{#if checked}}
          <tr>
            <td class="checkbox"></td>
            <td class="item"><div class="item-name">{{name}}</div>{{#if description}} - {{description}}{{/if}}</td>
            <td class="options"></td>
            {{#if ../order.restaurant.show_item_recipients}}
            <td class="recipient">{{{join this.recipients "<br>"}}}</td>
            {{/if}}
            <td class="feeds"></td>
            <td class="qty">{{#eq scale "multiply"}}x{{../../../order.guests}}{{/eq}}</td>
            <td class="price">
              {{#eq scale "multiply"}}
              {{surcharge (multiply price ../../../order.guests)}}
              {{/eq}}
              {{#eq scale "flat"}}
              {{surcharge price}}
              {{/eq}}
            </td>
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>

      <div class="page-number">
        Page <span class="current">1</span>/<span class="total">2</span>
      </div>
    </div>
  </section>

  <section class="manifest-page">
    <div class="inner">
      {{> order_manifest_header}}

      <h2 class="section-title">Order</h2>
      <dl class="manifest-section-dl">
        <dt>Restaurant</dt>
        <dd>{{order.restaurant.name}}</dd>
        <dt>Guests</dt>
        <dd>{{order.guests}}</dd>

        <div class="manifest-section-spacer"></div>

        <dt>Subtotal</dt>
        <dd>${{dollars order.sub_total}}</dd>
        {{#eq order.type 'delivery'}}
        <dt>Delivery Fee</dt>
        <dd>${{dollars order.delivery_fee}}</dd>
        {{/eq}}
        <dt>Tax</dt>
        <dd>${{dollars order.sales_tax}}</dd>
        {{#is order.type 'delivery' 'pickup'}}
        <dt>Tip</dt>
        <dd>${{dollars order.tip}}</dd>
        {{/is}}
        {{#if order.adjustment.amount}}
        <dt>Adjustment</dt>
        <dd>${{dollars order.adjustment.amount}}
          <br>
          {{order.adjustment.description}}
        </dd>
        {{/if}}
        <dt>Total</dt>
        <dd>${{dollars order.total}}</dd>
      </dl>

      {{#eq order.type 'delivery'}}
        <h2 class="section-title">Delivery</h2>
        <dl class="manifest-section-dl">
          {{#if order.user.organization}}
          <dt>Company</dt>
          <dd>{{order.user.organization}}</dd>
          {{/if}}
          <dt>Address</dt>
          <dd>
            {{order.street}}
            {{#if order.street2}}
              <br>
              {{order.street2}}
            {{/if}}
            <br>
            {{order.city}}, {{order.state}} {{order.zip}}
          </dd>

          <div class="manifest-section-spacer"></div>

          <dt>Contact</dt>
          <dd>
            {{order.user.name}}
          </dd>
          <dt>Phone</dt>
          <dd>{{phoneNumber order.phone "xxx.xxx.xxxx"}} - <b>Call upon delivery only.</b> Please call Goodybag with any questions about the order.</dd>
          {{#if order.secondary_contact_phone }}
            {{#unless (eq order.secondary_contact_phone order.phone)}}
            <dt>Secondary</dt>
            <dd>{{phoneNumber order.secondary_contact_phone "xxx.xxx.xxxx"}}</dd>
            {{/unless}}
          {{/if}}
          <dt>Delivery Info</dt>
          <dd>{{order.delivery_instructions}}</dd>
        </dl>
      {{else}}
        <h2 class="section-title">Pickup</h2>
        <dl class="manifest-section-dl">
          {{#if order.user.organization}}
          <dt>Company</dt>
          <dd>{{order.user.organization}}</dd>
          {{/if}}
          <dt>Address</dt>
          <dd>
            {{order.street}}
            {{#if order.street2}}
              <br>
              {{order.street2}}
            {{/if}}
            <br>
            {{order.city}}, {{order.state}} {{order.zip}}
          </dd>
          <dt>Contact</dt>
          <dd>{{order.user.name}}</dd>
          <dt>Phone</dt>
          <dd>{{phoneNumber order.phone "xxx.xxx.xxxx"}}</dd>
          {{#if order.secondary_contact_phone }}
            {{#unless (eq order.secondary_contact_phone order.phone)}}
            <dt>Secondary</dt>
            <dd>{{phoneNumber order.secondary_contact_phone "xxx.xxx.xxxx"}}</dd>
            {{/unless}}
          {{/if}}
        </dl>
      {{/eq}}

      <h2 class="section-title">Goodybag</h2>
      <dl class="manifest-section-dl">
        <dt>Phone</dt>
        <dd>{{phoneNumber  (or order.restaurant.region.support_phone config.phone.support) "xxx.xxx.xxxx"}}</dd>
        <dt>Email</dt>
        <dd>{{config.emails.support}}</dd>
      </dl>

      <div class="page-number">
        Page <span class="current">1</span>/<span class="total">2</span>
      </div>
    </div>
  </section>
</div>
