<div class="order-manifest">
  <section class="manifest-page table-page">
    <div class="inner">
      {{> order_manifest_header}}
  
      <table class="manifest-table">
        <thead>
          <tr>
            <th class="checkbox"><img src="{{cdn "/img/checkmark_white.svg"}}" width="18"></th>
            <th class="item">Item</th>
            <th class="options-notes">Options/Notes</th>
            <th class="recipient">Recipient</th>
            <th class="feeds">Feeds</th>
            <th class="qty">Qty</th>
            <th class="price">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.manifest}}
          <tr>
            <td class="checkbox"></td>
            <td class="item">
              {{this.name}}
              <div class="options">
                {{#each this.options_sets}}
                {{#if this.name.length}}
                  <div class="option-group-name">{{this.name}}:</div>
                {{/if}}
                <ul class="option-group">
                  {{#each this.options}}
                    <li>{{this.name}}</li>
                  {{/each}}
                </ul>
                {{/each}}
              </div>
              {{!-- <div class="options">
                {{#each this.options_sets}}
                  {{#if @index}}<br>{{/if}}
                  {{#if this.name.length}}{{this.name}}: {{/if}}
                  {{join this.options ", " "name"}}
                {{/each}}
              </div> --}}
            </td>
            <td class="options-notes">{{this.notes}}</td>
            <td class="recipient">{{{join this.recipients "<br>"}}}</td>
            <td class="feeds">{{this.feeds_max}}</td>
            <td class="qty">x{{this.quantity}}</td>
            <td class="price">${{dollars this.sub_total}}</td>
          </tr>
          {{/each}}
          {{#each order.restaurant.amenities}}
          {{#if checked}}
          <tr>
            <td class="checkbox"></td>
            <td class="item">{{name}}{{#if description}} - {{description}}{{/if}}</td>
            <td class="options"></td>
            <td class="recipient"></td>
            <td class="feeds"></td>
            <td class="qty">{{#eq scale "multiply"}}x{{../../../order.guests}}{{/eq}}</td>
            <td class="price">
              {{#eq scale "multiply"}}
              {{surcharge (multiply price ../../../order.guests)}}
              {{/eq}}
              {{#eq scale "flat"}}
              {{surcharge price}}
              {{/eq}}
            </td>
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>
      <div class="page-number">
        Page <span class="current">1</span>/<span class="total">2</span>
      </div>
    </div>
  </section>
  
  <section class="manifest-page">
    <div class="inner">
      {{> order_manifest_header}}
        
      <h2 class="section-title">Order Info</h2>
      <dl class="manifest-section-dl">
        <dt>Restaurant:</dt>
        <dd>{{order.restaurant.name}}</dd>
        <dt>Order Number:</dt>
        <dd>#{{order.id}}</dd>
        {{#if order.name}}
        <dt>Order Name:</dt>
        <dd>{{order.name}}</dd>
        {{/if}}
        <dt>Number of Guests:</dt>
        <dd>{{order.guests}}</dd>
        <dt>Customer Notes:</dt>
        <dd>{{order.notes}}</dd>
        <dt>Sub-Total:</dt>
        <dd>${{dollars order.sub_total}}</dd>
        {{#eq order.type 'delivery'}}
        <dt>Delivery Fee:</dt>
        <dd>${{dollars order.delivery_fee}}</dd>
        {{/eq}}
        <dt>Tax:</dt>
        <dd>${{dollars order.sales_tax}}</dd>
        {{#is order.type 'delivery' 'pickup'}}
        <dt>Tip:</dt>
        <dd>${{dollars order.tip}}</dd>
        {{/is}}
        {{#if order.adjustment.amount}}
        <dt>Adjustment:</dt>
        <dd>${{dollars order.adjustment.amount}}
          <br>
          {{order.adjustment.description}}
        </dd>
        {{/if}}
        <dt>Total:</dt>
        <dd>${{dollars order.total}}</dd>
      </dl>
        
      {{#eq order.type 'delivery'}}
        <h2 class="section-title">Delivery</h2>
        <dl class="manifest-section-dl">
          <dt>Contact:</dt>
          <dd>
            {{order.user.name}} - {{phoneNumber order.phone "xxx.xxx.xxxx"}}
          </dd>
          {{#if order.user.organization}}
          <dt>Company:</dt>
          <dd>{{order.user.organization}}</dd>
          {{/if}}
          <dt>Address:</dt>
          <dd>
            {{order.street}}
            {{#if order.street2}}
              <br>
              {{order.street2}}
            {{/if}}
            <br>
            {{order.city}}, {{order.state}} {{order.zip}}
          </dd>
          <dt>Phone:</dt>
          <dd>{{phoneNumber order.phone "xxx.xxx.xxxx"}}</dd>
          {{#if order.secondary_contact_phone }}
          <dt>Secondary Phone:</dt>
          <dd>{{phoneNumber order.secondary_contact_phone "xxx.xxx.xxxx"}}</dd>
          {{/if}}
          <dt>Delivery Date:</dt>
          <dd>{{formatDateTime order.datetime "MM/DD/YYYY"}}</dd>
          <dt>Delivery Time:</dt>
          <dd>{{formatDateTime order.datetime "h:mm A"}}</dd>
          <dt>Delivery Instructions:</dt>
          <dd>{{order.delivery_instructions}}</dd>
        </dl>
      {{else}}
        <h2 class="section-title">Pickup</h2>
        <dl class="manifest-section-dl">
          <dt>Contact:</dt>
          <dd>
            {{order.user.name}} - {{phoneNumber order.phone "xxx.xxx.xxxx"}}
          </dd>
          {{#if order.secondary_contact_phone }}
          <dt>Secondary Phone:</dt>
          <dd>{{phoneNumber order.secondary_contact_phone "xxx.xxx.xxxx"}}</dd>
          {{/if}}
          {{#if order.user.organization}}
          <dt>Company:</dt>
          <dd>{{order.user.organization}}</dd>
          {{/if}}
          <dt>Phone:</dt>
          <dd>{{phoneNumber order.phone "xxx.xxx.xxxx"}}</dd>
          <dt>Pickup Date:</dt>
          <dd>{{formatDateTime order.pickup_datetime "MM/DD/YYYY"}}</dd>
          <dt>Pickup Time:</dt>
          <dd>{{formatDateTime order.pickup_datetime "h:mm A"}}</dd>
        </dl>
      {{/eq}}
        
      <h2 class="section-title">Goodybag</h2>
      <dl class="manifest-section-dl">
        <dt>Phone:</dt>
        <dd>{{phoneNumber  (or order.restaurant.region.support_phone config.phone.support) "xxx.xxx.xxxx"}}</dd>
        <dt>Email:</dt>
        <dd>{{config.emails.support}}</dd>
        <dt>Website:</dt>
        <dd>https://www.goodybag.com</dd>
      </dl>
        
      <div class="page-number">
        Page <span class="current">1</span>/<span class="total">2</span>
      </div>
    </div>
  </section>
</div>