<div>
  {{#each restaurants }}
  <div class="listing">

  <a class="tile-link" title="{{name}}" href="/restaurants/{{text_id}}{{queryParams ../reqQuery}}">
    <ul class="inline-list">
      <li>
        <div class="listing-img" data-pic='{{filepicker list_photo_url}}'></div>
      </li>
      <li>
        <div class="listing-info">
          <h1 class="listing-title">{{name}}</h1>
          {{~#if is_featured~}}
          <span class="listing-feature">
            Featured <span class="gb-icon-flame" data-toggle="tooltip" data-title="Featured Restaurant"></span>
          </span>
          {{~/if~}}
          <ul class="inline-list inline-list-bulleted">
            <li>{{truncate (join cuisine ", ") 35}}</li>
            <li>
              <span class="dollar-meter">{{{dollarMeter this.price}}}</span>
            </li>
          </ul>

          <ul class="inline-list inline-list-bulleted">
              <li>Delivery:
                {{#eq delivery_fee_from delivery_fee_to}}
                {{#if delivery_fee_from}}
                ${{dollarsOmit00 ../delivery_fee_from}}
                {{else}}
                Free
                {{/if}}
                {{else}}
                ${{dollarsOmit00 delivery_fee_from}} - ${{dollarsOmit00 delivery_fee_to}}
                {{/eq}}
              </li>
              <li>Order minimum: ${{dollarsOmit00 (or minimum_order 0)}}</li>
            </ul>

          <span class="listing-tags">
          {{#each tags}}
          {{#with (ref ../../config.diets this)}}
          {{> diet_tag }}
          {{/with}}
          {{/each}}
          </span>
        </div>
      </li>
    </ul>
    <div class="listing-rating">{{{ratingStars yelp_data.rating}}}</div>
  </a>
  </div>
  {{/each}}
</div>
