{{#extend "css"}}
<style>

</style>
{{/extend}}
<div>
  {{#each restaurants }}
  <div class="list-list" style="margin-bottom: 5px; border-bottom: 1px solid #aab2bd; padding-bottom: 25px; padding-top: 25px;">

  <a class="tile-link" title="{{name}}" href="/restaurants/{{id}}{{queryParams ../orderParams}}">
    <ul class="inline-list">
      <li>
        <div class="list-img">
          <img src="{{logo_url}}" width="70">
        </div>
      </li>
      <li>
        <h1 style="margin: 0px; font-size: 28px;">
          {{name}}
          {{#if is_featured}}
          <span style="font-size: 14px;color: #ED4242;">
            Featured <span class="gb-icon-flame" data-toggle="tooltip" data-title="Featured Restaurant"></span>
          </span>
          {{/if}}
        </h1>

        <ul class="inline-list inline-list-bulleted">
          <li>{{truncate (join cuisine ", ") 35}}</li>
          <li>
            <span class="dollar-meter">{{{dollarMeter this.price}}}</span>
          </li>
        </ul>

        <ul class="inline-list inline-list-bulleted">
            <li>Delivery:
              {{#eq delivery_fee_from delivery_fee_to}}
              {{#if delivery_fee_from}}
              ${{dollarsOmit00 ../delivery_fee_from}}
              {{else}}
              Free
              {{/if}}
              {{else}}
              ${{dollarsOmit00 delivery_fee_from}} - ${{dollarsOmit00 delivery_fee_to}}
              {{/eq}}
            </li>
            <li>Order minimum: ${{dollarsOmit00 (or minimum_order 0)}}</li>
          </ul>

        <span class="tile-tags">{{> tags tags }}</span>
      </li>
    </ul>
    <div class="tile-rating">{{{ratingStars yelp_data.rating}}}</div>
  </a>
  </div>
  {{/each}}
</div>
