<section>
  <div class="container">
    <span class="search-lead">Find catering for:</span>
    <div class="restaurant-params form-inline">
      <div class="form-group">
        <input list="zips" type="text" name="zip" placeholder="Zip" maxlength="5" value="{{#if reqQuery.zip}}{{reqQuery.zip}}{{else}}{{order.zip}}{{/if}}" />
        <datalist id="zips">
          {{#if defaultAddress }}
          <option value="{{defaultAddress.zip}}">Your Default Address</option>
          {{/if}}
          {{#each order.restaurant.delivery_zip_groups}}
          {{#each this.zips}}
          <option value="{{this}}"></option>
          {{/each}}
          {{/each}}
        </datalist>
      </div>
      <div class="form-group"><input type="text" name="date" placeholder="Delivery Date" value="{{#if reqQuery}}{{formatDateTime reqQuery.date}}{{/if}}"></div>
      <div class="form-group">
        <input type="text" class="form-control form-control-time" name="time-range" placeholder="Delivery Time" value="{{#if reqQuery.time}}{{join (timeToRange (formatTime reqQuery.time "h:mm A") "h:mm A") " - "}}{{/if}}" disabled="true" />
        <input type="text" class="form-control form-control-time" name="time" placeholder="Delivery Time" maxlength="8" value="{{#if reqQuery}}{{formatTime reqQuery.time}}{{/if}}"/>
      </div>
      <div class="form-group"><input type="text" name="guests" placeholder="Guests" value="{{#if reqQuery}}{{reqQuery.guests}}{{/if}}"></div>
      <div class="form-group form-group-search"><button class="btn btn-primary btn-search">Search</button></div>
    </div>
  </div>
</section>
