{{#extend "page"}}page-contacts{{/extend}}

{{#extend "body"}}
<div class="container">
  <h1>{{restaurant.name}} Contacts</h1>
  <!-- Existing contacts -->
  {{#each contacts}}
  <form class="ap-form" id="contact-{{id}}" method="put" action="/api/restaurants/{{restaurant.id}}/contacts/{{id}}">
    <legend>Contact #{{add @index 1}}</legend>
    <div class="form-vertical">
      {{> contact_form }}
      <div class="form-group">
        <button class="btn btn-primary btn-update-contact" type="submit">Update</button>
        <button class="btn btn-primary btn-remove-contact" type="submit">Delete</button>
      </div>
    </div>
  </form>
  {{/each}}
  <!-- End Existing contacts  -->

  <!-- New Contact -->
  <form class="ap-form" id="create-contact" method="POST" action="/api/restaurants/{{restaurant.id}}/contacts">
    <legend>New contact</legend>
    <div class="form-vertical">
    {{> contact_form }}
    <div class="form-group">
      <button class="btn btn-primary btn-create-contact" type="submit">Add contact</button>
    </div>
    </div>
  </form>
  <!-- End New Contact -->
</div>

<footer class="footer">
  <ul class="nav footer-nav">
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/contact-us">Request to be a caterer</a></li>
    <li><a href="/legal">Terms of service</a></li>
    <li><a href="/privacy">Privacy policy</a></li>
  </ul>
</footer>
{{/extend}}


{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar', 'app/pages/contacts'], function( $, navbar, page ){
    $('.navbar').navbar({ toggleText: false, toggleLogin: false });

    page.init({
      contacts: {{{json contacts}}}
    , restaurantId: {{{restaurant.id}}}
    });
  });
</script>
{{/extend}}
