{{#extend "page"}}page-home{{/extend}}

{{#extend "body"}}
<!--<Navbar>-->
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-small btn-default" data-icon="gb-icon-hamburger"></button>
    <form class="login-form form-small" method="POST" action="/login{{queryParams query}}">
      <div class="form-group">
        <label for="login-email">Email</label>
        <label for="remember-me" class="remember-me">
          <input type="checkbox" name="remember" value="1" id="remember-me" tabindex="3">
          Remember me
        </label>
        <input type="email" name="email" id="login-email" placeholder="Email" tabindex="1">
      </div>

      <div class="form-group">
        <a href="/forgot-password" class="forgot-password">Forgot password?</a>
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password" placeholder="Password" tabindex="2">
      </div>

      <div class="form-group form-group-submit">
        <button class="btn btn-default" tabindex="4">Sign In</button>
        <a class="btn btn-primary" href="/join" tabindex="5">Sign Up</a>
      </div>
    </form>
  </div>
</header>
<!--</Navbar>-->

<!--<HeroUnit>-->
<div class="hero-unit" id="intro">
  <div class="container">
    <h1>Office catering made easy.</h1>
    <p>Easily search restaurants and find food for your meetings.</p>

    <div class="hero-unit-marketing-area">
      <!--<WindowPane>-->
      <div class="screenshot-window window-pane">
        <div class="window-header">
          <i class="window-btn"></i>
          <i class="window-btn"></i>
          <i class="window-btn"></i>
        </div>
        <img src="{{cdn "/img/landingpage-restaurants2.jpg"}}" alt="Goodybag restaurants list">
      </div>
      <!--</WindowPane>-->

      <!--<Panel>-->
      <div class="restaurant-search-panel panel">
        <h3 class="panel-header">Search Restaurants</h3>
        <form class="restaurant-search with-labels form-vertical" method="GET" action="/restaurants">
          <div class="errors"></div>

          {{> restaurant_search_main}}

          <div class="form-group form-group-actions">
            <button class="btn btn-primary btn-submit btn-large">Search</button>
          </div>

          <div class="signup-wrapper">
            <a href="/join">Create a free account</a>
          </div>
        </form>
      </div>
      <!--</Panel>-->
    </div>
  </div>
</div>
<!--</HeroUnit>-->

<!--<How it Works>-->
<section class="page-section" id="section-how-it-works">
  <div class="container">
    <h1 class="section-header">How it works</h1>

    <div class="marketing-points">
      <div class="point">
        <img src="{{cdn "/img/landing-hiw-1.png"}}" alt="">
        <p>
          <strong class="step-title">1. Select a restaurant.</strong> Our wide variety will fit any preference, restriction, or budget.
        </p>
      </div>
      <div class="point">
        <img src="{{cdn "/img/landing-hiw-2.png"}}" alt="">
        <p>
          <strong class="step-title">2. Place order.</strong> Say when and where, submit your order, and pay securely online.
        </p>
      </div>
      <div class="point">
        <img src="{{cdn "/img/landing-hiw-3.png"}}" alt="">
        <p>
          <strong class="step-title">3. Get food!</strong> Your order will be delivered on-time, to your office.
        </p>
      </div>
    </div>
  </div>
</section>
<!--</How it Works>-->

<!--<Why companies love us>-->
<section class="page-section" id="section-why-companies-love-us">
  <div class="container">
    <h1 class="section-header">Why companies love us</h1>

    <div class="row">
      <!--<WindowPane>-->
      <div class="screenshot-window window-pane">
        <div class="window-header">
          <i class="window-btn"></i>
          <i class="window-btn"></i>
          <i class="window-btn"></i>
        </div>
        <img src="{{cdn "/img/product-screen-2.jpg"}}" alt="Goodybag restaurant menu and order">
      </div>
      <!--</WindowPane>-->

      <!--<CheckPoints>-->
      <ul class="check-points">
        <li>Quick and easy order process</li>
        <li>Wide variety of restaurants</li>
        <li>Simple and secure payments</li>
        <li>Dedicated support team</li>
        <li>No subscription or service fees</li>
        <li class="rewards">Rewards program <br><a href="/rewards">Learn More</a></li>
      </ul>
      <!--</CheckPoints>-->
    </div>
  </div>
</section>
<!--</Why companies love us>-->

<!--<Our happy customers>-->
<section class="page-section" id="section-our-happy-customers">
  <div class="container">
    <h1 class="section-header">Our happy customers</h1>

    <!--<SpeechBoxes>-->
    <div class="speech-boxes">
      <div class="box">
        <blockquote>"Goodybag has changed everything for me! They have my orders delivered perfect and on time.. every single time. I recommend it to every office manager I can get ahold of!"</blockquote>
        <div class="signature">
          <div class="wrapper">
            <span class="author">Catherine Lewis</span>
            <br>
            <a href="http://wpengine.com" class="author-company" target="_blank">WP Engine</a>
          </div>
        </div>
      </div>
      <div class="box box-reverse">
        <blockquote>"Working with Goodybag has been a dream come true! I love having so many restaurants to choose from. They make my job so much easier!"</blockquote>
        <div class="signature">
          <div class="wrapper">
            <span class="author">Miranda Watson</span>
            <br>
            <a href="https://www.apple.com/" class="author-company" target="_blank">Apple</a>
          </div>
        </div>
      </div>
      <div class="box">
        <blockquote>"Every interaction I have had with the Goodybag team has been wonderful! This company has proved that keeping their clients happy is a priority."</blockquote>
        <div class="signature">
          <div class="wrapper">
            <span class="author">Victoria Ricks</span>
            <br>
            <a href="http://www.mindshift.com/" class="author-company" target="_blank">mindSHIFT Technologies</a>
          </div>
        </div>
      </div>
    </div>
    <!--</SpeechBoxes>-->

    <!--<LogoListWhacky>-->
    <ul class="logo-list logo-list-whacky">
      <li><img src="img/client-logos/wp-engine.png" alt="WP Engine"></li>
      <li><img src="img/client-logos/broadway.png" alt="Broadway Technology"></li>
      <li><img src="img/client-logos/apple.png" alt="Apple"></li>
      <li><img src="img/client-logos/mindshift.png" alt="Mindshift Technologies"></li>
      <li><img src="img/client-logos/hot-schedules.png" alt="Hot Schedules"></li>
    </ul>
    <!--</LogoListWhacky>-->

  </div>

  <div class="testimonials-landing">
    <a href="{{config.baseUrl}}/testimonials">See what more companies have to say about us!</a>
  </div>

</section>
<!--</Our happy customers>-->

<!--<A few of our restaurants>-->
<section class="page-section section-secondary" id="section-restaurants">
  <div class="container">
    <h1 class="section-header">A few of our restaurants</h1>

    <!--<LogoList>-->
    <ul class="logo-list">
      <li><img src="{{filepicker 'https://cdn.filepicker.io/api/file/VdVnFsVRRUmkT6jgSj8C' 228 228}}" alt="Schlotzsky's"></li>
      <li><img src="{{filepicker 'https://cdn.filepicker.io/api/file/rjgovOESmmMJf1tLmLDx' 228 228}}" alt="Qdoba"></li>
      <li><img src="{{filepicker 'https://cdn.filepicker.io/api/file/8C9CXesyQ5yOYZYuZLMH' 228 228}}" alt="Hat Creek"></li>
      <li><img src="{{filepicker 'https://cdn.filepicker.io/api/file/ZPB7MHkaQYSyP3219FO6' 228 228}}" alt="Trudy's"></li>
      <li><img src="{{filepicker 'https://cdn.filepicker.io/api/file/begJUSIKSxWkDD4clONv' 228 228}}" alt="Terry Black's Barbecue"></li>
    </ul>
    <!--</LogoList>-->

    <a href="/restaurants"
       class="btn btn-large btn-primary">See over 100 more!</a>
    <div class="caterer-cta">
      <a href="/request-to-be-a-caterer">Are you a restaurant or caterer? Learn more!</a>
    </div>
  </div>
</section>
<!--</A few of our restaurants>-->
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/landing'], function( page ){
    page.init();
  });
</script>
{{/extend}}
