{{#extend "page"}}page-register{{/extend}}

{{#extend "head"}}
  {{> facebook_pixel config.facebook.pixel.register }}
{{/extend}}

{{#extend "body"}}
<!--<Navbar>-->
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default" data-icon="gb-icon-hamburger"></button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</header>
<!--</Navbar>-->

<div class="page-section-standalone">
  <div class="medium-container">
    <form id="register-form" class="register-form form-vertical" action="/join{{queryParams query}}" method="POST">
      <h2 class="page-title">Get your free account</h2>
      <p>Use Goodybag to simplify your office catering</p>
      <div class="errors">
        {{#if error}}
          <p class="error">
          {{#eq error.name 'EMAIL_TAKEN'}}
            This email has already been taken.
          {{else}}
            {{#if error.message}}
              {{error.message}}
            {{else}}
              Something went horribly wrong! I'm sorry, please try it again.
            {{/if}}
          {{/eq}}
          </p>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="register-email">Email</label>
        <input type="email" name="email" id="register-email">
      </div>

      <div class="form-group">
        <label for="register-password">Password</label>
        <input type="password" name="password" id="register-password">
      </div>

      <div class="form-group">
        <label for="register-confirm-password">Confirm password</label>
        <input type="password" name="password2" id="register-confirm-password">
      </div>

      <div class="form-group form-group-submit">
        <button class="btn btn-primary btn-submit btn-large">Start using Goodybag</button>
      </div>

      <p class="already-user">Already have an account? <a href="/login">Sign in</a></p>
    </form>
    <div class="cupcake-wrapper">
      <img src="{{cdn "/img/login-takeout.png"}}">
    </div>
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar', 'field-matcher'], function( $ ){
    $(function(){
      $('.navbar').navbar({ toggleText: false, toggleLogin: false });
      $('#register-form').fieldMatcher({
        fields: ['password', 'password2']
      , onError: function(){
          $('.errors').html('<p class="error">Passwords must match</p>');
        }
      });
      analytics.page('Registration')
    });
  });
</script>
{{/extend}}
