{{#extend "page"}}page-register{{/extend}}

{{#extend "body"}}
<div class="page-section-standalone">
  <div class="medium-container">
    <form id="register-form" class="register-form form-vertical" action="/join{{queryParams query}}" method="POST">
      <h2 class="page-title">Get your free account</h2>
      {{#if fromGuestOrder}}
      <p>To continue and submit your order</p>
      {{else}}
      <p>Use Goodybag to simplify your office catering</p>
      {{/if}}
      <div class="errors">
        {{#if error}}
          <p class="error">
          {{#eq error.name 'EMAIL_TAKEN'}}
            This email has already been taken.
          {{else}}
            {{#if error.message}}
              {{error.message}}
            {{else}}
              Something went horribly wrong! I'm sorry, please try it again.
            {{/if}}
          {{/eq}}
          </p>
        {{/if}}
      </div>
      {{> landing_register_form_fields}}

      <p class="already-user">Already have an account? <a href="/login">Sign in</a></p>
    </form>
    <div class="cupcake-wrapper">
      <img src="{{cdn "/img/login-takeout.png"}}">
    </div>
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'field-matcher'], function( $ ){
    $(function(){
      $('#register-form').fieldMatcher({
        fields: ['password', 'password2']
      , onError: function(){
          $('.errors').html('<p class="error">Passwords must match</p>');
        }
      });
      analytics.page('Registration')
    });
  });
</script>
{{/extend}}
