{{#extend "page"}}page-delivery-services{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin">Admin Panel</a>
    </li>
    <li>Delivery Services</a></li>
  </ul>

  <h1 class="page-title">Delivery Services</h1>
  <div class="page-actions">
    <a
      class="btn btn-primary"
      href="/admin/delivery-services/new">
      Create
    </a>
  </div>

  <section class="panel-component" id="delivery-services-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Region</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each delivery_services}}
        <tr>
          <td>{{this.id}}</td>
          <td>
            <a href="/admin/delivery-services/{{this.id}}">{{this.name}}</a>
          </td>
          <td>{{this.region.name}}</td>
          <td class="actions">
            <button class="btn btn-small btn-default btn-delete" data-id="{{this.id}}">X</button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </section>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  define(
    'page'
  , [ 'jquery-loaded', 'app/views/admin/readable-table', '{{collection.path}}' ]
  , function( $, Table, Collection ){
      var page = {
        init: function(){
          $(function(){
            page.table = new Table({ collection: new Collection() });
            page.table.setElement( $('#delivery-services-table > table') );
          });
        }
      };

      return page;
    }
  );

  require(['page'], function( page ){ page.init(); });
</script>
{{/extend}}
