<section class="page-section" id="section-navbar">
  <div class="container">
    <h2 class="component-title">Navbar</h2>
    <h3>With Links</h3>
  </div>
  <div class="demo-navbar">
    <header class="navbar collapsed">
      <div class="container">
        <a href="/">
          <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
        </a>

        <button class="navbar-toggle btn btn-default btn-small" data-icon="gb-icon-hamburger"></button>
        <ul class="nav">
          <li><a href="/join">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </header>
  </div>
  <div class="container">
    <code class="language-markup">
    {{~#raw~}}
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default btn-small" data-icon="gb-icon-hamburger"></button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</header>
    {{~/raw~}}
    </code>
  </div>

  <div class="container">
    <h3>With User Links</h3>
  </div>
  <div class="demo-navbar">
    <header class="navbar navbar-with-dropdowns collapsed">
      <div class="container">
        <a href="/">
          <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
        </a>

        <button class="navbar-toggle btn btn-default btn-small" data-icon="gb-icon-hamburger"></button>
        <div class="nav">
          <span class="popover-wrapper gb-dropdown same-width-modal">
            <button
              class="btn btn-default btn-dropdown"
              data-role="popover"
              data-target="dropdown-popover">
              My Orders
              <i class="gb-icon-caret-down"></i>
            </button>

            <div class="popover-modal dropdown-popover">
              <ul class="popover-body">
                <li class="popover-item">
                  <a href="#">Start New Order</a>
                </li>
                <li class="popover-item">
                  <a href="#">My Orders</a>
                </li>
              </ul>
            </div>
          </span>
          <span class="popover-wrapper gb-dropdown same-width-modal">
            <button
              class="btn btn-default btn-dropdown"
              data-role="popover"
              data-target="dropdown-popover">
              My Account
              <i class="gb-icon-caret-down"></i>
            </button>

            <div class="popover-modal dropdown-popover">
              <ul class="popover-body">
                <li class="popover-item">
                  <a href="#">Start New Order</a>
                </li>
                <li class="popover-item">
                  <a href="#">My Orders</a>
                </li>
              </ul>
            </div>
          </span>
        </div>
        <a href="/users/me/rewards" class="gb-points">500 points</a>
      </div>
    </header>
  </div>
  <div class="container">
    <code class="language-markup">
    {{~#raw~}}
<header class="navbar navbar-with-dropdowns collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default btn-small" data-icon="gb-icon-hamburger"></button>
    <div class="nav">
      <span class="popover-wrapper gb-dropdown same-width-modal">
        <button
          class="btn btn-default btn-dropdown"
          data-role="popover"
          data-target="dropdown-popover">
          My Orders
          <i class="gb-icon-caret-down"></i>
        </button>

        <div class="popover-modal dropdown-popover">
          <ul class="popover-body">
            <li class="popover-item">
              <a href="#">Start New Order</a>
            </li>
            <li class="popover-item">
              <a href="#">My Orders</a>
            </li>
          </ul>
        </div>
      </span>
      <span class="popover-wrapper gb-dropdown same-width-modal">
        <button
          class="btn btn-default btn-dropdown"
          data-role="popover"
          data-target="dropdown-popover">
          My Account
          <i class="gb-icon-caret-down"></i>
        </button>

        <div class="popover-modal dropdown-popover">
          <ul class="popover-body">
            <li class="popover-item">
              <a href="#">Start New Order</a>
            </li>
            <li class="popover-item">
              <a href="#">My Orders</a>
            </li>
          </ul>
        </div>
      </span>
    </div>
    <a href="/users/me/rewards" class="gb-points">500 points</a>
  </div>
</header>
    {{~/raw~}}
    </code>
  </div>

  <div class="container">
    <h3>With Login</h3>
  </div>
  <div class="demo-navbar">
    <header class="navbar collapsed">
      <div class="container">
        <a href="/">
          <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
        </a>

        <button class="navbar-toggle btn btn-default btn-small">Sign In</button>
        <form class="login-form form-small" method="POST" action="/login{{queryParams query}}">
          <div class="form-group">
            <label for="login-email">Email</label>
            <label for="remember-me" class="remember-me">
              <input type="checkbox" name="remember" value="1" id="remember-me" tabindex="3">
              Remember me
            </label>
            <input type="email" name="email" id="login-email" placeholder="Email" tabindex="1">
          </div>

          <div class="form-group">
            <a href="/forgot-password" class="forgot-password">Forgot password?</a>
            <label for="login-password">Password</label>
            <input type="password" name="password" id="login-password" placeholder="Password" tabindex="2">
          </div>

          <div class="form-group form-group-submit">
            <button class="btn btn-default" tabindex="4">Sign In</button>
          </div>
        </form>
      </div>
    </header>
  </div>
  <div class="container">
    <code class="language-markup">
    {{~#raw~}}
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default btn-small">Sign In</button>
    <form class="login-form form-small" method="POST" action="/login{{queryParams query}}">
      <div class="form-group">
        <label for="login-email">Email</label>
        <label for="remember-me" class="remember-me">
          <input type="checkbox" name="remember" value="1" id="remember-me" tabindex="3">
          Remember me
        </label>
        <input type="email" name="email" id="login-email" placeholder="Email" tabindex="1">
      </div>

      <div class="form-group">
        <a href="/forgot-password" class="forgot-password">Forgot password?</a>
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password" placeholder="Password" tabindex="2">
      </div>

      <div class="form-group form-group-submit">
        <button class="btn btn-default" tabindex="4">Sign In</button>
      </div>
    </form>
  </div>
</header>
    {{~/raw~}}
    </code>
  </div>
</section>
