<section class="page-section">
  <div class="container">
    <h2>Tile</h2>
    <p>Demo</p>
    <div class="tile">
      <div class="tile-cover" style="background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/42627/356137/LMC3pTqqJTQidcV/Vietnamese2_Spread.png');">
        <div class="tile-caption">
          <h1 class="tile-title">A-OK Chinese</h1>
          <div class="tile-rating">{{{ratingStars 3}}}</div>
        </div>
      </div>
      <div class="tile-info">
        <div>Wow such deal, </div>
        <div>very taste</div>
      </div>
    </div>

    <div class="tile">
      <div class="tile-cover" style="background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/42627/356137/dah9mc9lh8HgMhl/French1_Quiches.png');">
        <div class="tile-caption">
          <h1 class="tile-title">A-OK Chinese</h1>
          <div class="tile-rating">{{{ratingStars 3}}}</div>
        </div>
      </div>
      <div class="tile-info">
        <div>Wow such deal, </div>
        <div>very taste</div>
      </div>
    </div>

    <div class="tile">
      <div class="tile-cover" style="background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/42627/356137/yBYq2M3IZNtuAqo/Burgers3.png');">
        <div class="tile-caption">
          <h1 class="tile-title">A-OK Chinese</h1>
          <div class="tile-rating">{{{ratingStars 3}}}</div>
        </div>
      </div>
      <div class="tile-info">
        <div>Wow such deal, </div>
        <div>very taste</div>
      </div>
    </div>

    <div class="tile">
      <div class="tile-cover" style="background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/42627/356137/IBckepMWQIwXZkG/Mediterranean1.png');">
        <div class="tile-caption">
          <h1 class="tile-title">A-OK Chinese</h1>
          <div class="tile-rating">{{{ratingStars "3.5"}}}</div>
        </div>
      </div>
      <div class="tile-info">
        <div>Wow such deal, </div>
        <div>very taste</div>
      </div>
    </div>

    <p style="clear:both">Markup</p>
    <code class="language-markup">{{#raw}}<div class="tile">
  <div class="tile-cover" style="background-image: url('image/Mediterranean1.png');">
    <div class="tile-caption">
      <h1 class="tile-title">A-OK Chinese</h1>
      <div class="tile-rating">\{{{ratingStars 3}}}</div>
    </div>
  </div>
  <div class="tile-info">
    <div>Wow such deal, </div>
    <div>very taste</div>
  </div>
</div>{{/raw}}</code>
  </div>
</section>