<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="{{cdn (format 'dist/<%= version %>/css/order-manifest.css' pkg)}}">
    {{{block "css"}}}

    <script src="{{cdn "/components/jquery/jquery.js"}}"></script>

    {{{block "scripts"}}}
  </head>
  <body>
    {{{block "body"}}}
  </body>
</html>
