<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="{{cdn "/css/order-manifest.css"}}">
    {{{block "css"}}}

    <script src="{{cdn "/components/jquery/jquery.js"}}"></script>
    <script src="{{cdn "/js/pdf/utils.js"}}"></script>
    {{{block "scripts"}}}
  </head>
  <body>
    {{{block "body"}}}
  </body>
</html>