<div class="node-col node-col-x">
  <h3 class="node-title">{{xTitle}}</h3>
  <select size="{{size}}">
  {{#each x}}
    <option value="{{this}}">{{this}}</option>
  {{/each}}
</select>
</div>

<div class="node-col node-col-y">
  <h3 class="node-title">{{yTitle}}</h3>
  <select multiple="true" size="{{size}}">
  {{#each y}}
    <option value="{{this}}">{{this}}</option>
  {{/each}}
</select>
</div>