<div>
  <address>
    {{street}}<br>
    {{city}}<br>
    {{state}}<br>
    {{zip}}<br>
    {{#if is_default}}
      <p class="text-danger">This is your default address</p>
    {{/if}}
  </address>
  <div class="actions">
    <a href="addresses/{{id}}" class="btn btn-default">Edit</a>
    <button class="btn btn-default address-remove" data-id="{{id}}">Remove</button>
    {{#unless is_default}}
      <button class="btn btn-primary address-default">Make default address</button>
    {{/unless}}
  </div>
</div>