<address>
  {{#if address}}
    {{#if address.name}}
    <strong>{{address.name}}</strong><br>
    {{else}}
    <strong>{{../address_name}}</strong></br>
    {{/if}}
  {{else}}
  <strong>{{name}}</strong><br>
  {{/if}}
  {{street}}<br>
  {{#if street2}}
  {{street2}}<br>
  {{/if}}
  {{#if city}}{{city}}, {{/if}}{{#if state}}{{state}} {{/if}}{{zip}}<br>
  {{#if phone}}
  <span class="group">Phone: {{phoneNumber phone}}</span><br>
  {{/if}}
  {{#unless hideDeliveryInstructions}}
  {{#if delivery_instructions}}
  <span class="group">Delivery Instructions: {{delivery_instructions}}</span><br>
  {{/if}}
  {{/unless}}
</address>
