<td>
  <input class="js-toggle hide" type="text" name="name" value="{{name}}">
  <span class="js-toggle">{{name}}</span>
</td>
<td>
  <input class="js-toggle hide" type="text" name="description" value="{{description}}">
  <span class="js-toggle">{{description}}</span>
</td>
<td>
  <input 
    class="js-toggle hide" 
    type="number" 
    step="0.01" 
    name="price" 
    data-in="dollars"
    data-out="pennies"
    value="{{dollars price}}">
  <code class="js-toggle">${{dollars price}}</code>
</td>
<td>
  <a href="#" class="js-btn-save js-toggle hide">Save</a>
  <a href="#" class="js-btn-edit js-toggle">Edit</a>
  <a href="#" class="js-btn-delete">Remove</a>
</td>
