<td>
  <input class="js-name js-edit hide" type="text" name="name" value="{{name}}">
  <span class="js-name js-read">{{name}}</span>
</td>
<td>
  <input class="js-description js-edit hide" type="text" name="description" value="{{description}}">
  <span class="js-description js-read">{{description}}</span>
</td>
<td>
  <input class="js-price js-edit hide" type="number" step="0.01" name="price" value="{{dollars price}}">
  <code class="js-price js-read">${{dollars price}}</code>
</td>
<td>
  <a href="#" class="js-btn-save js-read hide">Save</a>
  <a href="#" class="js-btn-edit js-edit">Edit</a>
  <a href="#" class="js-btn-remove">Remove</a>
</td>
