<div>
  <label>Name</label>
  <input type="text" name="name" value="{{name}}"></input>
</div>
<div>
  <label>SMS Phone Numbers</label>
  <input type="text" name="sms_phones" value="{{phoneList sms_phones}}"></input>
</div>
<div>
  <label>Voice Phone Numbers</label>
  <input type="text" name="voice_phones" value="{{phoneList voice_phones}}"></input>
</div>
<div>
  <label>Emails</label>
  <input type="text" name="emails" value="{{emails}}"></input>
</div>
<div>
  <label>Notes</label>
  <input type="text" name="notes" value="{{notes}}"></input>
</div>
