<dl class="dl-horizontal">
{{#each delivery_times}}
  <dt>{{shortWeekday @key}}</dt>
  <dd class="delivery-day-times">
    {{#ifAllDay this.[0]}}
    <span class="delivery-time">All Day</span>
    {{else}}
    {{#unless this}}
    <span class="delivery-time">Closed</span>
    {{else}}
    {{#each this}}
    <span class="delivery-time">
      {{formatTime this.[0] 'h:mma'}} - {{formatTime this.[1] 'h:mma'}}
    </span>
    {{/each}}
    {{/unless}}
    {{/ifAllDay}}
  </dd>
{{/each}}
</dl>
