<div class="row">
  <div class="form-group col-sm-6">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control address-name" value="{{address.name}}" placeholder="Name of location">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="street">Address <small>(required)</small></label>
    <input
      type="text"
      name="address"
      class="form-control address"
      autocomplete="off"
      value="{{#if (isMinimumAddress address)}}{{address2 address}}{{/if}}">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="street2">Secondary (Suite number, etc.)</label>
    <input type="text" id="street2" name="street2" class="form-control address-street2" value="{{address.street2}}">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="phone">Phone <small>(required)</small></label>
    <input type="text" id="phone" name="phone" class="form-control address-phone" value="{{phoneNumber address.phone}}" placeholder="512 555 1234">
  </div>
</div>

<div class="row">
  <div class="form-group col-lg-8">
    <label for="delivery-instructions">Delivery Instructions</label>
    <textarea id="delivery-instructions" name="delivery_instructions" class="form-control address-delivery-instructions" placeholder="Notes such as gate codes or access instructions">{{address.delivery_instructions}}</textarea>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require(['jquery', 'gplaces'], function($, gplaces){
    $(function(){
      gplaces( $('[name="address"]')[0] );
    });
  });
</script>
{{/extend}}