{{#extend "css"}}
<link rel="stylesheet" href="/css/edit-card.css">
{{/extend}}

<input type="hidden" name="id" value="{{id}}">
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label">Card Title</label>
    <input value="{{title}}" type="text" name="payment_method_title" class="form-control credit-card-title">
</div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label">Card Number</label>
    <input type="text" name="card_number" class="form-control credit-card-title">
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-4">
    <label class="control-label">CVV Code</label>
    <input type="text" name="security_code" class="form-control credit-card-title">
  </div>
</div>

<div class="expiration-wrapper form-inline">
  <label class="control-label">Expiration Date</label>
  <div class="form-group">
    <select name="expiration_month" class="form-control">
      {{#reverseRange '12' '1'}}
        <option
          value="{{pad this 2}}"
          {{#if ../data}}
          {{#eq this ../../data.expiration_month}}selected="selected"{{/eq}}
          {{/if}}
        >{{pad this 2}}</option>
      {{/reverseRange}}
    </select>
  </div>
  <div class="form-group form-group-separator">/</div>
  <div class="form-group">
    <select name="expiration_year" class="form-control">
      {{#reverseRange '2020' '2000'}}
        <option
          value="{{this}}"
          {{#if ../data}}
          {{#eq this ../../data.expiration_year}}selected="selected"{{/eq}}
          {{/if}}
        >{{this}}</option>
      {{/reverseRange}}
    </select>
    {{!-- <input value="{{data.expiration_year}}" type="number" name="expiration_year" class="form-control"> --}}
  </div>
</div>
