{{#extend "css"}}
<link rel="stylesheet" href="/css/restaurant-form.css">
{{/extend}}

<fieldset>
  <legend>{{#if isNew}}New{{else}}Edit{{/if}} Restaurant</legend>
  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control restaurant-name" placeholder="Name of Restaurant" value="{{restaurant.name}}">
  </div>
  <div class="form-group checkbox">
    <label class="control-label">
      <input type="checkbox" class="restaurant-is-hidden"{{#if restaurant.is_hidden}} checked="checked"{{/if}}{{#if isNew}} checked="checked"{{/if}}>
      Is Hidden
    </label>
  </div>
  <div class="form-group">
    <label class="control-label">SMS Phone</label>
    <input type="text" class="form-control restaurant-sms-phone" value="{{phoneNumber restaurant.sms_phone}}" placeholder="(512) 555-1234">
    <span class="help-block">Ten digit phone number to use for sms order alerts.  Leave blank for no sms order alerts.</span>
  </div>
  <div class="form-group">
    <label class="control-label">Voice Phone</label>
    <input type="text" class="form-control restaurant-voice-phone" value="{{phoneNumber restaurant.voice_phone}}" placeholder="(512) 555-1234">
    <span class="help-block">Ten digit phone number to use for voice order alerts.  Leave blank for no phone order alerts.</span>
  </div>
  <div class="form-group">
    <label class="control-label">Email</label>
    <input type="email" class="form-control restaurant-email" value="{{restaurant.email}}" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label class="control-label">Price</label>
    <select class="form-control restaurant-price">
      <option value="1"{{#if selectedPrice.$}} selected="selected"{{/if}}>$</option>
      <option value="2"{{#if selectedPrice.$$}} selected="selected"{{/if}}>$$</option>
      <option value="3"{{#if selectedPrice.$$$}} selected="selected"{{/if}}>$$$</option>
      <option value="4"{{#if selectedPrice.$$$$}} selected="selected"{{/if}}>$$$$</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Cusisne</label>
    <input type="text" class="form-control restaurant-cuisine" value="{{array restaurant.cuisine}}" placeholder="Mexican, Korean, Amish">
    <span class="help-block">Please enter cuisine as a comma separated list of cuisine tags.</span>
  </div>
  <div class="form-group">
    <label class="control-label">Delivery Fee</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control restaurant-delivery-fee" value="{{dollars restaurant.delivery_fee}}" placeholder="5.00">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Minimum Order</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control restaurant-minimum-order" value="{{dollars restaurant.minimum_order}}" placeholder="200.00">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Delivery Zip Codes</label>
    <input type="text" class="form-control restaurant-delivery-zips" value="{{array restaurant.delivery_zips}}" placeholder="78701, 78704, 78756">
    <span class="help-block">List of zip codes restaurant will deliver to.  Please enter as a comma separated list.</span>
  </div>
  <fieldset>
    <legend>Delivery Hours</legend>
    {{#each restaurant.delivery_times}}
    <div id="hours-{{@key}}" class="form-group hours-day row">
      {{> hours_day}}
    </div>
    {{/each}}
  </fieldset>
  <fieldset>
    <legend>Lead Times</legend>
    <div class="lead-times-list">
      {{#each restaurant.lead_times}}
      {{> lead_time}}
      {{/each}}
    </div>
    <button type="button" class="btn btn-success add-lead-time">Add Restriction</buttton>
  </fieldset>
  <fieldset>
    <legend>Address</legend>
    <div class="form-group">
      <label class="control-label">Street</label>
      <input type="text" class="form-control restaurant-address restaurant-street" value="{{restaurant.street}}" placeholder="123 Fake St.">
    </div>
    <div class="form-group">
      <label class="control-label">City</label>
      <input type="text" class="form-control restaurant-address restaurant-city" value="{{restaurant.city}}" placeholder="Austin">
    </div>
    <div class="form-group">
      <label class="control-label">State</label>
      <select class="form-control restaurant-address restaurant-state">
        {{#each states}}
        <option value="{{this.abbr}}" label="{{this.abbr}}"{{#if this.default}} selected="selected"{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label class="control-label">Zip</label>
      <input type="text" maxlength="5" class="form-control restaurant-address restaurant-zip" value="{{restaurant.zip}}" placeholder="78701">
    </div>
  </fieldset>
  <div class="col-lg-1 col-lg-offset-10">
    <button type="button" class="btn btn-danger restaurant-remove pull-right">Remove</button>
  </div>
  <div class="col-lg-1">
    <button type="submit" class="btn btn-success restaurant-save pull-right{{#unless isNew}} hide{{/unless}}">Save</button>
  </div>
</fieldset>

{{#extend "scripts"}}
<script>
  var partials = { edit_hours: 'edit-hours.hbs', hours_day: 'hours-day.hbs', lead_time: 'lead-time.hbs'};
  for (var name in partials) {
    $.ajax({
      type: 'GET',
      url: '/partials/' + partials[name],
      success: function(data, textStatus, jqXHR) {
        Handlebars.registerPartial(name, Handlebars.compile(data));
      },
      dataType: 'html',
      async: false
    });
  }
</script>

<script src="/js/models/hours.js"></script>
<script src="/js/views/edit-hours-view.js"></script>
<script>
  var hours = [
  {{#each restaurant.delivery_times}}
  new EditHoursView({model: new Hours({day: {{@key}}, times: {{{json this}}} }), el: '#hours-{{@key}}'}),
  {{/each}}
 ];
</script>
{{/extend}}
