{{! Hack to get TR's grouped in one element }}
<tbody class="option-set-tr-group">
  <tr data-id="{{this.id}}" class="options-set-option">
    <td class="column-default">
      <label>
        <input type="checkbox" class="options-set-option-default"{{#if this.default_state}} checked{{/if}}>
      </label>
    </td>
    <td class="column-name">
      <input type="text" class="options-set-option-name form-control" placeholder="Option Name" value="{{this.name}}">
    </td>
    <td class="column-price">
      <div class="input-group">
        <span class="input-addon">$</span>
        <input type="text" class="options-set-option-price form-control" placeholder="Option Price" value="{{dollars this.price}}">
      </div>
    </td>
    <td class="column-actions">
      <button class="btn-expand-option-set-option btn btn-default btn-sm collapsed">
        <span class="icon-collapse">▾</span>
      </button>
      <button class="btn-delete-option-set-option btn btn-primary btn-sm">
        <span class="icon-remove">✖</span>
      </button>
    </td>
  </tr>
  <tr data-id="{{this.id}}" class="option-expanded collapsed">
    <td colspan="4">
      <div class="option-expanded-inner row">
        <div class="form-group">
          <label>Option Description</label>
          <textarea name="description" class="form-control" placeholder="Option description">{{this.description}}</textarea>
        </div>
        <div class="form-group">
          <label>Dietary Tags</label>
          <div class="options-set-tags">
            {{> edit_tags this.tags }}
          </div>
        </div>
      </div>
    </td>
  </tr>
</tbody>