<div class="row open-period">
  <div class="col-time">
    <input type="text" class="time open-time"
      {{#if this}} value="{{formatTime this.[0] 'hh:mm A'}}"
      {{else}} disabled="disabled"{{/if}}
      {{#ifAllDay this}} disabled="disabled"{{/ifAllDay}}>
  </div>
  <div class="col-separator">-</div>
  <div class="col-time">
    <input type="text" class="time close-time"
      {{#if this}} value="{{formatTime this.[1] 'hh:mm A'}}"
      {{else}} disabled="disabled"{{/if}}
      {{#ifAllDay this}} disabled="disabled"{{/ifAllDay}}>
  </div>
  {{#unless @index}}
  <div class="col-checkbox">
    <label>
      <input type="checkbox" class="hours-checkbox all-day"
      {{#ifAllDay this}} checked="checked"{{/ifAllDay}}> 24 Hours
    </label>
  </div>
  <div class="col-checkbox">
    <label>
    <input type="checkbox" class="hours-checkbox closed"
      {{#unless this}} checked="checked"{{/unless}}> Closed
    </label>
  </div>
  {{else}}
    <button type="button" class="btn btn-default remove-period">Remove</button>
  {{/unless}}
</div>