{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/restaurant-form.css"}}">
{{/extend}}

<p>
  <a href="/restaurants/{{restaurant.id}}">Back to menu</a>
</p>
<fieldset>
  <legend>{{#if isNew}}New{{else}}Edit{{/if}} Restaurant</legend>
  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control restaurant-name" placeholder="Name of Restaurant" value="{{restaurant.name}}">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Logo</label>
        <input type="filepicker" class="form-control" name="logo_url" value="{{restaurant.logo_url}}">
        <img class="restaurant-logo-img" data-name="logo_url"
          src="{{#if restaurant.logo_url}}{{restaurant.logo_url}}{{else}}{{config.defaultLogo}}{{/if}}">
      </div>
      <div class="col-md-3">
        <label class="control-label">Monochromatic Logo</label>
        <input type="filepicker" class="form-control" name="logo_mono_url" value="{{restaurant.logo_mono_url}}">
        <img class="restaurant-logo-img" data-name="logo_mono_url"
          src="{{#if restaurant.logo_mono_url}}{{restaurant.logo_mono_url}}{{else}}{{config.defaultMonoLogo}}{{/if}}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Yelp Page URL</label>
    <input class="form-control" name="yelp_business_id" type="text" placeholder="ex: http://www.yelp.com/biz/billys-on-burnet-austin" {{#if restaurant.yelp_business_id}}value="{{config.yelp.businessBaseUrl}}/{{restaurant.yelp_business_id}}"{{/if}}>
  </div>
  <div class="form-group checkbox">
    <label class="control-label">
      <input type="checkbox" class="restaurant-is-hidden"{{#if restaurant.is_hidden}} checked="checked"{{/if}}{{#if isNew}} checked="checked"{{/if}}>
      Is Hidden
    </label>
  </div>
  <div class="form-group">
    <label class="control-label">Display Phone</label>
    <input type="text" class="form-control restaurant-display-phone" value="{{#if restaurant.display_phone}}{{phoneNumber restaurant.display_phone}}{{/if}}" placeholder="(512) 555-1234">
    <span class="help-block">This phone number will be displayed on the menu page's info tab.</span>
  </div>
  <div class="form-group">
    <label class="control-label">Websites</label>
    <input type="text" class="form-control restaurant-websites" value="{{#if restaurant.websites}}{{array restaurant.websites}}{{/if}}" placeholder="www.goodybag.com, www.shop.goodybag.com">
    <span class="help-block">Please enter websites separated by commas. These will be listed on the restaurant info tab.
    </span>
  </div>
  <div class="form-group">
    <label class="control-label">Description (Elevator pitch)</label>
    <input type="text" class="form-control restaurant-description" value="{{restaurant.description}}" placeholder="Indian Mexican fusion. Voted best new food trailer 2013 and featured on Austin Daily Herald and Austin Chronicle.">
    <span class="help-block">Please enter a brief description (1-2 sentences) about the restaurant. This will be displayed under the restaurant's name on the menu pages.
    </span>
  </div>
  <div class="form-group">
    <label class="control-label">Price</label>
    <select class="form-control restaurant-price">
      <option value="1"{{#if selectedPrice.$}} selected="selected"{{/if}}>$</option>
      <option value="2"{{#if selectedPrice.$$}} selected="selected"{{/if}}>$$</option>
      <option value="3"{{#if selectedPrice.$$$}} selected="selected"{{/if}}>$$$</option>
      <option value="4"{{#if selectedPrice.$$$$}} selected="selected"{{/if}}>$$$$</option>
    </select>
  </div>
  <div class="form-group">
    <span class="help-block">Please enter cuisine as a comma separated list of cuisine tags.</span>
    <label class="control-label">Cuisine</label>
    <input type="text" class="form-control restaurant-cuisine" value="{{array restaurant.cuisine}}" placeholder="Mexican, Korean, Amish">
  </div>
  <div class="form-group">
    <label class="control-label">Minimum Order</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control restaurant-minimum-order" value="{{dollars restaurant.minimum_order}}" placeholder="200.00">
    </div>
  </div>
  <div class="form-group zip-groups">
    <label class="control-label">Delivery Zip Codes</label>
    {{#each restaurant.delivery_zip_groups}}
      <div class="zip-group">
        <input type="number" name="fee" class="form-control restaurant-delivery-zip-fee" value="{{dollars this.fee}}">
        <input type="text" name="zips" class="form-control restaurant-delivery-zips" value="{{array this.zips}}" placeholder="78701, 78704, 78756">
        <span class="help-block">List of zip codes restaurant will deliver to.  Please enter as a comma separated list.</span>
        <div class="remove">X</div>
      </div>
    {{/each}}
    <div class="zip-group">
      <input type="number" name="fee" class="form-control restaurant-delivery-zip-fee" value="">
      <input type="text" name="zips" class="form-control restaurant-delivery-zips" value="{{array this.zips}}" placeholder="78701, 78704, 78756">
      <span class="help-block">List of zip codes restaurant will deliver to.  Please enter as a comma separated list.</span>
      <div class="remove">X</div>
    </div>
  </div>
  <fieldset>
    <legend>Restaurant Tags</legend>
    <div class="col-lg-2">
      <label class="control-label">Special Diets</label>
      <div class="restaurant-tags">
      {{> edit_tags restaurant.tags }}
      </div>
    </div>
    <div class="col-lg-2">
      <label class="control-label">Meal Types</label>
      <div class="restaurant-meal-types">
        {{> edit_meal_types }}
      </div>
    </div>
    <div class="col-lg-2">
      <label class="control-label">Meal Styles</label>
      <div class="restaurant-meal-styles">
        {{> edit_meal_styles }}
      </div>
    </div>
    <div class="clearfix"></div>
  </fieldset>
  <fieldset>
    <legend>Delivery Hours</legend>
    {{#each restaurant.delivery_times}}
    <div id="hours-{{@key}}" class="form-group hours-day row">
      {{> hours_day}}
    </div>
    {{/each}}
  </fieldset>
  <fieldset>
    <legend>Lead Times</legend>
    <div class="lead-times-list">
      {{#each restaurant.lead_times}}
      {{> lead_time}}
      {{/each}}
    </div>
    <button type="button" class="btn btn-success add-lead-time">Add Restriction</buttton>
  </fieldset>
  <fieldset>
    <legend>Address</legend>
    <div class="form-group">
      <label class="control-label">Street</label>
      <input type="text" class="form-control restaurant-address restaurant-street" value="{{restaurant.street}}" placeholder="123 Fake St.">
    </div>
    <div class="form-group">
      <label class="control-label">City</label>
      <input type="text" class="form-control restaurant-address restaurant-city" value="{{restaurant.city}}" placeholder="Austin">
    </div>
    <div class="form-group">
      <label class="control-label">State</label>
      <select class="form-control restaurant-address restaurant-state">
        {{#each states}}
        <option value="{{this.abbr}}" label="{{this.abbr}}"{{#if this.default}} selected="selected"{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label class="control-label">Zip</label>
      <input type="text" maxlength="5" class="form-control restaurant-address restaurant-zip" value="{{restaurant.zip}}" placeholder="78701">
    </div>
  </fieldset>
  <fieldset>
    <legend>Billing and Stuff</legend>
    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="text" name="billing_email" class="form-control" value="{{restaurant.billing_email}}" placeholder="bob@bob.com">
    </div>
    <div class="form-group">
      <label class="control-label">Street</label>
      <input type="text" name="billing_street" class="form-control" value="{{restaurant.billing_street}}" placeholder="123 Fake St.">
    </div>
    <div class="form-group">
      <label class="control-label">Street 2</label>
      <input type="text" name="billing_street2" class="form-control" value="{{restaurant.billing_street2}}" placeholder="123 Fake St.">
    </div>
    <div class="form-group">
      <label class="control-label">City</label>
      <input type="text" name="billing_city" class="form-control" value="{{restaurant.billing_city}}" placeholder="Austin">
    </div>
    <div class="form-group">
      <label class="control-label">State</label>
      <select name="billing_state" class="form-control">
        {{#each states}}
        <option value="{{this.abbr}}" label="{{this.abbr}}"{{#eq this.abbr ../restaurant.billing_state}} selected="selected"{{/eq}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label class="control-label">Zip</label>
      <input type="text" name="billing_zip" maxlength="5" class="form-control" value="{{restaurant.billing_zip}}" placeholder="78701">
    </div>
    <div class="form-group">
      <label class="control-label">Flat Rate (0 for tiered rate)</label>
      <input type="text" name="gb_fee" value="{{factorToPercent restaurant.gb_fee}}" placeholder="12.75">
    </div>
    <div class="form-group">
      <label class="control-label">Does this business use <em>Direct Deposit</em>?</label>
      <input type="checkbox" name="is_direct_deposit"{{#if restaurant.is_direct_deposit}} checked{{/if}}>
    </div>
    <div class="form-group">
      <label class="control-label">Is GB fee calculated on the order <em>Grand Total</em>? (As opposed to the subtotal + delivery fee)</label>
      <input type="checkbox" name="is_fee_on_total"{{#if restaurant.is_fee_on_total}} checked{{/if}}>
    </div>
  </fieldset>
  <div class="col-lg-10 status-text">
    <span class="state-default">No changes made :)</span>
    <span class="state-pending hide">You have changes to be saved</span>
    <span class="state-loading hide">Working...</span>
    <span class="state-saved hide">Changes saved!</span>
    <span class="state-error hide"></span>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-danger restaurant-remove pull-right">Remove</button>
  </div>
  <div class="col-lg-1">
    <button type="submit" class="btn btn-success restaurant-save pull-right{{#unless isNew}} hide{{/unless}}">Save</button>
  </div>
</fieldset>
