<div class="row">
  <div class="form-group col-sm-6">
    <label for="name">Name</label>
    <input type="text" name="address_name" class="form-control address-name" value="{{address.name}}" placeholder="Name of location">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="street">Street 1 <small>(required)</small></label>
    <input type="text" id="street" name="street" class="form-control address-street" value="{{address.street}}">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="street2">Street 2</label>
    <input type="text" id="street2" name="street2" class="form-control address-street2" value="{{address.street2}}">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="city">City <small>(required)</small></label>
    <input type="text" id="city" name="city" class="form-control address-city" value="{{address.city}}">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="state">State <small>(required)</small></label>
    <select class="form-control address-state" name="state">
      {{! Show address.state otherwise default }}
      {{#each states}}
        <option value="{{this.abbr}}" label="{{this.abbr}}"
        {{#if ../address.state }}
          {{#eq this.abbr ../../address.state}} selected="selected"{{/eq}}
        {{else}}
        {{#eq (or ../../address.user.region.state ../../user.region.state ) this.abbr}}
          selected="selected"
        {{else}}
          {{#if this.default}} selected="selected"{{/if}}
        {{/eq}}
        {{/if}}>
        {{this.name}}
        </option>
      {{/each}}
    </select>
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="zip">Zip <small>(required)</small></label>
    <input type="text" id="zip" name="zip" class="form-control address-zip" value="{{address.zip}}" placeholder="Zipcode">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label for="phone">Phone <small>(required)</small></label>
    <input type="tel" id="phone" name="phone" class="form-control address-phone" value="{{phoneNumber address.phone}}" placeholder="512 555 1234">
  </div>
</div>

{{#if address.hasSecondaryPhone}}
<div class="row">
  <div class="form-group col-sm-6">
    <label for="secondary-phone">Secondary Phone</label>
    <input type="tel" name="secondary_contact_phone" class="form-control secondary-contact-phone" value="{{phoneNumber address.secondary_contact_phone}}" placeholder="512 555 1234">
  </div>
</div>
{{/if}}

{{#unless hideInstructions}}
<div class="row">
  <div class="form-group col-lg-8">
    <label for="delivery-instructions">Delivery Instructions</label>
    <textarea id="delivery-instructions" name="delivery_instructions" class="form-control address-delivery-instructions" placeholder="Notes such as gate codes or access instructions">{{address.delivery_instructions}}</textarea>
  </div>
</div>
{{/unless}}
