{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/edit-card.css"}}">
{{/extend}}

<input type="hidden" name="id" value="{{id}}">
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label">Card Title (Optional) e.g. My Company Card</label>
    <input value="{{name}}" type="text" data-stripe="name" class="form-control credit-card-name" placeholder="My Company Card">
</div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label">Card Number</label>
    <input type="text" data-stripe="number" data-stripe-alert="error-adding-card" class="form-control credit-card-number">
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label">Security Code</label>
    <input type="text" data-stripe="cvc" class="form-control credit-card-security">
  </div>
</div>
<div class="row hide">
  <div class="form-group col-sm-6">
    <label class="control-label">Billing Zip</label>
    <input type="text" name="postal_code" class="form-control credit-card-zip">
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="expiration-wrapper form-group form-inline">
      <input type="hidden" name="expiration">
      <label class="control-label">Expiration Date</label>
      <div class="form-group">
        <select data-stripe="exp-month" data-stripe-alert="exp-month" class="form-control">
          {{#range2 '1' '12'}}
            <option
              value="{{pad this 2}}"
              {{#if ../data}}
              {{#eq this ../../data.expiration_month}}selected="selected"{{/eq}}
              {{/if}}
            >{{pad this 2}}</option>
          {{/range2}}
        </select>
      </div>
      <div class="form-group form-group-separator">/</div>
      <div class="form-group">
        <select data-stripe="exp-year" class="form-control">
          {{#range2 (getCurrentYear) (add (getCurrentYear) 20)}}
            <option
              value="{{this}}"
              {{#if ../data}}
              {{#eq this ../../data.expiration_year}}selected="selected"{{/eq}}
              {{/if}}
            >{{this}}</option>
          {{/range2}}
        </select>
      </div>
    </div>
  </div>
</div>
