<h2>Category</h2>
<div class="row">
  <div class="col-details">
    <div class="row">
      <div class="col-4">
        <div class="row row-category-details">
          <div class="col-1">
            <div class="form-group">
              <label class="control-label">Order</label>
              <input type="number" value="{{order}}" class="form-control category-order">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" value="{{name}}" class="form-control category-name">
            </div>
          </div>
        </div>
        <div class="row row-actions">
          <button class="btn btn-default category-copy">Copy</button>
          <button class="btn btn-primary category-remove">Remove</button>
          <button type="submit" class="btn btn-tertiary category-save">Save</button>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label class="control-label">Description</label>
          <input type="text" value="{{description}}" class="form-control category-description">
        </div>
      </div>

    </div>

  </div>{{!-- end cateogriy left col --}}
  <div class="col-checkboxes">
    <div class="form-group">
      <label class="control-label">Type</label>
      <div class="row">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="categoryMenus" class="category-menus" value="group" {{#contains this.menus "group"}}checked{{/contains}}>
            Group
          </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="categoryMenus" class="category-menus" value="individual" {{#contains this.menus "individual"}}checked{{/contains}}>
            Individual
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Items</h2>
{{#each items}}
<div class="row">
  <div class="col-details">
    <div class="row row-details">
      <div class="col-order">
        <label>Order<input type="text" value="{{order}}"></label>
      </div>
      <div class="col-name">
        <label>Name<input type="text" value="{{name}}"></label>
      </div>
      <div class="col-price">
        <label>Price<input type="text" value="{{price}}"></label>
      </div>
      <div class="col-feeds-min">
        <label>Feeds Min<input type="text" value="{{feeds_min}}"></label>
      </div>
      <div class="col-feeds-max">
        <label>Feeds Max<input type="text" value="{{feeds_max}}"></label>
      </div>
    </div>
    <div class="row row-description">
      <label>Description</label>
      <textarea rows="3">{{description}}</textarea>
    </div>
    <div class="row row-actions">
      <label>
        <input type="checkbox" name="hidden"> Hidden
      </label>
      <a href="#">+ Expand Options</a>
      <button class="btn btn-default">Copy</button>
      <button class="btn btn-primary">Remove</button>
      <button class="btn btn-tertiary">Save</button>
    </div>
  </div>{{!-- end col details --}}

  <div class="col-checkboxes">
    <label>Tags</label>
    {{> edit_tags this.tags }}
  </div>{{!-- end col tags --}}
</div>
{{/each}}
