<div id="edit-item-{{id}}" class="row">
  <h2><strong>Item</strong></h2>
  <div class="col-details">
    <div class="row row-details">
      <div class="col-order">
        <label>Order<input class="item-order form-control" type="text" value="{{order}}"></label>
      </div>
      <div class="col-name">
        <label>Name<input class="item-name form-control" type="text" value="{{name}}"></label>
      </div>
      <div class="col-price">
        <label>Price<input class="item-price form-control" type="text" value="{{dollars price}}"></label>
      </div>
      <div class="col-feeds-min">
        <label>Feeds Min<input class="item-feeds-min form-control" type="number" step="1.0" min="1" value="{{feeds_min}}"></label>
      </div>
      <div class="col-feeds-max">
        <label>Feeds Max<input class="item-feeds-max form-control" type="number" step="1.0" min="1" value="{{feeds_max}}"></label>
      </div>
      <div class="col-min-qty">
        <label>Min. Qty<input class="item-min-qty form-control" type="number" step="1.0" min="0" value="{{min_qty}}"></label>
      </div>
    </div>

    <div class="row row-photo">
      <label>Photo</label>
      {{#if photo_url}}
      <div class="col-3">
        <img class="img-item-photo" src="{{photo_url}}">
      </div>
      {{/if}}
      <div class="col-4">
        <input type="text" class="item-photo" name="photo_url" value="{{photo_url}}" placeholder="photo url">
      </div>
      <div class="col-4">
         <button class="form-control btn btn-default item-add-photo">Pick File</button>
      </div>
    </div>

    <div class="row row-description">
      <div class="col-description">
        <label>Description</label>
        <textarea class="item-description form-control" rows="3">{{description}}</textarea>
      </div>
    </div>
    <div class="row row-hide">
      <div class="col-hide">
        <label>
          Hide Item<input class="item-hide form-control" type="checkbox" {{#if is_hidden}}checked="checked"{{/if}}>
        </label>
        <label>
          Hide Pricing (Click for pricing) <input class="item-hide-pricing form-control" type="checkbox" {{#if hide_pricing}}checked="checked"{{/if}}>
        </label>
      </div>
    </div>
    <div class="row row-actions">
      <a href="#" class="item-edit-options">+ Edit Options</a>
      <button class="btn btn-default item-copy">Copy</button>
      <button class="btn btn-primary item-remove">Remove</button>
      <button class="btn btn-save item-save">Save</button>
    </div>
  </div>{{!-- end col details --}}

  <div class="col-checkboxes edit-item-tags">
    <label>Tags</label>
    {{> edit_tags this.tags }}
  </div>{{!-- end col tags --}}
</div>
