{{#each options_sets}}
  <fieldset class="item-options-fieldset" data-options-set-id="{{this.id}}">
    <legend>
      {{this.name}}
      <span class="min-max-restrictions">
        {{#if this.selected_min}}
          Minimum: {{this.selected_min}}
        {{/if}}
        {{#if this.selected_max}}
          Maximum: {{this.selected_max}}
        {{/if}}
      </span>
    </legend>
    {{#each this.options}}
      <div class="{{#eq ../type 'radio'}}radio{{else}}checkbox{{/eq}}">
        <label>
          {{#eq ../type 'radio'}}
          <input
            {{#if ../state}}checked{{/if}}
            {{#if ../default_state}}checked{{/if}}
            type="radio" id="item-option-{{../id}}"
            name="{{../../id}}" value="{{../id}}"
          >
          {{else}}
          <input
            {{#if ../state}}checked{{/if}}
            {{#if ../default_state}}checked{{/if}}
            type="checkbox" id="item-option-{{../id}}"
            name="{{../../id}}" value="{{../id}}"
          >
          {{/eq}}

          {{this.name}}

          {{#if this.price}}
          <span class="option-price">(+{{dollars this.price}})</span>
          {{/if}}
          {{> tags this.tags }}
          {{#if description}}<p class="option-description">{{description}}</p>{{/if}}
        </label>
      </div>
    {{/each}}
  </fieldset>
{{/each}}
