<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <h4 class="modal-title col-sm-8">{{item.name}}</h4>
        <div class="col-sm-4 item-legend-wrapper">
          <dl class="item-legend">
            <dt>Feeds</dt>
            <dd class="item-legend-detail-feeds">{{range item.feeds_min item.feeds_max}}</dd>
            <dt>Price</dt>
            <dd class="item-legend-detail-price">{{dollars item.price}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <form class="modal-item-form">
    <div class="modal-body">
      <div class="errors">
        <div class="alert alert-danger alert-generic hide"></div>
      </div>
      <p class="item-description">{{item.description}}</p>
      <div class="item-options">
        {{> item_options item config=config}}
      </div>
      <div class="form-group form-group-item-notes">
        <label for="item-notes">Comments or Instructions</label>
        <textarea name="notes" id="item-notes" rows="3" class="form-control"{{#unless editable}} disabled="true"{{/unless}}>{{item.notes}}</textarea>
      </div>
      <div class="form-group form-group-item-recipient">
        <label for="item-recipient">Who is this item for? (optional)</label>
        <input type="text" name="recipient" value="{{item.recipient}}" id="item-recipient" rows="3" class="form-control"{{#unless editable}} disabled="true"{{/unless}} />
      </div>
    </div>
    <div class="modal-footer">
      <div class="row modal-footer-actions">
        <div class="col-xs-6 modal-footer-left-actions btn-toolbar">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          {{#if order.editable}}
          <button type="button" class="btn btn-default btn-item-remove{{#unless inOrder}} hide{{/unless}}">Remove from Order</button>
          {{/if}}
        </div>
        <div class="col-xs-6 modal-footer-right-actions form-inline">
            <div class="form-group">
              <label class="control-label" for="item-modal-quantity">Quantity {{#if item.min_qty}}(min. {{item.min_qty}}){{/if}}</label>
            </div>
            <div class="form-group">
              <input type="number" class="form-control item-quantity" id="item-modal-quantity" maxlength="4" min="0" value="{{#if item.quantity}}{{item.quantity}}{{else}}1{{/if}}"{{#unless editable}} disabled="true"{{/unless}} />
            </div>
            {{#if editable}}
            <div class="form-group">
              <button type="submit" class="btn btn-primary item-modal-submit">
                {{#if inOrder}}
                  Update Item
                {{else}}
                  Add to order
                {{/if}}
              </button>
            </div>
            {{/if}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
