<ul class="list-group list-group-item-options">
  {{#if this.name}}
    <h3 class="list-group-heading">{{this.name}}</h3>
  {{/if}}

  {{#each this.choices}}
    <li class="list-group-item">
      <span class="option-price">${{dollars this.price}}</span>
      {{#eq ../type 'or'}}
      <input
        {{#if this.selected}}checked{{/if}}
        type="radio" id="item-option-{{this.name}}"
        class="form-control"
        name="{{../../name}}"
      >
      {{else}}
      <input
        {{#if this.selected}}checked{{/if}}
        type="checkbox" id="item-option-{{this.name}}"
        class="form-control"
        name="{{../../name}}"
      >
      {{/eq}}
      <label for="item-option-{{this.name}}">{{this.name}}</label>
    </li>
  {{/each}}
</ul>