<table class="matrix-table">
  <thead>
    <tr>
      <th></th>
      {{#each set}}
        <th>
          <span class="val">{{this}}</span>
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each set}}
      <tr data-index="{{@index}}">
        <td>{{this}}</td>
        {{#each ../set}}
          <td
            class="{{#isNull (ref (ref ../../values ../this) this)}}empty{{/isNull}}"
            contenteditable="true"
            {{#if ../../options.dataIn}}
            data-in="{{../../../options.dataIn}}"
            {{/if}}
            {{#if ../../options.dataOut}}
            data-out="{{../../../options.dataOut}}"
            {{/if}}
            data-x="{{../this}}"
            data-y="{{this}}">
            {{#isNull (ref (ref ../../values ../this) this)}}
              x
            {{else}}
              {{dollars (ref (ref ../../../values ../../this) ../this)}}
            {{/isNull}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if options.legend}}
<legend class="matrix-legend">
  {{#each options.legend}}
    <div class="legend-item" data-axis="{{this.axis}}">{{this.label}}</div>
  {{/each}}
</legend>
{{/if}}