<div class="panel menu-picker">
  <div class="panel-heading">
    Menus
    {{#with restaurant.menuLengths}}
    <ul class="nav nav-tabs menu-picker-tabs">
      <li class="active">
        <a href="#full" class="btn-change-menu" data-toggle="tab" data-type="full" title="Show all menu items">Full Menu ({{#if full}}{{full}}{{else}}0{{/if}})</a>
      </li>
      <li>
        <a href="#group" class="btn-change-menu {{#unless group}}disabled{{/unless}}" data-toggle="tab" data-type="group" title="Show group packaged items">Group Menu ({{#if group}}{{group}}{{else}}0{{/if}})</a>
      </li>
      <li>
        <a href="#individual" class="btn-change-menu" data-toggle="tab" data-type="individual" title="Show individually packaged items">Individual Menu ({{#if individual}}{{individual}}{{else}}0{{/if}})</a>
      </li>
    </ul>
    {{/with}}
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="full">
        {{! list all categories }}
        {{#each restaurant.categories}}
        {{#unless is_hidden}}
        {{#contains menus "group"}}
        <div class="menu-picker-category"><a href="#group-{{id}}">[Group] {{name}}</a></div>
        {{/contains}}
        {{/unless}}
        {{/each}}

        {{#each restaurant.categories}}
        {{#unless is_hidden}}
        {{#contains menus "individual"}}
        <div class="menu-picker-category"><a href="#individual-{{id}}">[Individual] {{name}}</a></div>
        {{/contains}}
        {{/unless}}
        {{/each}}
      </div>

      <div class="tab-pane" id="group">
        {{! list group style categories }}
        {{#each restaurant.categories}}
        {{#unless is_hidden}}
        {{#contains menus "group"}}
        <div class="menu-picker-category"><a href="#group-{{id}}">[Group] {{name}}</a></div>
        {{/contains}}
        {{/unless}}
        {{/each}}
        {{#unless restaurant.menuLengths.group}}
        <div class="menu-missing">This restaurant does not have group serving options.</div>
        {{/unless}}
      </div>

      <div class="tab-pane" id="individual">
        {{! list individual style categories }}
        {{#each restaurant.categories}}
        {{#unless is_hidden}}
        {{#contains menus "individual"}}
        <div class="menu-picker-category"><a href="#individual-{{id}}">[Individual] {{name}}</a></div>
        {{/contains}}
        {{/unless}}
        {{/each}}
        {{#unless restaurant.menuLengths.individual}}
        <div class="menu-missing">This restaurant does not have individual serving options.</div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
