<div class="menu-order-params">
  <div class="panel-title">Your order is for:</div>
  {{#with order}}
  <dl>
    <dt>Zip:</dt>
    <dd>{{#if zip}}{{zip}}{{else}}--{{/if}}</dd>
    <dt>Date:</dt>
    <dd>{{#if datetime}}{{datepart datetime}}{{else}}--{{/if}}</dd>
    <dt>Time:</dt>
    <dd>{{#if datetime}}{{join (timeToRange (timepart datetime) "h:mm A") " - "}}{{else}}--{{/if}}</dd>
    <dt>Guests:</dt>
    <dd>{{#if guests}}{{guests}}{{else}}--{{/if}}
      {{!-- hide the change button from shared view --}}
      <a class="btn-change-order-params pull-right {{#if ../edit_token}}hide{{/if}}" href="#">Change</a>
    </dd>
  </dl>
  {{/with}}
</div>
