<div class="panel panel-no-padding photo-gallery">
{{!-- {{{dump photos}}} --}}
  <section class="selected-photo">
    <button class="pager previous">&lt;</button>
    <div class="photo-container">
      {{#with photos.[0]}}
      <img class="photo-img" src="{{{filepicker url}}}">
      {{#if name}}<p class="photo-name">{{name}}</p>{{/if}}
      {{#if description}}<p class="photo-description">{{description}}</p>{{/if}}
      {{/with}}
    </div>
    <button class="pager next">&gt;</button>
  </section>

  <section class="photo-thumbnails">
    <button class="pager previous">&lt;</button>
    {{#each photos}}<img width="50" height="50" src="{{filepicker url 50 50}}" data-photo-idx="{{@index}}" class="photo-thumbnail">{{/each}}
    <button class="pager next">&gt;</button>
  </section>
</div>