<ul class="nav nav-tabs menu-info-tabs">
  <li class="active"><a href="#menu" data-toggle="tab">Menu</a></li>
  <li><a class="info-tab" href="#info" data-toggle="tab">Info</a></li>
  {{#if restaurant.yelp_data}}
  {{#if restaurant.yelp_data.review_count}}
  <li>
    {{#if restaurant.yelp_data.reviews}}
    <a href="#reviews" data-toggle="tab">
    {{else}}
    <a href="{{../restaurant.yelp_data.url}}" target="_blank">
    {{/if}}
      Reviews
      {{#if restaurant.yelp_data.review_count}}({{restaurant.yelp_data.review_count}}){{/if}}
    </a>
  </li>
  {{/if}}
  {{/if}}
  {{#contains user.groups "admin"}}
    <li><a href="/admin/restaurants/{{restaurant.id}}">Edit Restaurant</a></li>
    <li><a href="/restaurants/{{restaurant.id}}/events">Calendar</a></li>
  {{/contains}}
</ul>