<div class="panel menu-category-picker">
  <div class="panel-heading">
    Menu Categories
    <ul class="nav nav-tabs menu-category-picker-tabs">
      <li class="active">
        <a href="#full" class="btn-category" data-toggle="tab" data-type="full">Full Menu</a>
      </li>
      <li>
        <a href="#group" class="btn-category" data-toggle="tab" data-type="group">Group Menu</a>
      </li>
      <li>
        <a href="#individual" class="btn-category" data-toggle="tab" data-type="individual">Individual Menu</a>
      </li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="full">
        {{! list all categories }}
        {{#each restaurant.categories}}
        {{#contains this.category_types "group"}}
        <div class="menu-category-picker-col">
          <a href="#category-{{this.id}}-group">[Group] {{ this.name }}</a>
        </div>
        {{/contains}}
        {{/each}}

        {{#each restaurant.categories}}
        {{#contains this.category_types "individual"}}
        <div class="menu-category-picker-col">
          <a href="#category-{{this.id}}-individual">[Individual] {{ this.name }}</a>
        </div>
        {{/contains}}
        {{/each}}
      </div>
      
      <div class="tab-pane" id="group">
        {{! list group style categories }}
        {{#each restaurant.categories}}
        {{#contains this.category_types "group"}}
        <div class="menu-category-picker-col">
          <a href="#category-{{this.id}}-group">[Group] {{ this.name }}</a>
        </div>
        {{/contains}}
        {{/each}}
      </div>
      
      <div class="tab-pane" id="individual">
        {{! list individual style categories }}
        {{#each restaurant.categories}}
        {{#contains this.category_types "individual"}}
        <div class="menu-category-picker-col">
          <a href="#category-{{this.id}}-individual">[Individual] {{ this.name }}</a>
        </div>
        {{/contains}}
        {{/each}}
      </div>
    </div>
  </div>
</div>