{{#extend "css"}}
<link rel="stylesheet" href="/css/yelp-reviews.css">
{{/extend}}

<h4 class="tab-header rating-header">
  Overall Yelp Rating:
  <div class="rating">{{{ratingStars '4.3'}}}</div>
</h4>

<div class="reviews">
  <article class="review">
    <img src="http://placekitten.com/100/100" class="review-avatar">
    <div class="review-info">
      <h5 class="review-author">Jamie N.</h5>
      <div class="review-rating">{{{ratingStars '4' }}}</div>
      <p class="review-text">A quick weekend trip to Madison would not have been complete without a late night stop at Ian's. The line was INSANE (or at least it semeed so to me, as an... <a href="#">Read More</a></p>
    </div>
  </article>

  <article class="review">
    <img src="http://placekitten.com/100/100" class="review-avatar">
    <div class="review-info">
      <h5 class="review-author">Jamie N.</h5>
      <div class="review-rating">{{{ratingStars '4' }}}</div>
      <p class="review-text">A quick weekend trip to Madison would not have been complete without a late night stop at Ian's. The line was INSANE (or at least it semeed so to me, as an... <a href="#">Read More</a></p>
    </div>
  </article>

  <article class="review">
    <img src="http://placekitten.com/100/100" class="review-avatar">
    <div class="review-info">
      <h5 class="review-author">Jamie N.</h5>
      <div class="review-rating">{{{ratingStars '4' }}}</div>
      <p class="review-text">A quick weekend trip to Madison would not have been complete without a late night stop at Ian's. The line was INSANE (or at least it semeed so to me, as an... <a href="#">Read More</a></p>
    </div>
  </article>

  <article class="review">
    <img src="http://placekitten.com/100/100" class="review-avatar">
    <div class="review-info">
      <h5 class="review-author">Jamie N.</h5>
      <div class="review-rating">{{{ratingStars '4' }}}</div>
      <p class="review-text">A quick weekend trip to Madison would not have been complete without a late night stop at Ian's. The line was INSANE (or at least it semeed so to me, as an... <a href="#">Read More</a></p>
    </div>
  </article>

  <article class="review">
    <img src="http://placekitten.com/100/100" class="review-avatar">
    <div class="review-info">
      <h5 class="review-author">Jamie N.</h5>
      <div class="review-rating">{{{ratingStars '4' }}}</div>
      <p class="review-text">A quick weekend trip to Madison would not have been complete without a late night stop at Ian's. The line was INSANE (or at least it semeed so to me, as an... <a href="#">Read More</a></p>
    </div>
  </article>

  <article class="review">
    <img src="http://placekitten.com/100/100" class="review-avatar">
    <div class="review-info">
      <h5 class="review-author">Jamie N.</h5>
      <div class="review-rating">{{{ratingStars '4' }}}</div>
      <p class="review-text">A quick weekend trip to Madison would not have been complete without a late night stop at Ian's. The line was INSANE (or at least it semeed so to me, as an... <a href="#">Read More</a></p>
    </div>
  </article>
</div>