<div class="panel menu-picker">
  <div class="panel-heading">
    Menus
    {{#with restaurant.menuLengths}}
    <ul class="nav nav-tabs menu-picker-tabs">
      <li class="active">
        <a href="#full" class="btn-category" data-toggle="tab" data-type="full">Full Menu ({{#if full}}{{full}}{{else}}0{{/if}})</a>
      </li>
      <li>
        <a href="#group" class="btn-category" data-toggle="tab" data-type="group">Group Menu ({{#if group}}{{group}}{{else}}0{{/if}})</a>
      </li>
      <li>
        <a href="#individual" class="btn-category" data-toggle="tab" data-type="individual">Individual Menu ({{#if individual}}{{individual}}{{else}}0{{/if}})</a>
      </li>
    </ul>
    {{/with}}
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="full">
        {{! list all categories }}
        {{#each restaurant.categories}}
        {{#contains menus "group"}}
        <div class="menu-picker-col">
          <a href="#category-{{id}}-group">[Group] {{name}}</a>
        </div>
        {{/contains}}
        {{/each}}

        {{#each restaurant.categories}}
        {{#contains menus "individual"}}
        <div class="menu-picker-col">
          <a href="#category-{{id}}-individual">[Individual] {{name}}</a>
        </div>
        {{/contains}}
        {{/each}}
      </div>
      
      <div class="tab-pane" id="group">
        {{! list group style categories }}
        {{#each restaurant.categories}}
        {{#contains menus "group"}}
        <div class="menu-picker-col">
          <a href="#category-{{id}}-group">[Group] {{name}}</a>
        </div>
        {{/contains}}
        {{/each}}
      </div>
      
      <div class="tab-pane" id="individual">
        {{! list individual style categories }}
        {{#each restaurant.categories}}
        {{#contains menus "individual"}}
        <div class="menu-picker-col">
          <a href="#category-{{id}}-individual">[Individual] {{name}}</a>
        </div>
        {{/contains}}
        {{/each}}
      </div>
    </div>
  </div>
</div>