<div class="panel panel-no-padding photo-gallery">
  <section class="selected-photo">
    {{#with photos.[0]}}
    <button class="pager previous">◀</button>
    <div class="photo-container">
      <img class="photo-img" src="{{{filepicker url}}}">
    </div>
    <button class="pager next">▶</button>
    <div class="photo-name">{{name}}</div>
    <div class="photo-description">{{description}}</div>
    {{/with}}
  </section>

  <section class="photo-thumbnails">
    <button class="pager previous">◀</button>
    {{#each photos}}<img width="50" height="50" src="{{filepicker url 50 50}}" data-photo-idx="{{@index}}" class="photo-thumbnail {{#eq @index 0}}active{{/eq}}">{{/each}}
    <button class="pager next">▶</button>
  </section>
</div>