{{#extend "css"}}
<link rel="stylesheet" href="/css/yelp-reviews.css">
{{/extend}}

<div class="panel-body">
  <h4 class="tab-header rating-header">
    {{#if restaurant.yelp_data.rating}}
    Overall Yelp Rating:
    <div class="rating">{{{ratingStars ../restaurant.yelp_data.rating}}}</div>
    {{/if}}
  </h4>

  {{#if restaurant.yelp_data.reviews}}
  <div class="reviews">
    {{#each ../restaurant.yelp_data.reviews}}
      <article class="review">
      <img src="{{this.user.image_url}}" class="review-avatar">
      <div class="review-info">
        <h5 class="review-author">{{this.user.name}}</h5>
        <div class="review-rating">{{{ratingStars this.rating }}}</div>
        <p class="review-text">{{this.excerpt}}... <a href="http://www.yelp.com/biz/{{../../restaurant.yelp_business_id}}#hrid:{{this.id}}" target="_blank">Read More</a></p>
      </div>
    </article>
    {{/each}}
  </div>
  {{/if}}

  <div class="tab-actions row">
    <a href="{{restaurant.yelp_data.url}}" class="btn btn-primary" target="_blank">See all ({{restaurant.yelp_data.review_count}}) Reviews</a>
  </div>
</div>

<a href="http://yelp.com" class="anchor-yelp" target="_blank">
  Reviews powered by
  <img class="logo" src="{{cdn "/img/yelp-logo.png"}}" alt="Yelp!">
</a>
