{{#extend "css"}}

{{/extend}}

{{#if photos}}
<div class="photos">

  {{#each photos}}
  {{#eq @index 0}}
  <div class="jumbo">
    <img src="{{filepicker url 718 350}}">
    <h2><span>{{name}}</span></h2>
  </div>
  {{else}}
  <div class="tile">
    <img src="{{filepicker url 350 350}}">
    <h2><span>{{name}}</span></h2>
  </div>

  {{/eq}}
  {{/each}}
</div>
{{/if}}
