<thead>
  <tr>
    <th>Recipients</th>
    <th>Name</th>
    <th>Data</th>
    <th>Send Date</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  {{#each items}}
    <tr {{#if this.error}}class="failed-notification"{{/if}}>
    <td>{{{list this.data.to}}}</td>
    <td>{{this.name}}</td>
    <td>{{{this.data_html}}}</td>
    <td>{{formatDateTimeWithTz this.created_at ../req.user.region.timezone "MM/DD/YYYY h:mma z"}}</td>
    <td class="actions">
      <button
        class="btn btn-small btn-default btn-highlight"
        data-cid="{{this.cid}}"
      >Highlight in Available</button>
    </td>
  </tr>
  {{/each}}
</tbody>
