{{#if items}}
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Sent</th>
      <th>Recipients</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td>
        {{this.name}}
        <div>
          {{{this.data_html}}}
        </div>
      </td>
      <td>{{formatDateTime this.send_date "ddd MMM DD, YYYY h:mma"}}</td>
      <td>{{{recipientList this.data.to}}}</td>
      <td class="actions">
        <button
          class="btn btn-small btn-default btn-highlight"
          data-cid="{{this.cid}}">
            Highlight in Available
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
{{else}}
  <div class="no-history">
    No history yet.
  </div>
{{/if}}
