{{#if order.restaurant.amenities}}
<div class="col-md-12">
  <legend>Extras</legend>
  <p>
    {{#each order.restaurant.amenities}}
    {{#if enabled}}
    <div class="amenity" data-amenity-id="{{id}}">
      <input
        type="checkbox"
        value="{{price}}"
        {{#if checked}}checked{{/if}}> {{name}} {{#if description}}- {{description}}{{/if}}
        ({{surcharge price}})
    </div>
    {{/if}}
    {{/each}}
  </p>
</div>
{{/if}}