<div class="amenity" data-amenity-id="{{id}}">
  <input
    type="checkbox"
    value="{{price}}"
    {{#if checked}}checked{{/if}}> {{name}} {{#if description}}- {{description}}{{/if}}
    {{#eq scale "multiply"}}
    ({{surcharge (multiply price ../../../order.guests)}})
    {{/eq}}
    {{#eq scale "flat"}}
    ({{surcharge price}})
    {{/eq}}
</div>
