<div class="panel-heading">
  <h2 class="panel-title">Your order</h2>
</div>
<div class="panel-body">
  <div class="without-items{{#if order.orderItems.length}} hide{{/if}}">
    <p>Click a menu item to start building an order or call us at <strong>{{phoneNumber (or user.region.support_phone config.phone.support)}}</strong> to place it for you!</p>
    {{#if order.restaurant.minimum_order}}
    <p class="minimum-order">Minimum order: {{dollars order.restaurant.minimum_order}}</p>
    {{/if}}
  </div>

  <div>
    <table class="table order-table with-items{{#unless order.orderItems.length}} hide{{/unless}}">
      <tbody>
        {{#each order.orderItems}}
        <tr id="order-item-{{this.id}}" data-id="{{this.id}}">{{> order_item_summary}}</tr>
        {{/each}}

        {{#each order.restaurant.amenities}}
        <tr data-amenity-id="{{id}}" class="{{#unless checked}}hide{{/unless}}" >
          <td class="item-name">{{name}}
          {{#if description}}<ul class="comma-separated item-options"><li>{{description}}</li></ul>{{/if}}
          </td>
          <td class="item-quantity">
            {{#eq scale "multiply"}}
            x {{ ../../order.guests }}
            {{/eq}}
          </td>
          <td class="item-price">
            {{#eq scale "multiply"}}
            {{surcharge (multiply price ../../order.guests)}}
            {{/eq}}
            {{#eq scale "flat"}}
            {{surcharge price}}
            {{/eq}}
          </td>
          </label>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
