<div class="list-item" data-type="{{this.type}}" data-status="{{this.status}}">
  <label class="component item-selector">
    <input type="checkbox">
  </label>
  <div class="component order-type">
    <div class="type-icon"
      data-toggle="tooltip"
      data-placement="auto"
      data-container="body"
      data-title="Delivery Order"></div>
  </div>
  <div class="component main">
    <a class="item-title" href="#">#{{this.id}} - {{this.restaurant.name}}</a>
    <span class="label-tag label-status small {{this.status}}">{{this.status}}</span>
    <div class="user-details">
      <a href="#">{{this.user.name}}</a> - {{this.user.organization}}
    </div>
    <dl class="item-details dl-horizontal-auto">
      <div>
        <dt>Submitted:</dt>
        <dd>{{datepart this.datetime}} - {{timepart this.datetime}}</dd>
      </div>
      <div>
        <dt>Total:</dt>
        <dd>${{dollars this.total}}</dd>
      </div>
    </dl>
    <div class="more-actions-and-info small top">
      <div class="info order-type">{{this.type}}</div>
      <div class="info order-status">{{this.status}}</div>
    </div>
    <div class="more-actions-and-info bottom">
      <button class="action btn-default" data-action="cancel">Cancel</button>
      <button class="action btn-default" data-action="copy">Order Again?</button>
    </div>
  </div>
</div>
