{{#gt order.orderItems.length 0}}
<div class="list-group-item list-group-item-order-table">
  <table class="table order-table">
    <tbody>
      {{#each order.orderItems}}
      <tr>
        <td class="item-name">
          {{this.name}}
          <a class="item-edit" href="#" data-id="{{this.id}}">Edit</a>
        </td>
        <td class="item-quantity">x {{this.quantity}}</td>
        <td class="item-price">{{dollars this.sub_total}}</td>
      </tr>
      {{/each}}

      <tfoot>
        <tr>
          <td colspan="2" class="item-name"></td>
          <td class="item-price"></td>
        </tr>
      </tfoot>
    </tbody>
  </table>
</div>
<div class="list-group-item list-group-item-checkout">
  <button class="btn btn-primary btn-checkout">Checkout</button>
</div>
{{else}}
<div class="list-group-item">
  <p class="list-item-text no-items">Click a menu item on the left to add it to your order.</p>
</div>
{{/gt}}