<div class="list-group order-list-group">
  {{#each orders}}
  <a id="order-{{id}}" class="list-group-item" href="/orders/{{this.id}}{{#eq status "pending"}}/items{{/eq}}" data-status="{{status}}" data-id="{{id}}">
    {{#include parent=..}}
      {{> order_list_item}}
    {{/include}}
  </a>
  {{else}}
  <h2 class="text-center">No Orders</h2>
  {{/each}}
</div>

{{> copy_order_error_modal}}

{{#extend "scripts"}}
<script>
  require([
      'jquery'
    , 'app/models/order'
    , 'app/views/order-list-item-view'
    ]
  , function($, Order, OrderListItemView) {
    {{#each orders}}
      new OrderListItemView({
        el: "#order-{{id}}"
      , model: new Order({{{json this}}})
      });
    {{/each}}
    }
  );
</script>
{{/extend}}
