<p class="calendar-popover-info">
{{#if datetime}}
  <div>Delivery Date: {{datepart datetime}} @ {{timepart datetime}}</div>
{{/if}}
{{#if guests}}
  <div>Guests: {{guests}}</div>
{{/if}}
{{#if sub_total}}
  <div>Subtotal: ${{dollars sub_total}}</div>
{{/if}}
</p>
<p class="calendar-popover-actions">
  <a href="/orders/{{id}}">Click here to view order</a>
</p>
{{{log this}}}