<div class="order-params-bar panel">
  <form class="form-inline">
    <div class="form-group form-group-title">
      <strong class="form-title">Find Catering</strong>
    </div>

    <div class="form-group" data-icon="gb-icon-location">
      <input list="zips" type="text" class="form-control form-control-zip" name="zip" placeholder="zip" maxlength="5" value="{{#if defaultAddress}}{{defaultAddress.zip}}{{else}}{{or orderParams.zip order.zip}}{{/if}}"/>
      <datalist id="zips">
        {{#if defaultAddress }}
        <option value="{{defaultAddress.zip}}">Your Default Address</option>
        {{/if}}
        {{#each order.restaurant.delivery_zip_groups}}
          {{#each this.zips}}
            <option value="{{this}}">
          {{/each}}
        {{/each}}
      </datalist>
    </div>

    <div class="form-group" data-icon="gb-icon-calendar">
      <input type="text" class="form-control" name="date" placeholder="delivery date" maxlength="10" value="{{#if orderParams}}{{formatDateTime orderParams.date}}{{/if}}"/>
    </div>

    <div class="form-group" data-icon="gb-icon-time">
      <input type="text" class="form-control form-control-time" name="time-range" placeholder="delivery time" value="{{#if orderParams.time}}{{join (timeToRange (formatTime orderParams.time "h:mm A") "h:mm A") " - "}}{{/if}}" disabled="true" />
      <input type="text" class="form-control form-control-time" name="time" placeholder="delivery time" maxlength="8" value="{{#if orderParams}}{{formatTime orderParams.time}}{{/if}}"/>
    </div>

    <div class="form-group" data-icon="gb-icon-user">
      <input type="text" class="form-control form-control-guests" name="guests" placeholder="guests" maxlength="4" value="{{#if orderParams}}{{orderParams.guests}}{{/if}}"/>
    </div>

    <a href="/restaurants{{queryParams orderParams}}" class="btn btn-primary btn-search form-group">
      Search <i class="btn-search-icon gb-icon-magnifier"></i>
    </a>
  </form>
</div>
