<fieldset class="col-xs-6 delivery-info-date">
  {{#unless edit}}

  {{#if order.name}}<p><strong>{{order.name}}</strong></p>{{/if}}
  <dl class="dl-horizontal no-margin">
    {{#if show_pickup}}
    <dt>Pickup Date:</dt>
    <dd>{{datepart order.pickup_datetime}}</dd>
    <dt>Pickup Time:</dt>
    <dd>
      {{timepart order.pickup_datetime}}
      {{#contains user.groups 'admin'}}
        {{formatDateTimeWithTz order.pickup_datetime order.timezone "z"}}
      {{/contains}}
    </dd>
    {{else}}
    <dt>Delivery Date:</dt>
    <dd>{{datepart order.datetime}}</dd>
    <dt>Delivery Time:</dt>
    <dd>
      {{#contains user.groups 'restaurant'}}
        {{timepart order.datetime}}
      {{else}}
        {{join (timeToRange (timepart order.datetime) "h:mm A") " - "}}
      {{/contains}}
      {{#contains user.groups 'admin'}}
        {{formatDateTimeWithTz order.datetime order.timezone "z"}}
      {{/contains}}
    </dd>
    {{/if}}
    <dt>Guests:</dt>
    <dd>{{order.guests}}</dd>
  </dl>
  {{#eq order.type 'courier'}}
  {{#if user.isAdmin}}
  <p class="delivery-service-note">* This order will be delivered by {{or order.delivery_service.name 'a third-party delivery service'}}.</p>
  {{/if}}
  {{/eq}}
  <p>{{order.notes}}</p>

  {{else}}

  <div class="form-group">
    <label class="control-label">Order Name</label>
    <input type="text" class="form-control order-name" value="{{order.name}}" placeholder="e.g. Tuesday Meeting">
  </div>
  <div class="form-group form-group-delivery-date" data-icon="gb-icon-calendar">
    <label class="control-label" for="order-date">Delivery Date</label>
    <input type="text" class="form-control order-datetime" id="order-date" value="{{#if order.datetime}}{{formatDateTime order.datetime}}{{else}}{{formatDateTime orderParams.date}}{{/if}}">
  </div>
  <div class="form-group form-group-delivery-time" data-icon="gb-icon-time">
    <label class="control-label" for="order-time">Delivery Time</label>
    <input type="text" class="form-control order-datetime" id="order-time" value="{{#if order.datetime}}{{formatDateTime order.datetime 'hh:mm A'}}{{else}}{{formatTime orderParams.time}}{{/if}}">
  </div>
  <div class="form-group" data-icon="gb-icon-user">
    <label class="control-label" for="order-guests">Guests</label>
    <input type="number" class="form-control" id="order-guests" value="{{#if order.guests}}{{order.guests}}{{else}}{{orderParams.guests}}{{/if}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="order-notes">Notes</label>
    <textarea id="order-notes" class="form-control order-notes" rows="5">{{order.notes}}</textarea>
  </div>

  {{/unless}}
</fieldset>

<fieldset class="col-xs-6 delivery-info-address">
  {{#if order.user.name}}
  <div><strong>{{order.user.name}}</strong></div>
  {{/if}}
  {{#if order.user.organization}}
  <div><strong>{{order.user.organization}}</strong></div>
  {{/if}}

  {{#unless edit}}
  {{#with orderAddress.address}}
  {{> address}}
  {{/with}}
  {{else}}
  {{#with orderAddress}}
  {{> edit_address}}
  {{/with}}
  <div class="btn-toolbar pull-right">
    <button type="button" class="btn btn-default cancel-edit-address-btn">Cancel</button>
    <button type="button" class="btn btn-success save-btn">Save</button>
  </div>
  {{/unless}}
</fieldset>
