<td class="item-name">
  {{name}}
  {{#if recipient}}<span class="order-item-recipient">for {{recipient}}</span>{{/if}}

  <ul class="comma-separated item-options">
  {{#each options_sets}}
    {{#each this.options}}
      {{#if this.state}}
        <li>{{this.name}}</li>
      {{/if}}
    {{/each}}
  {{/each}}
  </ul>

  {{#unless this.hideEdit}}
    <a class="item-edit" href="#" data-id="{{id}}">Edit</a>
  {{/unless}}
</td>
<td class="item-quantity">x {{quantity}}</td>
<td class="item-price">{{dollars sub_total}}</td>
