<p>
  <ul class="calendar-popover-info list-unstyled">
  {{#if name}}
    <li><strong>{{restaurant.name}}</strong></li>
  {{/if}}
  {{#if datetime}}
    <li>Delivery Date: {{datepart datetime}} @ {{timepart datetime}}</li>
  {{/if}}
  {{#if guests}}
    <li>Guests: {{guests}}</li>
  {{/if}}
  {{#if total}}
    <li>Total: ${{dollars total}}</li>
  {{/if}}
  {{#if status}}
    <li>Status: {{capitalize status}}</li>
  {{/if}}
  </ul>
  <div class="calendar-popover-actions">
    <a href="/orders/{{id}}">Click here to view order</a>
  </div>
</p>
