<div class="payment-method" data-card-id="{{id}}">
  {{#if name}}<div>{{capitalize name}}</div>{{/if}}
  <div class="payment-method-info"><strong>{{capitalize data.card_type}}</strong> ending in {{data.last_four}}</div>
  <div>Expires {{pad data.expiration_month 2 }}/{{data.expiration_year}}</div>
  <div class="btn-toolbar">
     <button type="button" class="btn btn-default btn-remove-card">Remove Card</button>
  </div>
</div>
