<thead>
  <tr>
    <th>Order #</th>
    <th>Delivery Fee</th>
    <th>Tip</th>
    <th>Order Total</th>
    <th>GB Fee</th>
    <th>Sales Tax</th>
    <th>Net Payout</th>
    <th class="col-actions"></th>
  </tr>
</thead>
<tbody>
  {{#each collection}}
  <tr data-id="{{this.id}}" data-cid="{{this.cid}}">
    <td>
      <div class="input-group">
        <span class="input-group-addon">#</span>
        <input name="order_id"
          class="form-control"
          type="number"
          value="{{this.order_id}}"
          list="{{../options.dataListId}}">
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input name="delivery_Fee"
          class="form-control"
          type="number"
          value="{{dollars this.delivery_Fee}}">
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input name="tip"
          class="form-control"
          type="number"
          value="{{dollars this.tip}}">
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input name="order_total"
          class="form-control"
          type="number"
          value="{{dollars this.order_total}}">
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">-$</span>
        <input name="gb_fee"
          class="form-control"
          type="number"
          value="{{dollars this.gb_fee}}">
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">-$</span>
        <input name="sales_tax"
          class="form-control"
          type="number"
          value="{{dollars this.sales_tax}}">
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input name="net_payout"
          class="form-control"
          type="number"
          value="{{dollars this.net_payout}}">
      </div>
      </td>
    <td class="col-actions">
      <button class="btn btn-sm btn-danger item-delete">&times;</button>
    </td>
  </tr>
  {{/each}}
</tbody>