{{! Displays map and restaurant contact info }}
{{#with restaurant}}
<div class="panel restaurant-map-container">
  <ul class="list-group">

    {{! Restaurant Map }}
    <li class="list-group-item">
      <div class="restaurant-map"></div>
    </li>

    {{! Restaurant Contact Info }}
    <li class="list-group-item no-padding">

      {{! Left column }}
      <div class="col-md-6">
        <dl>
          <dt>Address:</dt>
          <dd>
            <div>{{street}}</div>
            <div>{{street2}}</div>
            <div>{{city}}, {{state}} {{zip}}</div>
          </dd>
        </dl>
        {{#if websites}}
        <dl>
          <dt>Website:</dt>
          <dd>
            {{#each websites}}
            <div><a href="{{website this}}">{{website this}}</a></div>
            {{/each}}
          </dd>
        </dl>
        {{/if}}
      </div>

      {{! Right column }}
      <div class="col-md-6">
        <dl>
          <dt>Phone:</dt>
          <dd>{{phoneNumber (or ../user.region.support_phone ../config.phone.support)}}</dd>
        </dl>
      </div>
    </li>
  </ul>
</div>
{{/with}}
