{{#each restaurant.categories}}
  {{#contains menus "group"}}
    <div id="group-{{id}}" class="menu-category menu-full menu-group">
      <div class="category-heading">
        <span class="category-type-icon" data-icon="gb-icon-group"></span>
        <span class="category-name">{{name}}</span>
        {{#if description}}<div class="category-description">{{description}}</div>{{/if}}
      </div>
    </div>
    <div class="list-group" id="category-{{id}}">
      {{#each items}}
      <a href="#" class="list-group-item" id="item-{{id}}">
        <div class="menu-item-name">{{name}}{{> tags tags}}</div>
        <div class="menu-item-stats">
          <dl>
            <dt>Feeds</dt>
            <dd>{{range feeds_min feeds_max}}</dd>
            <dt>Price</dt>
            <dd>{{dollars price}}</dd>
          </dl>
        </div>
        <div class="menu-item-description">{{description}}</div>
      </a>
      {{/each}}
    </div>
  {{/contains}}
{{/each}}

{{#each restaurant.categories}}
  {{#contains menus "individual"}}
    <div id="group-{{id}}" class="menu-category menu-full menu-individual">
      <div class="category-heading">
        <span class="category-type-icon" data-icon="gb-icon-individual"></span>
        <span class="category-name">{{name}}</span>
        {{#if description}}<div class="category-description">{{description}}</div>{{/if}}
      </div>
    </div>
    <div class="list-group" id="category-{{id}}">
      {{#each items}}
      <a href="#" class="list-group-item" id="item-{{id}}">
        <div class="menu-item-name">{{name}}{{> tags tags}}</div>
        <div class="menu-item-stats">
          <dl>
            <dt>Feeds</dt>
            <dd>{{range feeds_min feeds_max}}</dd>
            <dt>Price</dt>
            <dd>{{dollars price}}</dd>
          </dl>
        </div>
        <div class="menu-item-description">{{description}}</div>
      </a>
      {{/each}}
    </div>
  {{/contains}}
{{/each}}
