<ul class="restaurant-edit-menu nav nav-vertical ap-nav-vertical
{{~#if sidebarNav.isNew}} disabled{{/if}}">
  <li{{#eq sidebarNav.active "basic-info"}} class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/basic-info">Basic Info</a>
  </li>
  <li {{#eq sidebarNav.active "contacts"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/contacts">Contacts</a>
  </li>
  <li {{#eq sidebarNav.active "delivery-settings"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/delivery-settings">Delivery Settings</a>
  </li>
  <li {{#eq sidebarNav.active "hours-of-operation"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/hours-of-operation">Hours of Operation</a>
  </li>
  <li {{#eq sidebarNav.active "tags"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/tags">Tags</a>
  </li>
  <li {{#eq sidebarNav.active "address"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/address">Address</a>
  </li>
  <li {{#eq sidebarNav.active "menu"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/menu">Menu</a>
  </li>
  <li {{#eq sidebarNav.active "photos"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/photos">Photos</a>
  </li>
  <li {{#eq sidebarNav.active "billing-info"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/billing-info">Billing Info</a>
  </li>
  <li {{#eq sidebarNav.active "payment-summaries"}}class="active"{{/eq}}>
    <a href="{{sidebarNav.baseUrl}}/payment-summaries" target="_blank">Payment Summaries</a>
  </li>
</ul>