<ul class="restaurant-edit-menu nav nav-vertical ap-nav-vertical">
  <li {{#eq active_tab "basic-info"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/basic-info">Basic info</a>
  </li>
  <li {{#eq active_tab "contacts"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/contacts">Contacts</a>
  </li>
  <li {{#eq active_tab "delivery-settings"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/delivery-settings">Delivery Settings</a>
  </li>
  <li {{#eq active_tab "hours-of-operation"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/hours-of-operation">Hours of Operation</a>
  </li>
  <li {{#eq active_tab "tags"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/tags">Tags</a>
  </li>
  <li {{#eq active_tab "address"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/address">Address</a>
  </li>
  <li {{#eq active_tab "menu"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/menu">Menu</a>
  </li>
  <li {{#eq active_tab "photos"}}class="active"{{/eq}}>
    <a href="/admin/restaurants/{{restaurant.id}}/photos">Photos</a>
  </li>
</ul>
