{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/restaurant-filters.css"}}">
{{/extend}}

<h4>Filter by:</h4>
<div class="panel-group panel-group-filters" id="filters">
  {{! Diet Section }}
  <div class="panel panel-default" data-facet="tags">
    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#panelDiet" href="javascript:void(0)">
      <span class="glyphicon glyphicon-chevron-right active"></span> Special Diets
    </div>
    <div id="panelDiet" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="glutenFree" {{#contains orderParams.diets "glutenFree"}}checked="checked"{{/contains}}>
            <span class="tag tag-gluten-free tag-tooltip" data-title="Gluten-Free" data-original-title="" title=""></span>
            Gluten-Free
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="dairyFree" {{#contains orderParams.diets "dairyFree"}}checked="checked"{{/contains}}>
            <span class="tag tag-dairy-free tag-tooltip" data-title="Dairy-Free" data-original-title="" title=""></span>
            Dairy-Free
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="vegetarian" {{#contains orderParams.diets "vegetarian"}}checked="checked"{{/contains}}>
             <span class="tag tag-vegetarian tag-tooltip" data-title="Vegetarian" data-original-title="" title=""></span>
             Vegetarian
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="vegan" {{#contains orderParams.diets "vegan"}}checked="checked"{{/contains}}>
            <span class="tag tag-vegan tag-tooltip" data-title="Vegan" data-original-title="" title=""></span>
            Vegan
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="halal" {{#contains orderParams.diets "halal"}}checked="checked"{{/contains}}>
            <span class="tag tag-halal tag-tooltip" data-title="Halal" data-original-title="" title=""></span>
            Halal
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="kosher" {{#contains orderParams.diets "kosher"}}checked="checked"{{/contains}}>
            <span class="tag tag-kosher tag-tooltip" data-title="Kosher" data-original-title="" title=""></span>
            Kosher
          </label>
        </div>
      </div>
    </div>
  </div>

  {{! Cuisine Types }}
  <div class="panel panel-default" data-facet="cuisine">
    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#panelCuisine" href="javascript:void(0)">
      <span class="glyphicon glyphicon-chevron-right"></span> Cuisine
    </div>
    <div id="panelCuisine" class="panel-collapse collapse {{#if orderParams.cuisines}}in{{/if}}">
      <div class="panel-body">
        {{#each filterCuisines}}
        <div class="checkbox">
          <label><input type="checkbox" value="{{this}}" {{#contains ../orderParams.cuisines this}}checked="checked"{{/contains}}> {{this}}</label>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{! Meal Types }}
  <div class="panel panel-default" data-facet="meal_types">
    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#panelMealTypes" href="javascript:void(0)">
      <span class="glyphicon glyphicon-chevron-right"></span> Meal Types
    </div>
    <div id="panelMealTypes" class="panel-collapse collapse {{#if orderParams.mealTypes}}in{{/if}}">
      <div class="panel-body">
        {{#each filterMealTypes}}
        <div class="checkbox">
          <label><input type="checkbox" value="{{name}}" {{#contains ../orderParams.mealTypes name}}checked="checked"{{/contains}}> {{name}}</label>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>