<ul class="restaurant-edit-menu">
  <li {{#eq active_tab "basic-info"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/basic-info">Basic info</a>
  </li>
  <li {{#eq active_tab "contacts"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/contacts">Contacts</a>
  </li>
  <li {{#eq active_tab "delivery-settings"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/delivery-settings">Delivery Settings</a>
  </li>
  <li {{#eq active_tab "lead-times"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/lead-times">Lead Times</a>
  </li>
  <li {{#eq active_tab "tags"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/tags">Tags</a>
  </li>
  <li {{#eq active_tab "address"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/address">Address</a></li>
  <li {{#eq active_tab "menu"}}class="active"{{/eq}}>
    <a href="/restaurants/{{restaurant.id}}/edit/menu">Menu</a>
  </li>
</ul>