<div id="restaurant-event-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          {{title}} <small>{{date_range}}</small>
        </h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div>
          </div>
          <div class="form-group">
            <label for="event-name">Name of event (required)</label>
            <input type="text" class="form-control event-name" id="event-name" placeholder="Enter event name" value="{{title}}">
          </div>
          <div class="form-group">
            <label for="event-description">Description</label>
            <input type="text" class="form-control event-description" id="event-description" placeholder="Description" value="{{description}}">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="event-closed" {{#if closed}}checked{{/if}}> Closed
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default btn-remove-event" data-id="{{id}}">Remove Event</button>
        <button type="button" class="btn btn-primary btn-create-event">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->