<article class="review">
  <img src="{{user.image_url}}" class="review-avatar">
  <div class="review-info">
    <h5 class="review-author">Jamie N.</h5>
    <div class="review-rating">{{{ratingStars rating }}}</div>
    <p class="review-text">{{excerpt}}... <a href="http://www.yelp.com/biz/{{business_id}}#hrid:{{id}}">Read More</a></p>
  </div>
</article>