{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/order-totals.css"}}">
{{/extend}}

<dl class="dl-horizontal order-totals">
  {{#if order.payment_method}}
    <dt class="dt-card">Card #:</dt>
    <dd>****{{order.payment_method.data.last_four}}</dd>
  {{/if}}
  {{#if order.restaurant.minimum_order}}
  <div class="minimum {{#if order.below_min}} error {{/if}}">
    <dt>Order Minimum:</dt>
    <dd>{{dollars order.restaurant.minimum_order}}</dd>
  </div>
  {{/if}}
  <dt>Subtotal:</dt>
  <dd>{{dollars order.sub_total}}</dd>
  <dt>Delivery Fee:</dt>
  <dd>{{dollars order.delivery_fee}}</dd>
  <dt>Tax:</dt>
  <dd>{{dollars order.sales_tax}}</dd>
  {{#dneq step 1}}
  <dt>Tip:</dt>
  <dd>{{dollars order.tip}}</dd>
  {{/dneq}}
  {{#unless order.restaurant.plan_id}}
  {{#if order.restaurant.no_contract_fee}}
  <dt>Transaction Fee <i class="gb-icon-question tx-fee-popover" data-toggle="popover"></i></dt>
  <dd>{{dollars order.no_contract_amount}}</dd>
  {{/if}}
  {{/unless}}
  <dt class="total">Total:</dt>
  {{#if isRestaurantReview}}
  <dd class="total">{{dollars order.restaurant_total}}</dd>
  {{else}}
  <dd class="total">{{dollars order.total}}</dd>
  {{/if}}
</dl>
