{{#each orders}}
{{!-- {{{json this}}} --}}
<tr class="table-row" data-order-type="{{type}}">
  <td><a href="/orders/{{id}}">#{{id}}</a>
    {{#if this.priority_account_price_hike_percentage}}
      <span class="priority-label label-tag small orange">Priority</span>
    {{/if}}
  </td>
  <td>{{capitalize type}} {{#eq type 'courier'}}(<a href="/admin/delivery-services/{{deliveryService.id}}">{{deliveryService.name}}</a>){{/eq}}</td>
  <td>{{datepart datetime}} {{timepart datetime}}</td>
  <td>{{datepart actual_delivery_datetime}} {{timepart actual_delivery_datetime}}</td>
  <td class="order-user">
    <a href="/admin/users/{{user.id}}">{{user.name}}</a>
    <div>{{{mailto user.email}}}</div>
  </td>
  <td>{{phoneNumber phone}}</td>
  <td><a href="/admin/restaurants/{{restaurant.id}}/basic-info">{{restaurant.name}}</a></td>
  <td>
    {{~#if location~}}
    <a href="/admin/restaurants/{{restaurant.id}}/locations/{{location.id}}">{{location.name}}</a>
    {{~else~}}
    N/A
    {{~/if~}}
  </td>
  <td><a href="/admin/regions">{{restaurant.region.name}}</a></td>
  <td>${{dollars total}}</td>
  <td>
    {{#if restaurant.plan_id}}
      <i class="gb-icon-checkmark"></i>
    {{/if}}
  <td class="order-tracking">{{#if (eq type 'courier')}}{{{makeAnchor courier_tracking_id}}}{{/if}}</td>
</tr>
{{/each}}
