{{#each orders}}
<tr class="table-row" data-order-type="{{type}}">
  <td><a href="/orders/{{id}}">#{{id}}</a>
    {{#if this.priority_account_price_hike_percentage}}
      <span class="priority-label label-tag small orange">Priority</span>
    {{/if}}
  </td>
  <td>{{capitalize type}} {{#eq type 'courier'}}(<a href="/admin/delivery-services/{{deliveryService.id}}">{{deliveryService.name}}</a>){{/eq}}</td>
  <td><input type="checkbox" {{#if restaurant.plan_id}}checked="checked"{{/if}} disabled></td>
  <td>{{datepart datetime}} {{timepart datetime}}</td>
  <td><a href="/admin/users/{{user.id}}">{{user.email}}</a></td>
  <td>{{user.organization}}</td>
  <td><a href="/admin/restaurants/{{restaurant.id}}">{{restaurant.name}}</a></td>
  <td>
    {{~#if location~}}
    <a href="/admin/restaurants/{{restaurant.id}}/locations/{{location.id}}">{{location.name}}</a>
    {{~else~}}
    N/A
    {{~/if~}}
  </td>
  <td><a href="/admin/regions">{{restaurant.region.name}}</a></td>
  <td>{{{makeAnchor courier_tracking_id}}}</td>
</tr>
{{/each}}
