<!--<OrderDetails>-->
<table cellpadding="0" cellspacing="0" style="width: 100%">
  <tr>
    <td class="main-width-constraint">
      <table class="main-width-constraint" cellpadding="0" cellspacing="0" style="width: 100%; background: #FFF5BE; border: solid #C0B497 1px; border-radius: 4px; padding-top: 8px; padding-bottom: 8px;">
      <!--<OrderDetailsBody>-->
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; font-style: italic; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: left">Order Number:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;"><a style="color: #1155cc" href="{{config.baseUrl}}/orders/{{order.id}}">#{{order.id}}</a></td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; font-style: italic; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: left">Address:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{>order_email_order_delivery_address order}}</td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; font-style: italic; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: left">Delivery Date:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{datepart order.datetime}}</td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; font-style: italic; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: left">Delivery Time:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{join (timeToRange (timepart order.datetime) "h:mm A") " - "}}</td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; font-style: italic; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: left">Guests:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;">{{order.guests}}</td>
      </tr>
      <tr>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; font-style: italic; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 10px; padding-left: 12px; text-align: left">Points Earned:</td>
        <td style="font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 13px; width: 50%; padding-top: 8px; padding-bottom: 8px; padding-right: 12px; text-align: left;"><a href="{{config.baseUrl}}/users/me/rewards" style="color: #1155cc">{{order.points}}</a></td>
      </tr>
      <!--</OrderDetailsBody>-->
    </table>
    </td>
  </tr>
</table>
<!--</OrderDetails>-->