<!--<OrderItems>-->
<table cellpadding="0" cellspacing="0" style="width: 100%; margin-left: auto; margin-right: auto; background: #ffffff; border: solid #e6e9ed 1px; border-radius: 2px">
  <tr>
    <th style="font-family: Helvetica, arial, sans-serif; color: #7D8590; font-size: 11px; padding-top: 5px; padding-bottom: 5px; padding-left: 22px; padding-right: 12px; text-align: left; border-bottom: solid 1px #e6e9ed; font-weight: 500">Item</th>
    <th style="font-family: Helvetica, arial, sans-serif; color: #7D8590; font-size: 11px; padding-top: 5px; padding-bottom: 5px; padding-left: 22px; padding-right: 12px; text-align: left; border-bottom: solid 1px #e6e9ed; font-weight: 500">Quantity</th>
    <th style="font-family: Helvetica, arial, sans-serif; color: #7D8590; font-size: 11px; padding-top: 5px; padding-bottom: 5px; padding-left: 22px; padding-right: 12px; text-align: right; border-bottom: solid 1px #e6e9ed; font-weight: 500">Price</th>
  </tr>
  {{#each order.orderItems}}
    <tr>
      <td style="{{#isOdd @index}}background: #f5f7fa; border-top: solid 1px #e6e9ed;{{/isOdd}}font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: left; width: 66%">{{name}}</td>
      <td style="{{#isOdd @index}}background: #f5f7fa; border-top: solid 1px #e6e9ed;{{/isOdd}}font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: left;"><span style="font-size: 10px">x</span>{{quantity}}</td>
      <td style="{{#isOdd @index}}background: #f5f7fa; border-top: solid 1px #e6e9ed;{{/isOdd}}font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: right;">{{dollars sub_total}}</td>
    </tr>
  {{/each}}
  {{#each order.restaurant.amenities}}
  {{#if checked}}
    <tr>
      <td style="{{#isOdd (add @index ../../order.orderItems.length)}}background: #f5f7fa; border-top: solid 1px #e6e9ed;{{/isOdd}}font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: left; width: 66%">{{name}}</td>
      <td style="{{#isOdd (add @index ../../order.orderItems.length)}}background: #f5f7fa; border-top: solid 1px #e6e9ed;{{/isOdd}}font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: left;">
        {{#eq scale "multiply"}}x{{../../../guests}}{{/eq}}
      </td>
      <td style="{{#isOdd (add @index ../../order.orderItems.length)}}background: #f5f7fa; border-top: solid 1px #e6e9ed;{{/isOdd}}font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: right;">
        {{#eq scale "multiply"}}
        {{surcharge (multiply price ../../../guests)}}
        {{/eq}}
        {{#eq scale "flat"}}
        {{surcharge price}}
        {{/eq}}
      </td>
    </tr>
  {{/if}}
  {{/each}}
  <tr>
    <td colspan="2" style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 26px; padding-bottom: 6px; padding-left: 22px; padding-right: 0; text-align: right; border-top: solid #e6e9ed 1px">Subtotal:</td>
    <td style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 26px; padding-bottom: 6px; padding-left: 22px; padding-right: 12px; text-align: right; border-top: solid #e6e9ed 1px">${{dollars order.sub_total}}</td>
  </tr>

  <tr>
    <td colspan="2" style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 6px; padding-bottom: 6px; padding-left: 22px; padding-right: 0; text-align: right;">Delivery Fee:</td>
    <td style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 6px; padding-bottom: 6px; padding-left: 22px; padding-right: 12px; text-align: right;">${{dollars order.delivery_fee}}</td>
  </tr>

  <tr>
    <td colspan="2" style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 6px; padding-bottom: 6px; padding-left: 22px; padding-right: 0; text-align: right;">Tax:</td>
    <td style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 6px; padding-bottom: 6px; padding-left: 22px; padding-right: 12px; text-align: right;">${{dollars order.sales_tax}}</td>
  </tr>

  <tr>
    <td colspan="2" style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 6px; padding-bottom: 6px; padding-left: 22px; padding-right: 0; text-align: right;">Tip:</td>
    <td style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 13px; padding-top: 6px; padding-bottom: 6px; padding-left: 22px; padding-right: 12px; text-align: right;">${{dollars order.tip}}</td>
  </tr>

  <tr>
    <td colspan="2" style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 14px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 0; text-align: right; font-weight: bolder;">Total:</td>
    <td style="font-family: Helvetica, arial, sans-serif; color: #434a54; font-size: 14px; padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 12px; text-align: right;">${{dollars order.total}}</td>
  </tr>
</table>
<!--</OrderItems>-->
