<ul class="breadcrumbs main-breadcrumbs">
  <li>
    <a href="/admin">Admin Panel</a>
  </li>
  <li>
    <a href="/admin/users">Users</a>
  </li>
  <li>
    <a href="/admin/users/{{edit_user.id}}">
      #{{edit_user.id}} {{edit_user.name}}
    </a>
  </li>
  <li>{{breadCrumbs.currentPage}}</li>
</ul>

<h1 class="page-title">Edit User - #{{edit_user.id}} {{edit_user.name}}</h1>